// BUTTONS
button, .btn, input[type="button"]
	border: none
	background: none
	cursor: pointer
	display: inline-block
	background-color: $main-color
	padding: 0.6em 1.2em
	line-height: 1em
	transition: background 100ms
	white-space: nowrap
	text-overflow: ellipsis
	overflow: hidden

	&.focus, &:focus, &:hover, &:active
		text-decoration: none

	&:active, &:focus
		outline: none
// END BUTTONS

// FORM
.form-group
	position: relative

	&.error
		.error-label
			// display: block
			opacity: 1
			transition: opacity .3s

	&.error
		.input-line
			background: #f41f52
			width: 100%

	.input-holder
		&:after
			background: #f41f52

	.error-label
		color: $error-color
		font-size: 1.3rem
		font-weight: 400
		line-height: 1.9rem
		opacity: 0
		position: absolute
		right: 0
		bottom: -2.1rem
		transition: opacity .3s
		// display: none
// END FORM

// CHECKBOX
.checkbox input[type="checkbox"]
	&:not(:checked), &:checked
		left: -9999rem
		position: absolute

	&:not(:checked) + label, &:checked + label
		cursor: pointer
		position: relative
		padding-left: 3.6rem

	&:not(:checked) + label:before, &:checked + label:before
		background: #eee
		content: ''
		border: 1px solid #383838
		left: 0
		top: 0.2rem
		position: absolute
		width: 1.7rem
		height: 1.7rem

	&:not(:checked) + label:after, &:checked + label:after
		border: 2px solid #000
		border-left-color: transparent
		border-top-color: transparent
		content: ''
		color: #000
		position: absolute
		top: 0.2rem
		left: 0.7rem
		font-size: 1.8rem
		transition: all .2s
		height: 0.10rem
		width: 0.3rem

	&:not(:checked) + label:after
		opacity: 0
		transform: rotate(-90deg) scale(0)

	&:checked + label:after
		opacity: 1
		transform: rotate(40deg) scale(1)

	&:disabled
		&:not(:checked) + label:before
			box-shadow: none
			border-color: #bbb
			background-color: #ddd

		&:checked + label
			&:before
				box-shadow: none
				border-color: #bbb
				background-color: #ddd

			&:after
				color: #999

		+ label
			color: #aaa

	&:checked:focus + label:before, &:not(:checked):focus + label:before
		border: 1px solid #777
// END CHECKBOX

// RADIO
.radio input[type="radio"]
	&:not(:checked), &:checked
		left: -9999rem
		position: absolute

	&:not(:checked) + label, &:checked + label
		cursor: pointer
		position: relative
		padding-left: 3.9rem

	&:not(:checked) + label:before, &:checked + label:before
		//background: #eee
		border-radius: 50%
		border: 2px solid #000
		content: ''
		left: 0
		top: 0.2rem
		position: absolute
		width: 1.8rem
		height: 1.8rem

	&:not(:checked) + label:after, &:checked + label:after
		content: ''
		background-color: #000
		border-radius: 50%
		position: absolute
		top: 0.7rem
		left: 0.5rem
		width: 1.2rem
		height: 1.2rem
		transition: all .2s

	&:not(:checked) + label:after
		opacity: 0
		transform: scale(0)

	&:checked + label:after
		opacity: 1
		transform: scale(1)

	&:disabled
		&:not(:checked) + label:before
			box-shadow: none
			border-color: #bbb
			background-color: #ddd

		&:checked + label
			&:before
				box-shadow: none
				border-color: #bbb
				background-color: #ddd

			&:after
				color: #999

		+ label
			color: #aaa
	//&:checked:focus + label:before, &:not(:checked):focus + label:before
		//border: 2px solid #777
	//&:checked:focus + label:after, &:not(:checked):focus + label:after
// END RADIO

//	INPUT FILE
.input-file
	cursor: pointer
	position: relative

	label
		cursor: pointer
		display: block
		transition: all .4s

	input
		cursor: pointer
		display: inline-block
		left: 0
		opacity: 0.01
		padding: 0
		pointer-events: none
		position: absolute
		top: 0
		//&:hover + label, &:focus + label
//	END INPUT FILE

	
.button-order
	background: linear-gradient(180deg, #FFFFFF 0%, #E5E5E5 100%)
	border: 1px solid #E8E8E8
	box-sizing: border-box
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2)
	border-radius: 30px
	letter-spacing: 0.1em
	font-family: $ralewayBold
	text-transform: uppercase
	width: 100%
	min-height: 6rem
	font-size: 1.4rem
	font-weight: bold
	max-width: 25rem
	padding: 2.2rem 1rem
	color: $color_pink
	cursor: pointer
	outline: none
	position: relative
	transition: opacity, border .3s ease

	@media screen and ( max-width: 640px)	
			font-size: 1.8rem

	span
		color: $color_pink
		z-index: 1
		position: relative
		font-family: $ralewayBold
		transition: color .3s ease
		letter-spacing: 0.06rem

		@media screen and ( max-width: 640px)	
			font-size: 1.8rem
			letter-spacing: 0.07rem

	&::before
		content: ''
		background: linear-gradient(0deg, #EB008B, #EB008B), linear-gradient(180deg, #FFFFFF 0%, #E5E5E5 100%)
		position: absolute
		left: 0
		right: 0
		border-radius: 30px
		bottom: 0
		top: 0
		transition: transform .3s ease
		z-index: 1
		transform: scaleY(0)
		transform-origin: 50% 100%

	&:hover
		border: 1px solid #EB008B
		span
			z-index: 2
			color: #fff
			transition: color .3s ease

		&::before
			transform: scaleY(1)

	&.__long
		max-width: 100%
		width: auto
		padding: 1rem 2.4rem 1rem 2.4rem 
		
		@media screen and ( min-width: 1024px) and (max-width: 1550px)	
			padding: 3.04rem 3.3rem

	@media screen and (min-width: 1024px) and ( max-width: 580px)
		max-width: 33.79rem
		font-size: 1.8rem
		padding: 3.04rem 1rem
		

	@media screen and (min-width: 1024px) and ( max-width: 580px)
		max-width: 25rem
		font-size: 1.8rem
		letter-spacing: 0.05em
		padding: 2rem 1rem

.slide__button
	display: flex
	width: 7rem
	height: 7rem
	background-color: #fff
	box-shadow: 0 0px 20px rgba(0, 0, 0, 0.15)
	border-radius: 50%
	align-items: center
	justify-content: center
	z-index: 2
	max-width: 7rem

	@media screen and ( max-width: 1550px)	
		width: 7.5rem
		height: 7.5rem
		max-width: 7.5rem
		svg
			width: 7.5rem
			height: 7.5rem

	@media screen and ( max-width: 640px)	
		width: 5rem
		height: 5rem

.button-social_main
	background-color: $color-blue
	display: inline-block
	width: 7rem
	height: 7rem
	border-radius: 50%
	display: flex
	align-items: center
	justify-content: center
	position: absolute
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15)
	z-index: 3
	right: 0
	bottom: 0

	svg
		transition: opacity .3s ease

		&:nth-child(2)
			transition: opacity .3s ease
			position: absolute
			opacity: 0
			top: 0
			left: 0
			width: 7rem
			height: 7rem

	&:hover
		svg
			opacity: 0

			&:nth-child(2)
				opacity: 1


	// @media screen and (min-width: 1024px) and (max-width: 1550px)
	// 	width: 7.5rem
	// 	height: 7.5rem
	// 	svg
	// 		width: 7.5rem
	// 		height: 7.5rem

	@media screen and (max-width: 640px)
		width: 5rem
		height: 5rem

		svg
			width: 5rem
			height: 5rem

			&:nth-child(2)
				width: 5rem
				height: 5rem

.button-social_child
	background: linear-gradient(180deg, #FFFFFF 0%, #E5E5E5 100%)
	box-sizing: border-box
	border-radius: 50%
	width: 7rem
	height: 7rem
	position: absolute
	right: 0
	bottom: 0
	z-index: 1
	transition: all .2s ease
	opacity: 0

	svg
		transition: opacity .3s ease
		width: 7rem
		height: 7rem

		&:nth-child(2)
			transition: opacity .3s ease
			position: absolute
			opacity: 0
			top: 0
			left: 0
			width: 7rem
			height: 7rem

	&:hover
		svg
			opacity: 0

			&:nth-child(2)
				opacity: 1
		
	// @media screen and (min-width: 1024px) and (max-width: 1550px)
	// 	width: 7.5rem
	// 	height: 7.5rem
	// 	svg
	// 		width: 7.5rem
	// 		height: 7.5rem

	@media screen and (max-width: 640px)
		width: 5rem
		height: 5rem
		svg
			width: 5rem
			height: 5rem

.button-social
	position: fixed
	right: 3.1%
	bottom: 6rem
	width: 7rem
	height: 7rem
	transition: all .2s ease
	z-index: 10

	@media screen and ( max-width: 640px )
		bottom: 2rem

	&:hover
		height: 100%
		transition: all .2s ease
		z-index: 100

		$count: 0 1 2 3

		@for $i from 1 through length($count) 
			.button-social_child:nth-child(#{$i}) 
				bottom: nth($count , $i) * 7.5rem
				z-index: 2
				transition: .2s all ease-in-out
				box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2)

		.button-social_child
			opacity: 1

	// @media screen and (min-width: 1024px) and (max-width: 1550px)
	// 	width: 7.5rem
	// 	height: 7.5rem
	// 	svg
	// 		width: 7.5rem
	// 		height: 7.5rem

	// 	&:hover
	// 		$count: 0 1 2 3

	// 		@for $i from 1 through length($count) 
	// 			.button-social_child:nth-child(#{$i}) 
	// 				bottom: nth($count , $i) * 8rem
	// 				z-index: 2
	// 				transition: .2s all ease-in-out
	// 				box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2)

	@media screen and (max-width: 640px)
		&:hover
			$count: 0 1 2 3

			@for $i from 1 through length($count) 
				.button-social_child:nth-child(#{$i}) 
					bottom: nth($count , $i) * 5.5rem
					z-index: 2
					transition: .2s all ease-in-out
					box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2)
		
		width: 5rem
		height: 5rem
		svg
			width: 5rem
			height: 5rem
		
.nav-burger
	width: 4rem
	height: auto
	padding: 2rem 0
	cursor: pointer
	z-index: 1001

	&.__mobile
		position: relative

	svg
		opacity: 1
		position: absolute
		top: 50%
		transform: translateY(-50%)
		left: 0
		transition: opacity .3s ease

		&:nth-child(2)
			opacity: 0
			position: absolute
			top: 50%
			transform: translateY(-50%)
			left: 0

	&:hover
		transition: opacity .3s ease
		svg 
			opacity: 0
		
			&:nth-child(2)
				opacity: 1

	@media (max-width: 1240px)
		display: inline-block

	@media (max-width: 640px)	
		margin-right: 2.3rem
		position: relative
		left: auto
		top: auto
		transform: none

.strip
	&-wrapper__top,
	&-wrapper__bottom
		pointer-events: none
		user-select: none

	&-wrapper__bottom
		position: absolute
		top: 0
		right: 0
		overflow: hidden
		width: 100%
		height: 100%
		@media ( max-width: 640px)
			bottom: -20%
			top: auto
			left: 0

	&-wrapper__top
		position: absolute
		top: 0
		right: 0
		overflow: hidden
		width: 100%
		height: 100%

	&__bottom
		width: 44.1%
		height: 2px
		background-color: $color_yellow
		position: absolute
		bottom: 15%
		left: 24.9%
		transform: rotate(-20deg)
		z-index: 1
		&::before
			content: ''
			width: 100%
			height: 1px
			background-color: $color_pink
			position: absolute
			bottom: -6px
			right: -6rem
		@media (max-width: 640px)	
			width: 100%
			left: -50%
			bottom: 14.6%
			right: auto

	&__top
		width: 47.6%
		height: 2px
		background-color: $color_blue
		position: absolute
		right:  -7.6%
		top: 42%
		transform: rotate(-160deg)
		z-index: 1
		&::before
			content: ''
			width: 100%
			height: 1px
			background-color: $color_pink
			position: absolute
			top: 6px
			right: 10rem
		@media (max-width: 640px)	
			right: -12.4%
			top: 20.6%


.button-close
	width: 2rem
	cursor: pointer
	height: 2rem
	position: absolute
	top: 1rem
	right: -1rem
	z-index: 21
	background-color: transparent
	&::before
		content: ''
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		width: 2rem
		height: 2rem
		background-size: cover
		background: url('/img/icons/close.svg') center no-repeat

.block-order__wrap
	&.__mobile
		@media (max-width: 640px)	
			display: flex
			flex-direction: column
			align-items: center
			max-width: 100%	!important
			width: 100%
			padding: 0 !important
			margin: 0 !important	

.section-title__outer_fit
	position: relative

	.word-color
		position: relative

		&::before
			content: '.'
			position: absolute
			top: -1.2rem
			left: 0.1rem
			color: $color_pink

		&:last-of-type
			&::before
				color: $color_blue

.nice-select 
	.option.disabled 
		font-weight: normal!important
		font-size: 2.4rem