$fonts-root: '../fonts/'

// http://www.font2web.com/
@mixin add-font ($name, $path, $style, $weight)
	@font-face
		font-family: $name
		src: url($fonts-root + $path + ".eot")
		src: url($fonts-root + $path + ".eot?#iefix")format("embedded-opentype"), url($fonts-root + $path + ".woff") format("woff"), url($fonts-root + $path + ".ttf") format("truetype")
		font-style: $style
		font-weight: $weight


@include add-font ("Raleway", "Raleway-Regular", normal, 400 )
@include add-font ("Raleway-Bold", "Raleway-Bold", normal, 700 )
@include add-font ("Raleway-Light", "Raleway-Light", normal, 300 )

@include add-font ("Arial", "ArialRegular", normal, 400 )
@include add-font ("Arial-Bold", "ArialBold", normal, 700 )

@include add-font ("Caveat", "Caveat-Regular", normal, 400 )
@include add-font ("Caveat-Bold", "Caveat-Bold", normal, 700 )

@include add-font ("PlayfairDisplay", "PlayfairDisplay-Regular", normal, 400 )
@include add-font ("PlayfairDisplay-Bold", "PlayfairDisplay-Bold", normal, 700 )
