$fonts-root: '../fonts/'

// http://www.font2web.com/
@mixin add-font ($name, $path, $style, $weight)
	@font-face
		font-family: $name
		src: url($fonts-root + $path + ".eot")
		src: url($fonts-root + $path + ".eot?#iefix")format("embedded-opentype"), url($fonts-root + $path + ".woff") format("woff"), url($fonts-root + $path + ".ttf") format("truetype")
		font-style: $style
		font-weight: $weight


@include add-font ("Raleway", "Raleway/Raleway-Regular/Raleway-Regular", normal, 400 )
@include add-font ("Raleway-Bold", "Raleway/Raleway-Regular/Raleway-Bold", normal, 700 )
@include add-font ("Raleway-Light", "Raleway/Raleway-Regular/Raleway-Light", normal, 300 )

@include add-font ("Arial", "Arial/ArialRegular/ArialRegular", normal, 400 )
@include add-font ("Arial-Bold", "Arial/ArialBold/ArialBold", normal, 700 )

@include add-font ("Caveat", "Caveat/Caveat-Regular/Caveat-Regular", normal, 400 )
@include add-font ("Caveat-Bold", "Caveat/Caveat-Bold/Caveat-Bold", normal, 700 )

@include add-font ("PlayfairDisplay", "Playfair_Display/PlayfairDisplay-Regular/PlayfairDisplay-Regular", normal, 400 )
@include add-font ("PlayfairDisplay-Bold", "Playfair_Display/PlayfairDisplay-Bold/PlayfairDisplay-Bold", normal, 700 )
@include add-font ("PlayfairDisplay-Black", "Playfair_Display/PlayfairDisplay-Black/PlayfairDisplay-Black", normal, 900 )

