.masonry-with-columns 
  display: flex
  flex-direction: column
  flex-wrap: wrap
  max-height: 1000px
  div 
    flex: 1 0 auto
    background: #EC985A
    color: white
    margin: 0 1rem 1rem 0
    text-align: center
    font-family: system-ui
    font-weight: 900
    font-size: 2rem
  
  @for $i from 1 through 36 
    div:nth-child(#{$i}) 
      $h: (random(400) + 100) + px
      height: $h
      line-height: $h
    
  

