// --------------------------------------------------
// MODALS
// --------------------------------------------------

#modal-order
  .text-cursive
    white-space: nowrap

    .pink-title
      left: 140px
  
.app-dialog
  background: $color-white
  position: relative
  z-index: 10
  min-height: 100vh
  overflow: hidden
  padding: 7.8% 7.8% 7.8% 8.5%
  @extend %scrollbar

  .bird-img
    max-width: 11.6rem
    width: 100%
    height: 100%

  .logo-text
    max-width: 26.5rem
    width: 100%
    height: 100%


  .strip__top
    top: 16%
    z-index: 10
    left: -36%

    @media #{$media-lg-max-down}
      top: -40rem

    @media #{$media-sm-plus}
      display: none

  .strip__bottom
    z-index: 10
    left: 26%
    bottom: 0
    width: 64%
    transform: rotate(20deg)

    @media #{$media-md}
      display: none

  @media #{$media-lg-max-down}
    padding: 7rem
    padding-top: 17rem

  @media #{$media-xs-down}
    padding: 1rem

  @media #{$media-sm-plus}
    padding-top: 20rem

  @media #{$media-xs}
    padding-top: 14rem

  &-content
    background: #fff
    position: relative
    padding: 10rem 15.5% 13.8rem 8.5%
    box-shadow: 0 .4rem 5rem rgba(0, 0, 0, 0.25)

    @media #{$media-lg-max-down}
      padding: 5rem
      padding-top: 10rem

    @media #{$media-xs-down}
      padding: 2rem
      padding-top: 4rem

.close-modal
  background-size: 100%
  right: 0
  top: 0
  padding: 3rem
  height: 2.4rem
  width: 2.4rem
  transition: top .1s
  z-index: 1020
  position: absolute
  background: url(/img/icons/close.svg) center center no-repeat
  cursor: pointer

  &:after
    display: none

  &:hover
    opacity: 1
    transition: opacity .3s

.modal
  display: flex
  position: relative

  @media #{$media-sm-plus}
    flex-direction: column

  .text-cursive
    margin-bottom: 7.3rem
    text-align: right
    font-size: 5rem
    line-height: 3.5rem
    padding-left: 0

    @media #{$media-xs-down}
      padding: 0

    @media #{$media-sm-plus}
      font-size: 4.5rem

    @media (max-width: 450px)
      font-size: 3.5rem

    &:before
      content: none

  &__left
    flex: 0 0 50%
    margin-right: 12.8rem

    @media #{$media-sm-plus}
      margin-right: 0

    @media (min-width: 865px) and (max-width: 1200px)
      columns: 2

  &__logo
    position: absolute
    top: 20px
    margin-left: 20px
    display: flex
    align-items: center
    width: 100%

    @media (max-width: 640px)
      justify-content: center
      margin-left: 0
      left: 0
      right: 0
      padding: 0 50px
      top: 3.5rem

      .logo-text
        min-width: 19.6rem

    @media (max-width: 450px)
      margin-left: 0
      width: 100%

  &__right
    width: 100%
    padding-top: 1rem

  &__title
    font-family: PlayfairDisplay-Bold
    font-weight: bold
    font-size: 13rem
    line-height: 10rem
    letter-spacing: -0.5rem
    color: #383838
    margin-bottom: 7.5rem
    position: relative
    &::before
      content: ''
      position: absolute
      top: -5.7rem
      left: .7rem
      width: 30px
      height: 30px
      background-size: contain
      background: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='15' cy='15.0001' r='9.04545' stroke='%23383838'/%3E%3Cline x1='15.0455' y1='2.18557e-08' x2='15.0455' y2='30' stroke='black'/%3E%3Cline x1='30' y1='15.0454' x2='-4.37114e-08' y2='15.0454' stroke='black'/%3E%3C/svg%3E%0A") center no-repeat

    @media #{$media-sm-plus}
      font-size: 8rem

    @media #{$media-xs-down}
      margin-top: 5rem
      font-size: 5rem
      line-height: 1.1
      margin-bottom: 2rem
      letter-spacing: -0.2rem

  .button-order
    margin-top: 1rem
    min-width: 203px

  .elemment-pink
    display: inline-block

  &__text
    font-size: 2.4rem
    line-height: 3.6rem
    margin-bottom: 5rem

    @media (min-width: 1023px) and (max-width: 1025px)
      margin-top: 15px

  &__order
    font-size: 4rem
    line-height: 4.5rem
    letter-spacing: -0.04em
    color: #383838
    font-family: PlayfairDisplay-Bold
    margin-bottom: 3rem

  &__order-item
    font-family: Raleway
    font-size: 2.4rem
    line-height: 1.5rem
    margin-bottom: 2.8rem

    @media #{$media-xs-down}
      line-height: 1.1
      display: flex
      flex-wrap: wrap

    @media #{$media-sm-plus-down}
      font-size: 2rem

    &_bold
      font-family: Raleway-Bold
      font-size: 3rem
      @media #{$media-xs-down}
        width: 100%

  &__issue
    background: linear-gradient(180deg, #FFFFFF 0%, #E5E5E5 100%)
    border: 1px solid #E8E8E8
    box-sizing: border-box
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2)
    border-radius: 3rem
    padding: 2.2rem 3.2rem
    font-family: Raleway-Bold
    font-size: 1.4rem
    text-align: center
    text-transform: uppercase
    color: #EB008B
    margin-bottom: 3rem

  &__line-top
    position: absolute
    top: 0
    left: -11%
    pointer-events: none

    @media #{$media-lg-max-down}
      top: -40rem

    @media #{$media-sm-plus}
      display: none

  &__line-bot
    position: absolute
    bottom: -30rem
    right: -15rem
    pointer-events: none

    @media #{$media-xs-down}
      bottom: -8rem

  .form

    &__title
      font-family: PlayfairDisplay-Bold
      font-weight: bold
      font-size: 4rem
      line-height: 4.5rem
      letter-spacing: -0.04em
      color: #383838
      margin-bottom: 2.7rem

    &__select
      margin-bottom: 1.8rem

.nice-select
  width: 100%
  border: 0
  border-bottom: 1px solid #00ADEE
  border-radius: 0
  color: #828282
  font-size: 2.4rem
  padding-left: 0
  line-height: 1.7
  display: flex
  justify-content: flex-start
  align-items: center

  @media #{$media-xs-down}
    font-size: 1.8rem

    &.option
      font-size: 1.8rem

  .list
    width: 100%
    font-size: 2.4rem

  &:after
    width: 1.5rem
    background: url(/img/modal/select-icon.png) center center no-repeat
    height: 1rem
    border-bottom: 0
    border-right: 0
    transform: none

.nice-select.open:after
  transform: rotate(-180deg)

.nice-select .option
  @media #{$media-xs-down}
    font-size: 1.8rem

.form__input
  font-family: Raleway
  font-size: 2.4rem
  letter-spacing: -0.04em
  color: #383838
  margin-bottom: 3rem
  width: 100%
  border: 0
  border-bottom: 1px solid #00ADEE
  border-radius: 0
  background-color: #FFF
  padding-left: .5rem
  padding-bottom: 1rem
  resize: none
  font-size: 2.4rem
  &::placeholder
    font-size: 2.4rem
    color: #828282


  @media screen and ( max-width: 640px )
    font-size: 1.8rem
    &::placeholder
      font-size: 1.8rem
      font-weight: normal

  &:focus
    outline: none

.modal-footer
  position: fixed
  top: 16.2rem
  bottom: 16.2rem
  left: 16.2rem
  right: 16.2rem
  background-color: #fff
  display: none
  z-index: 20
  padding: 5.2% 12.9% 6.6% 7%
  justify-content: space-between
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25)
  opacity: 0
  transition: .3s all ease
  transform: translateY(20px)


  @media screen and (max-width: 1024px)
    flex-direction: column
    top: 15%
    bottom: 15%
    overflow-y: auto
    padding: 11.2% 12.9% 2.6% 7%

  @media screen and (max-width: 640px)
    top: 50%
    transform: $translateY!important
    left: 2rem
    right: 2rem
    bottom: auto
    padding: 10rem 2rem 2rem 2rem
    justify-content: flex-start

  .form__input
    font-size: 2.4rem
    margin-bottom: 1.4rem

    @media screen and (max-width: 1024px)
      font-size: 1.4rem

    &_submit
      display: none

  input::placeholder
    font-size: 2.4rem
    line-height: 3rem

    @media screen and (max-width: 1024px)
      font-size: 1.4rem

  textarea::placeholder
    font-size: 2.4rem

    @media screen and (max-width: 1024px)
      font-size: 1.4rem

  textarea.form__input
    margin-bottom: 2.6rem
    resize: none

  &.__open
    display: flex

  &.__animate
    opacity: 1
    transition: .3s all ease
    transform: translateY(0)


  &__left
    flex: 0 0 50%
    display: flex
    flex-direction: column
    justify-content: center

    @media screen and (max-width: 1024px)
      flex: 0

  &__right
    flex: 0 0 50%
    padding: 5.5% 0 0 12.5%
    padding-top: 1rem
    display: flex
    flex-direction: column
    justify-content: center

    @media screen and (max-width: 1024px)
      flex: auto
      padding: 0

    form
      display: flex
      flex-direction: column

  &__title
    font-size: 13rem
    line-height: 10rem
    letter-spacing: -0.05em
    font-family: $playfairBold
    margin-bottom: 5rem
    position: relative
    &::before
      content: ''
      position: absolute
      top: -5.8rem
      left: 0.6rem
      width: 30px
      height: 30px
      background-size: contain
      background: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='15' cy='15.0001' r='9.04545' stroke='%23383838'/%3E%3Cline x1='15.0455' y1='2.18557e-08' x2='15.0455' y2='30' stroke='black'/%3E%3Cline x1='30' y1='15.0454' x2='-4.37114e-08' y2='15.0454' stroke='black'/%3E%3C/svg%3E%0A") center no-repeat

    @media screen and (max-width: 1024px)
      font-size: 5rem
      line-height: 100%
      margin-bottom: 2rem

  &__subtitle
    font-size: 6rem
    line-height: 6rem
    letter-spacing: -0.02em
    font-family: $playfairBold

    @media screen and (max-width: 1024px)
      font-size: 2rem
      line-height: 100%
      margin-bottom: 3rem

  .button-order
    font-size: 1.4rem
    letter-spacing: -0.03em

    @media screen and (max-width: 1550px)
      font-size: 1.8rem
      letter-spacing: 0.05em

  .button-close
    right: 0
    top: 0
    padding: 3rem
    width: 2.3rem
    height: 2.3rem
    &::before
      width: 2.4rem
      height: 2.4rem
      background: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L12.8535 13.1465M12.8535 13.1465L25 25M12.8535 13.1465L25 1M12.8535 13.1465L1 25' stroke='%23EB008B' stroke-width='2'/%3E%3C/svg%3E%0A") center no-repeat

.mobile-order__calc
  display: none

  @media screen and (max-width: 640px)
    display: block

.wrap-modal__calc--desc
  display: block

  @media screen and (max-width: 640px)
    display: none

// .select__wrap
//   min-height: 270px

.pink-title
  @media #{$media-sm-plus-up}
    position: relative
    left: 50px
    top: 5px

.modal-services
  background-color: #fff
  position: fixed
  top: 0
  left: 0 
  right: 0
  bottom: 0
  z-index: 9999
  overflow-y: auto
  display: none
  opacity: 0
  transition: .4s all ease
  // transform: translateY(20px)

  &.__open
    display: block

  &.__animate
    opacity: 1
    transition: .4s all ease
    // transform: translateY(0)



  .app-dialog-content
    padding: 5.1% 11.8% 6.9% 6.7%

    @media screen and ( max-width: 640px )
      padding: 25% 12% 8% 5%

  .section-title
    margin-bottom: 4rem

    &::before
      @media screen and ( max-width: 640px )
        top: -7.2rem

  p
    display: block
    margin: 0 0 4rem 0
    font-size: 2.4rem
    color: text_color
    line-height: 3.6rem

    @media screen and ( max-width: 640px )
      font-size: 1.8rem  
      line-height: 2.4rem

  .list-title
    font-size: 4rem
    font-weight: bold 
    font-family: $playfairBold
    line-height: 4.5rem
    letter-spacing: -0.02em
    color: text_color
    margin-bottom: 4rem

    @media screen and ( max-width: 640px )
      font-size: 2.8rem 
      line-height: 3rem
      


  .list-modal
    margin-bottom: 4rem
    
    li
      position: relative
      font-size: 2.4rem
      line-height: 3.6rem
      color: #383838
      padding-left: 3rem

      @media screen and ( max-width: 640px )
        font-size: 1.8rem  
        line-height: 2.4rem

      &::before
        color: $color_blue
        content: "\2022"
        display: inline-block
        font-size: 5rem
        left: -0.4225rem
        position: absolute
        top: 54%
        transform: $translateY

  .list-item_modal
    display: flex
    margin-bottom: 4rem  

    @media screen and ( max-width: 1024px )
      flex-direction: column

    &--content
      flex: 1 50%
      display: flex
      align-items: center

      @media screen and ( max-width: 1024px )
        margin-bottom: 2rem
        &:last-of-type
          margin-bottom: 0

      @media screen and ( max-width: 445px )
        flex-direction: column
        align-items: flex-start

    svg
      margin-right: 4rem
      max-width: 100px
      height: auto

      @media screen and ( max-width: 640px )
        max-width: 50px

      @media screen and ( max-width: 445px )
        margin-bottom: 2rem
        max-width: 80px

    &--text
      font-size: 2.4rem
      line-height: 4.2rem
      display: flex
      strong
        margin-right: .7rem

      @media screen and ( max-width: 640px )
        font-size: 1.8rem  
        line-height: 2.4rem

        strong
          font-size: 1.8rem
          line-height: 2.4rem

      @media screen and ( max-width: 445px )
        margin-bottom: 1rem

  .block-order__wrap
    max-width: 33.1rem
