//----------------------------------
// Default navbar
//----------------------------------
.navbar
    padding: 7.1rem 4.1% 2.9rem 9.6%
    display: flex
    align-items: center
    justify-content: space-between
    background-color: #fff
    top: 0
    left: 0
    width: 100%
    position: absolute
    z-index: 10

    &__logo
        max-width: 38.1rem
        height: auto
        width: 100%

        picture,
        img,
        source
            object-fit: cover
            width: 100%
            height: 100%
            min-width: 21.7rem
           

    &__link
        color: $color_text 
        font-family: $arial
        text-transform: uppercase
        padding-right: 1.7rem
        white-space: nowrap
    li    

        &:last-child

            .navbar__link
                padding-right: 0

    &__wrap   
        display: flex 
        justify-content: center
        align-items: center
        margin: 0 2rem

    &__phone
        display: flex
        align-items: center

        &_icon
            margin-right: 1.92rem

        &_link
            font-family: $arial 
            font-size: 1.8rem
            color: $color_text
            font-weight: bold
            white-space: nowrap

    @media (max-width: 1450px)
        padding: 7.1rem 3.1% 2.9rem 7.6%

        &__link
            font-size: 1.2rem

        &__phone

            &_icon
                margin-right: 0.92rem

                svg
                    max-height: 3rem

            &_link
                font-size: 1.4rem

        &__logo

            img
                max-width: 21.7rem
                min-width: auto

    @media (max-width: 1240px) 
        padding: 7.1rem 7.1% 2.9rem 15rem
        &__wrap 
            display: none

        &__logo
            min-width: 16.4rem     
            
    @media (max-width: 640px) 
        justify-content: flex-start
        padding: 1.9rem 4.8rem 1.9rem 1.9rem
        background-color: #fafafa

        &__phone
            display: none
        
        &__logo
            max-width: 100%   
            
            img
                max-width: 25rem
                


