//----------------------------------
// Default navbar
//----------------------------------
.navbar
    .navbar__link
        font: 10px 'Raleway', sans-serif
        width: 549px
        display: block
