.section-masonry
  position: relative
  overflow: hidden
  min-height: 100vh
  padding: 7.5% 0 4.5% 0
  background-color:  $color_white
  .slide__button

    &._prev
      left: 5%

    &._next
      right: 1.4%
  
.owl-carousel_masonry
  position: relative
  touch-action: manipulation
  padding: 0 0 0 15.6vw 

.owl-stage
  display: flex

.columns
  display: flex
  width: 100%
  
  .col
    width: 100%
    height: auto
    margin-bottom: 1.5rem
    display: inline-block
    margin-right: 3rem
    &:last-child
      margin-right: 0
    *
      margin-bottom: 3rem
      &:last-child
        margin-bottom: 0
    
      
  img
    height: auto
    width: 100%
      
  .masonry-text
    max-width: 30rem
    height: 26.6rem
    display: flex
    align-items: center
    justify-content: center
    font-size: 3rem
    line-height: 3.5rem
    color: #fff
    font-weight: bold

    &.__blue
      background-color: $color_blue

    &.__pink
      background-color: $color_pink


  
  .owl-item
      &:nth-child(3n + 1)
        .col
          width: 30rem
          min-width: 30rem
          max-width: 30rem

      &:nth-child(3n + 2)
        .col
          width: 28rem
          min-width: 28rem
          max-width: 28rem

      &:nth-child(3n + 3)  
        .col
          width: 49rem
          min-width: 49rem
          max-width: 49rem

.owl-carousel
  &.owl-drag 
    .owl-item
      margin-right: 3rem !important

