.header
  background-color: #fff 
  // padding: 0 0 15rem 0
  position: relative
  min-height: calc(100vh - 15rem)
  

  .slide__button
    @media screen and ( max-width: 800px )
      display: none
      
  

  @media (max-width: 640px)
    overflow: visible
      
    .header
      padding: 0

    .strip__top
      right: -12.5%
      top: 19.1%

  