.section-team 
    position: relative
    padding: 10rem 0 19rem 0

    .section-title
        margin-bottom: 5.6rem

    .slider-team
        &__item
            max-width: 25rem

        &__img
            max-height: 25rem
            margin-bottom: 3rem

        &__name
            font-size: 1.4rem
            font-weight: bold
            font-family: $ralewayBold
            margin-bottom: 0.5rem

        &__position,
        &__tell,
        &__email
            font-size: 1.4rem
            font-family: $raleway
            margin-bottom: 0.5rem
            color: $color_text
            display: block


    .slider-team 
        .owl-stage-outer
            padding: 0 0 0 15.6vw

    .owl-carousel.owl-drag .owl-item
        margin-right: 5rem !important

    .slide__button
        top: 52.3%
