.header
  background-color: #fff 
  // padding: 29.2rem 0 15rem 0
  position: relative
  min-height: 100vh


  

  @media (max-width: 640px)
    overflow: visible
    .strip-wrapper__top 
      display: none
    .header
      padding: 0
    .strip__top
      right: -12.5%
      top: 19.1%
  