.section-equipment
  overflow: hidden
  position: relative
  display: flex
  align-items: center
  flex-direction: column
  width: 100%

  .slider
    &-container
      display: flex
      flex-direction: row
      background-color: $color_blue
      width: 100%

    &-left
      display: flex
      flex-direction: column
      padding: 10.2% 6vw 0 15.6vw
      flex: 0 0 50.5%

      @media screen and (max-width: 1440px)
        padding: 6.2% 6vw 0 15.6vw

      @media screen and (max-width: 1024px)
        padding: 6.2% 15.6vw
        flex: 0 0 100%

      @media screen and (max-width: 640px)
        padding: 20.2% 2rem 40% 2rem

    &-right
      flex: 0 0 49.5%

      @media screen and (max-width: 1024px)
        position: fixed
        top: 0
        right: 0
        bottom: 0
        left: 0
        flex: 0 0 100%
        z-index: 20
        display: none
        background-color: $color_blue
      

  .section-title
    color: $color_white
    margin-bottom: 7.4rem

    &::before
      background: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='15' cy='15.0001' r='9.04545' stroke='%23fff'/%3E%3Cline x1='15.0455' y1='2.18557e-08' x2='15.0455' y2='30' stroke='%23fff'/%3E%3Cline x1='30' y1='15.0454' x2='-4.37114e-08' y2='15.0454' stroke='%23fff'/%3E%3C/svg%3E%0A") center no-repeat

    &__outer_fit
      line-height: 3.3rem

    &__outer_bold
      letter-spacing: -0.07em

  .owl-dot
    margin-bottom: .9rem
    position: relative
    padding-right: 2rem

    @media screen and (max-width: 640px)
      &::before
        content: ''
        background: url("data:image/svg+xml,%3Csvg width='9' height='16' viewBox='0 0 9 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L8 8L1 15' stroke='white'/%3E%3C/svg%3E%0A") center no-repeat
        background-size: contain
        width: .7rem
        height: 1.4rem
        position: absolute
        top: 50%
        transform: $translateY
        right: 0


    .owl-custom_dot
      background-color: transparent
      outline: none
      border: none
      font-size: 1.8rem
      font-weight: normal
      line-height: 2rem
      cursor: pointer
      padding: 0
      text-transform: uppercase
      color: $color_text
      white-space: pre-wrap
      text-align: left

      &:hover
        color: $color_white

  .owl-dot
    &.active
      .owl-custom_dot
        color: $color_white

  .grid-img
    display: flex
    flex-direction: column
    max-width: 100vw
    width: 100%

    @media screen and (max-width: 1024px)
      width: 100%

    .row
      display: flex
      width: auto
      max-height: 49.3rem
      margin-bottom: 1.1rem
      justify-content: space-between
      &:last-of-type
        margin-bottom: 0

      @media screen and (max-width: 1024px)
        height: 45.8vh
        margin: .5rem
        max-height: 100%

      @media screen and (max-width: 640px)
        margin: 0
        height: 50vh

    .image-holder

      @media screen and (max-width: 640px)
        opacity:  .6

      &.__image-1
        max-width: 49.3%
        @media screen and (max-width: 640px)
          max-width: 50%

      &.__image-2
        max-width: 49.7%
        @media screen and (max-width: 640px)
          max-width: 50%

      &.__image-3
        max-width: 59%
        @media screen and (max-width: 640px)
          max-width: 60%

      &.__image-4
        max-width: 40%
        @media screen and (max-width: 640px)
          max-width: 40%

  .owl-carousel
    &.owl-drag 
      .owl-item
        margin-right: 1px !important

  .slide__button
    top: 50%

    @media screen and (max-width: 1024px)
      display: none

  .slide
    position: relative

    @media screen and (max-width: 1024px)
      padding: 3rem

    @media screen and (max-width: 640px)
      padding: 0

    &-content
      position: absolute
      background-color: #fff
      top: 50%
      transform: $translateY
      z-index: 1
      padding: 5rem 4.8rem 5rem 5rem
      max-width: 65rem
      height: auto
      opacity: .95

      @media screen and (max-width: 1560px)
        max-width: 55rem

      @media screen and (max-width: 640px)
        left: 1rem
        top: 3.7rem
        right: 1rem
        bottom: 1rem
        transform: none
        height: auto
        overflow-y: auto

      @media screen and (max-width: 640px)
        padding: 3rem 1.8rem 3rem 1.8rem

    &-title
      font-size: 2rem
      font-weight: bold
      line-height: 2rem
      margin-bottom: 4rem
      text-transform: uppercase
      letter-spacing: -0.01rem

      @media screen and (max-width: 640px)
        font-size: 1.6rem
        margin-bottom: 2rem

    &-text
      font-size: 1.8rem
      line-height: 2.5rem
      font-weight: normal
      color: $color_text
      margin: 0

      @media screen and (max-width: 640px)
        font-size: 1.4rem
        line-height: 2rem
    

  .button-close
    display: none
    right: -0.4rem

    @media screen and (max-width: 1024px)
      display: inline-block

  .section-back__content
    opacity: .1
    z-index: 0
    bottom: 0
    bottom: 6rem

    @media screen and (max-width: 640px)
      bottom: -4rem
      font-size: 20rem

  .strip__top
    background-color: $color_pink
    transform: rotate(-20deg)
    right: 13.4%
    top: 33%
    z-index: 2
    &::before
      background-color: $color_yellow
      right: -10rem

  .strip-wrapper__bottom
    bottom: 0
    .strip__bottom
      left: -40%
      bottom: 4.6%
      background-color: $color_pink
      &::before
        background-color: $color_yellow

  .strip__top
    background-color: $color_yellow
    width: 70%
    transform: rotate(20deg)
    right: -15.6%
    top: 10%

    &:before
      background-color: $color_pink
      top: auto
      bottom: 1rem