.header
  background-color: #fff 
  position: relative
  min-height: calc(100vh - 15rem)

  .slide__button
    top: 41.1%

    @media screen and ( max-width: 800px )
      display: none

  .strip__top
    top: 31.3%

  @media (max-width: 640px)
    min-height: calc(100vh - 9rem)
    overflow: visible

    .header
      padding: 0

    .strip__top
      right: -9.5%
      top: 8.1%
    
    .strip__bottom
      bottom: 15%
      left: -86%
