.section-masonry
  position: relative
  overflow: hidden
  min-height: 100vh
  padding: 7.5% 0 4.5% 0
  background-color:  $color_white

  @media screen and (max-width: 640px)
    padding: 4.5% 0 4.5% 0

  .slide__button
    &._prev
      left: 5%

    &._next
      right: 1.4%

    @media screen and (max-width: 1440px)
      width: 7rem
      height: 7rem

      &_arrow
        width: 3.6rem

      &._prev
        .slide__button_arrow
          &::before
            width: 2.2rem
            left: -.3rem
            bottom: .74rem
          
          &::after
            width: 2.2rem
            left: -.3rem
            top: .74rem

      &._next
        .slide__button_arrow
          &::before
            right: -.3rem
            top: .74rem
            width: 2.2rem

          &::after
            width: 2.2rem
            right: -.3rem
            bottom: .74rem


    @media screen and (max-width: 640px)
      display: flex

      &._next
        right: -0.6rem

      &._prev
        left: -0.6rem
  
.owl-carousel_masonry
  position: relative
  touch-action: manipulation

  .owl-stage-outer
    padding: 0 0 0 15.6vw 

  @media screen and (max-width: 640px)
    padding: 0 0 0 2rem 


.owl-stage
  display: flex

.columns
  display: flex
  width: 100%
  
  .col
    width: 100%
    height: auto
    margin-bottom: 1.5rem
    display: inline-block
    margin-right: 3rem

    &:last-child
      margin-right: 0
    *
      margin-bottom: 3rem
      &:last-child
        margin-bottom: 0

      @media screen and (max-width: 640px) 
        margin-bottom: 2rem
        &:last-child
          margin-bottom: 0
    
      
  img
    height: auto
    width: 100%

    @media screen and (max-width: 640px)
      height: 30rem
      
  .masonry-text
    max-width: 30rem
    height: 26.6rem
    display: flex
    align-items: center
    justify-content: center
    font-size: 3rem
    line-height: 3.5rem
    color: #fff
    font-weight: bold

    @media screen and (min-width: 640px) and (max-width: 1024px)
      span
        font-size: 2rem

      font-size: 0.6vw
      height: 26em

    @media screen and (max-width: 640px)
      height: 30rem


    &.__blue
      background-color: $color_blue
      

    &.__pink
      background-color: $color_pink


  
  .owl-item
      &:nth-child(3n + 1)
        .col
          width: 30rem
          min-width: 30rem
          max-width: 30rem
          
          @media screen and (min-width: 640px) and (max-width: 1024px)
            font-size: .6vw
            width: 30em 
            min-width: 30em
            max-width: 30em

      &:nth-child(3n + 2)
        .col
          width: 28rem
          min-width: 28rem
          max-width: 28rem

          @media screen and (min-width: 640px) and (max-width: 1024px)
            font-size: .6vw
            width: 28em
            min-width: 28em
            max-width: 28em

      &:nth-child(3n + 3)  
        .col
          width: 49rem
          min-width: 49rem
          max-width: 49rem

          @media screen and (min-width: 640px) and (max-width: 1024px)
            font-size: .6vw
            width: 49em
            min-width: 49em
            max-width: 49em

      .col
        @media screen and (max-width: 640px)
          width: 22.5rem!important
          min-width: 22.5rem!important
          max-width: 22.5rem!important

.owl-carousel
  &.owl-drag 
    .owl-item
      margin-right: 3rem !important

