.section-team
    position: relative
    padding: 13.1rem 0 14.3rem 0
    display: flex
    flex-direction: column  
    // min-height: 100vh
    justify-content: center
    background-color: $color_white
    overflow: hidden

    @media screen and ( max-width: 640px )
        padding: 27.2% 0 0 0

    .section-title
        margin-bottom: 7rem

    .slider-team
        z-index: 2
        
        &__item
            max-width: 25rem

            @media screen and ( max-width: 1550px )
                max-width: 31.2rem
            
            @media screen and (max-width: 640px)
                width: 25rem

        &__img
            max-height: 25rem
            height: 25rem
            margin-bottom: 3rem

            @media screen and ( max-width: 1550px )
                max-height: 31.2rem
                height: 100%

            img
                object-position: top

        &__name
            font-size: 1.4rem
            font-weight: bold
            font-family: $ralewayBold
            margin-bottom: 0.5rem

            @media screen and ( max-width: 1550px )
                font-size: 1.9rem

            @media screen and ( max-width: 640px )
                font-size: 1.8rem

        &__position,
        &__tell,
        &__email
            font-size: 1.4rem
            font-family: $raleway
            margin-bottom: 0.5rem
            color: $color_text
            display: block
            word-break: break-word

            @media screen and ( max-width: 1550px )
                font-size: 1.9rem

            @media screen and ( max-width: 640px )
                font-size: 1.8rem

        @media screen and ( max-width: 640px )
            padding-bottom: 7.5rem

    .slider-team
        .owl-stage
            // left: 190px 
            padding: 0 0 0 15.6vw

            @media screen and ( max-width: 640px )
                padding: 0 0 0 2rem

    .owl-carousel.owl-drag .owl-item
        margin-right: 5rem !important      

        @media screen and ( max-width: 640px )
            display: flex
            margin-right: 3rem !important 

    .block-order__wrap
        padding: 0 2rem
        max-width: 35.7rem
        z-index: 2

    .slide__button
        top: 52.3%

        &._prev
            left: 3.1%

        &._next
            right: 3.1%

        @media screen and (max-width: 1550px)
            width: 7.5rem 
            height: 7.5rem

            &_arrow
                width: 3.6rem

            &._prev
                .slide__button_arrow
                    &::before
                        width: 2.2rem
                        left: -.3rem
                        bottom: .74rem

                    &::after
                        width: 2.2rem
                        left: -.3rem
                        top: .74rem

            &._next
                .slide__button_arrow
                    &::before
                        right: -.3rem
                        top: .74rem
                        width: 2.2rem

                    &::after
                        width: 2.2rem
                        right: -.3rem
                        bottom: .74rem

        @media screen and (max-width: 640px)
            display: flex
            top: 40%

            &._next
                right: -0.6rem

            &._prev
                left: -0.6rem

    .section-back__content
        bottom: 7rem
        z-index: 1
        left: 20%
        
        @media screen and (max-width: 640px)
            display: none

            &.__mobile
                font-size: 20rem
                z-index: 1
                display: block
                left: 0
                bottom: -4rem

    .strip__top
        right: -16.6%
        top: 22%

        @media screen and (max-width: 640px)
            right: -22.6%
            top: 8%
            width: 70%

    .block-order__wrap
        z-index: 3
        position: relative

    .block-order__container
        position: relative
        z-index: 1

        @media screen and (max-width: 640px)
            width: 100%
            background-color: #fff
            padding: 7.5rem 0 50.2% 0

    .strip__bottom
        background-color: $color_pink
        left: -48%
        bottom: 28.6%
        &::before
            background-color: $color_blue
