.slides
  min-width: 100vw
  display: none

  &_1
    background: #d8cc29
  &_2
    background: #d41515
  &_3
    background: #10ce4f

.slider__wrap
  cursor: pointer
  display: flex
  min-height: 100vh
  position: relative

.slide__button
  position: absolute
  top: 50%

  &_prev
    left: 0

  &_next
    right: 0
