
.slider__wrap
  width: 100%
  margin: 0 auto
  position: relative

.slides
  display: flex
  z-index: 1
  position: relative
  padding: 0 15.6vw 5.4% 15.6vw
  height: calc(100vh - 15rem)

  .text-cursive
    white-space: initial 
  
  .slides-back_text
    position: absolute
    left: -1%
    bottom: 6rem
    font-size: 35rem
    font-family: $playfairBold
    line-height: 100%
    z-index: -1
    pointer-events: none
    user-select: none
    letter-spacing: -0.02em
    color: $color_white

    @media screen and ( max-width: 1550px )
      left: -1.6%
      
    @media screen and ( max-width: 1024px )
      font-size: 32rem

    @media screen and ( max-width:  880px)
      font-size: 25rem

    @media screen and ( max-width:  800px)
      font-size: 20rem
    
    @media screen and ( max-width:  640px)
      display: none

  &-side__left
    flex: 0 0 50%
    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: center

    @media screen and ( max-width:  640px)
      align-items: center

  &-side__right
    flex: 0 0 50%
    display: flex
    align-items: center
    .image-holder
      margin: 7.8rem -17.3% 0 -21%
      user-select: none
      pointer-events: none

      img
        width: 100%
        height: auto
        object-fit: cover

  &.type-1
    .slides-side__right
      .image-holder
        margin: -9.7rem 0 0 8.1%
        img
          height: auto
          max-height: 84rem
          object-fit: contain

  &.type-2
    .slides-side__right
      .image-holder
        margin: 6rem -4.2% 0 -9.9%
        img
          height: auto
          max-height: 70rem
          object-fit: contain

  &.type-3
    .slides-side__right
      .image-holder
        margin: 6.4rem -22.2% 0 -10.9%

        img
          height: auto
          max-height: 58rem
          object-fit: contain

        @media screen and ( max-width: 1570px)
          margin: -10.6rem -41% 0 -16%
          

  &.type-4
    .slides-side__right
      .image-holder
        margin: 0.7rem -17.1% 0 -8.9%


  @media (max-width: 1024px)
    padding: 0 13.6vw 7.6rem 15.5vw
    &-side__left
      flex: 0 0 100%
    &-side__right
      display: none

  @media (max-width: 640px)
    padding: 20% 2rem 5rem 2rem
    height: calc(100vh - 6rem)

.button-order
  margin-bottom: 3.5rem   

  @media screen and (min-width: 1024px) and ( max-width: 580px)
    margin-bottom: 2.4rem

.text-cursive
  display: inline-block  
  padding-left: 1.7rem  
  position: relative

  @media screen and ( max-width: 640px)
    padding-left: 0

  &::before
    content: ''
    height: 7rem
    position: absolute
    right: -1.9rem
    top: -7.3rem
    width: 1.7em
    background-size: cover
    background: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:cc='http://creativecommons.org/ns%23' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23' xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' id='svg3769' version='1.1' viewBox='0 0 13.448885 15.250222' height='57.638634' width='50.830437'%3E%3Cdefs id='defs3763' /%3E%3Cg transform='translate(4.5538445,-281.65172)' id='layer1'%3E%3Cpath style='fill:none;stroke:%23b3b3b3;stroke-width:0.5291667;stroke-linecap:round' id='path3733' d='m 8.6293725,296.63374 c -0.9439,-3.19627 -4.82835,-10.07646 -12.81495,-12.02691' /%3E%3Cpath style='fill:none;stroke:%23b3b3b3;stroke-width:0.5291667;stroke-linecap:round' d='m -1.3811052,288.76309 -2.8044723,-4.15626 4.0399177,-2.68843' id='path3809' /%3E%3Cpath id='path3811' d='m -1.3811052,288.76309 -2.8044723,-4.15626 4.0399177,-2.68843' style='fill:none;stroke:%23b3b3b3;stroke-width:0.5291667;stroke-linecap:round' /%3E%3C/g%3E%3C/svg%3E%0A") center no-repeat

    @media screen and ( max-width: 1550px)
      height: 8rem
      right: -8.9rem

    @media screen and ( max-width: 640px)
      content: none

.slide__button
  position: absolute
  top: 49.3%
  transform: $translateY

  &._prev
    left: 3.1%

  &._next
    right: 3.1%

.slider-title
  font-family: $playfairBold
  margin-bottom: 4.3rem

  &__outer_fit
    font-size: 7rem
    line-height: 7rem
    white-space: nowrap

  &__outer_bold
    font-size: 13rem
    line-height: 11rem
    display: inline-block
    position: relative

  &__outer_fit,
  &__outer_bold
    letter-spacing: -0.05em

  &__sub
    font-family: $raleway
    font-size: 2.4rem
    font-weight: 500
    line-height: 3rem
    padding-left: 5rem
    position: relative
    margin-bottom: 2.5rem
    &::before
      content: ''
      position: absolute
      top: 0
      left: 0
      width: 3rem
      height: 3rem
      background-size: contain
      background: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='15' cy='15.0001' r='9.04545' stroke='%23383838'/%3E%3Cline x1='15.0455' y1='2.18557e-08' x2='15.0455' y2='30' stroke='black'/%3E%3Cline x1='30' y1='15.0454' x2='-4.37114e-08' y2='15.0454' stroke='black'/%3E%3C/svg%3E%0A") center no-repeat

@media (max-width: 800px)	

  .slider-title
    margin-bottom: 5rem
    font-size:  6.1rem
    margin-left: -1.3rem
    &__sub
      font-size: 2rem

    &__outer
      &_fit 
        font-size: 3.6rem 
        line-height: 4rem

      &_bold
        font-size: 7rem
        line-height: 6rem  

  .slider-title__sub
    padding-left: 0
    margin-bottom: 1.6rem
    &::before
      top: -4.4rem

    &__outer
      &_bold
        line-height: 5.2rem

  .slides
      &.type-4

        .slider-title__outer_fit
          margin-bottom: 1rem

        .slider-title__outer_bold
              line-height: 5.7rem

  .button-order
    margin-bottom: 3.3rem

.slider-pagination__custom
  position: absolute
  bottom: 3rem
  left: 50%
  transform: $translateX
  display: flex
  z-index: 55

  @media (min-width: 640px)	
    display: none

  .owl-dot
    width: 10px
    height: 10px
    background-color: #b2b2b2
    border-radius: 50%
    margin-right: 1.5rem
    z-index: 50
    position: relative
    transition: .3s all ease
    &:last-of-type
      margin-right: 0

    &.active
      background-color: $color_pink
      transition: .3s all ease

@media (max-width: 640px)
  .slider-title
    margin-left: 0
    text-align: center
    width: 100%