section.section-about 
  .section-about_wrapper
    .section-about_container.__container 
      .section-title
        span.section-title__outer_bold про
        span.section-title__outer_fit art-print studio
      .section-about__left
        p Полиграфическая компания Арт-принт студия уже многие годы занимается производством полиграфической продукции любой сложности – офсетной печати, и постпечатной продукции. На сегодняшний день, мы являемся одной из крупных компаний, предоставляющих полный спектр полиграфических услуг.
      .section-about__right
        p Лучшие специалисты, в сфере полиграфических услуг, работающие в нашей компании, обеспечивают высокий профессиональный уровень в допечатной подготовке и исполнении Вашего заказа. Политика – индивидуальный подход к каждому клиенту, обеспечивает поэтапный контроль над исполнением заказа на протяжении всего информационного и производственного процесса. Собственная производственная база позволяет снизить затраты на себестоимость заказов наших клиентов. Сотрудничество с нами избавит Вас от необходимости переплачивать лишние деньги за посреднические услуги между агентством и типографиями. 
        strong Пусть в Вашем бизнесе будет одним решенным вопросом больше!

      .block-order__wrap.__mobile
        button.button-order посчитать заказ
      
        .text-cursive Просчитайте заказ у нас и 
          .elemment-pink получите скидку!

  .section-back__content art
