.cache-images
  img(src="/img/icons/close.svg")
  img(src="/img/icons/pdf.svg")
  img(src="/img/modal/close-modal.png")
  img(src="/img/modal/line-bot.png")
  img(src="/img/modal/select-icon.png")
  img(src="/img/select-icon.png")
  img(src="/img/A4_Brochure_Mockup_2-trans 2.png")
  img(src="/img/bg-blue.png")
  img(src="/img/bg-footer.jpg")
  img(src="/img/bg-red.png")
  img(src="/img/blue.png")
  img(src="/img/buklet-trans 2.png")
  img(src="/img/image 2.1.jpg")
  img(src="/img/image 2.jpg")
  img(src="/img/image 4.jpg")
  img(src="/img/image 7 (1).jpg")
  img(src="/image 7.png")
  img(src="/img/image.jpg")
  img(src="/img/line.png")
  img(src="/img/line.png")
  img(src="/img/logo-mobile.png")
  img(src="/img/logo.png")
  img(src="/img/logo.svg")
  img(src="/img/marker.png")
  img(src="/img/Mockup_A4_Brochure_5-trans 2.png")
  img(src="/img/notes-line.png")
  img(src="/img/poster.png")
  img(src="/img/red.png")
  img(src="/img/slide-1.jpg")
  img(src="/img/slide-2.jpg")
  img(src="/img/slide-3.jpg")
  img(src="/img/slide-4.jpg")
  img(src="/img/work-03.jpg")
  img(src="/img/work-04.jpg")
  img(src="/img/work-05.jpg")
  img(src="/img/work-06.jpg")
  img(src="/img/work-07.jpg")
  img(src="/img/work-08.jpg")
  img(src="/img/work-10.jpg")
  img(src="/img/xs-line.png")
  img(src="/img/xs-notes-line.png")






























