.cache-images
  img(src="/img/icons/close.svg")
  img(src="/img/icons/pdf.svg")
  img(src="/img/modal/close-modal.png")
  img(src="/img/modal/line-bot.png")
  img(src="/img/modal/select-icon.png")
  img(src="/img/select-icon.png")
  img(src="/img/A4_Brochure_Mockup_2-trans 2.png")
  img(src="/img/bg-blue.png")
  img(src="/img/bg-footer.jpg")
  img(src="/img/bg-red.png")
  img(src="/img/blue.png")
  img(src="/img/buklet-trans 2.png")
  img(src="/img/image 2.1.jpg")
  img(src="/img/image 2.jpg")
  img(src="/img/image 4.jpg")
  img(src="/img/image 7 (1).jpg")




























