footer#section-contacts.footer__wrap.footer

  .strip-wrapper__top
    .strip.strip__top

  .strip-wrapper__bottom
    .strip.strip__bottom

  .footer__content(data-aos="fade-up", anchorPlacement="center", data-aos-easing="ease")
    .footer__title нас
      .footer__text очень легко найти

    a.footer__mail(href="mailto:contact@artprintstudio.com.ua") contact@artprintstudio.com.ua
    a.footer__tel(href="tel:+380442231465") +380 (44) 2231465
    .footer__location Киев, ул. Попудренко 18, Офис 29, Метро "Дарница", 03680
    a.footer__location_link(href="/") смотреть на карте
    div
      button.button-order.__long(data-modal-open="#modal-footer") 
        span Есть вопросы? 
        span Задайте их прямо сейчас.

  .mobile
    .strip-wrapper__top
      .strip.strip__top

  #modal-footer.modal-footer
    span(data-modal-close="#modal-footer").button-close

    .modal-footer__left
      .modal-footer__title есть вопросы?
      .modal-footer__subtitle задайте их прямо сейчас.

    .modal-footer__right
      form(action="")
      #form-input-wrap.form-input-wrap
        input#form-footer-input-name(type="name", placeholder="Ваше имя", required).form__input
      #form-input-wrap2.form-input-wrap
        input#form-footer-input-mail(type="email", placeholder="E-Mail", required).form__input
      #form-input-wrap3.form-input-wrap
        textarea#form-footer-input-text.form__input(name="comment", cols="30", rows="4", placeholder="Сообщение", required)

        input#form-footer-submit.form__input_submit(type="submit", name="submit")

        .centered-button
          button#submit-footer-form.button-order.__long 
            span отправить
