footer.footer__wrap
  .footer__content
    .footer__title нас
      .footer__text очень легко найти
    a.footer__mail(href="mailto:contact@artprintstudio.com.ua") contact@artprintstudio.com.ua
    a.footer__tel(href="tel:+380442231465") +380 (44) 2231465
    .footer__location Киев, ул. Попудренко 18, Офис 29, Метро "Дарница", 03680
    a.footer__location_link(href="/") смотреть на карте
    button.footer__questions Есть вопросы? 
      span.footer__questions_wrap Задайте их прямо сейчас.
  img.notes__xs-line(src="/img/xs-notes-line.png", alt="line")
