//- meta
meta(charset='UTF-8')
meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")

meta(name="description" content="Art Print")
meta(name="keywords" content="Art Print")

link(rel="apple-touch-icon" sizes="180x180" href="img/icons/favicons/apple-touch-icon.png")
link(rel="icon" type="image/png" sizes="32x32" href="img/icons/favicons/favicon-32x32.png")
link(rel="icon" type="image/png" sizes="16x16" href="img/icons/favicons/favicon-16x16.png")
link(rel="manifest" href="img/icons/favicons/site.webmanifest")
link(rel="mask-icon" href="img/icons/favicons/safari-pinned-tab.svg" color="#5bbad5")
link(rel="shortcut icon" href="img/icons/favicons/favicon.ico")
meta(name="msapplication-TileColor" content="#ffffff")
meta(name="msapplication-config" content="img/icons/favicons/browserconfig.xml")
meta(name="theme-color" content="#ffffff")
//- link(href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap&subset=cyrillic" rel="stylesheet")
link(href="https://fonts.googleapis.com/css?family=Raleway:400,500,700,900&display=swap" rel="stylesheet")
// open graph
meta(property="og:type" content="website")
meta(property="og:title" content="Art Print")
meta(property="og:description" content="Art Print")
meta(property="og:image" content="---")
meta(property="og:url" content="---")
meta(name="twitter:image" content="---")
meta(name="twitter:title" content="---")
meta(name="twitter:url" content="---")
meta(name="twitter:card" content="summary")
meta(name="twitter:description" content="---")

//- link(rel='stylesheet', href='external/---')
script(src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")

link(rel='stylesheet', href='/css/build.css')
