doctype html
html(lang='en')
	block vars
	head
		title #{title}
		block head
			include head
	body(class= bodyClass)
		block noscript
			include noscript

		block navigation
			include navigation

		block content

		block footer
			include footer

		block modals
			include modals

	block scripts
		include scripts
