doctype html
html(lang='en')
	block vars
	head
		title #{title}
		block head
			include head
	body(class= bodyClass)
		block noscript
			include noscript

		block navigation
			include navigation

		block header
			include section-header

		block about
			include section-about

		block masonry
			include section-masonry

		block trust
			include section-trust

		block equipment
			include section-equipment

		block content

		block footer
			include footer
			
		.button-social
			.button-social_main
				<svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M70 35C70 54.33 54.33 70 35 70C15.67 70 0 54.33 0 35C0 15.67 15.67 0 35 0C54.33 0 70 15.67 70 35Z" fill="#00ADEE"/>
					<mask id="path-2-inside-1" fill="white">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M14.4893 35.5L41.5052 19.9023L42.5052 21.6344L18.4893 35.5L42.5052 49.3656L41.5052 51.0977L14.4893 35.5Z"/>
					</mask>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M14.4893 35.5L41.5052 19.9023L42.5052 21.6344L18.4893 35.5L42.5052 49.3656L41.5052 51.0977L14.4893 35.5Z" fill="#00ADEE"/>
					<path d="M14.4893 35.5L13.4893 33.7679L10.4893 35.5L13.4893 37.232L14.4893 35.5ZM41.5052 19.9023L43.2373 18.9023L42.2373 17.1703L40.5052 18.1703L41.5052 19.9023ZM42.5052 21.6344L43.5052 23.3664L45.2373 22.3664L44.2373 20.6344L42.5052 21.6344ZM18.4893 35.5L17.4893 33.7679L14.4893 35.5L17.4893 37.232L18.4893 35.5ZM42.5052 49.3656L44.2373 50.3656L45.2373 48.6336L43.5052 47.6336L42.5052 49.3656ZM41.5052 51.0977L40.5052 52.8297L42.2373 53.8297L43.2373 52.0977L41.5052 51.0977ZM44.2373 20.6344L43.2373 18.9023L39.7732 20.9023L40.7732 22.6344L44.2373 20.6344ZM19.4893 37.232L43.5052 23.3664L41.5052 19.9023L17.4893 33.7679L19.4893 37.232ZM43.5052 47.6336L19.4893 33.7679L17.4893 37.232L41.5052 51.0977L43.5052 47.6336ZM43.2373 52.0977L44.2373 50.3656L40.7732 48.3656L39.7732 50.0977L43.2373 52.0977ZM40.5052 18.1703L13.4893 33.7679L15.4893 37.232L42.5052 21.6344L40.5052 18.1703ZM13.4893 37.232L40.5052 52.8297L42.5052 49.3656L15.4893 33.7679L13.4893 37.232Z" fill="#FAFAFA" mask="url(#path-2-inside-1)"/>
					<path d="M46.8934 21.1064C46.8934 23.9266 44.6072 26.2128 41.787 26.2128C38.9669 26.2128 36.6807 23.9266 36.6807 21.1064C36.6807 18.2862 38.9669 16 41.787 16C44.6072 16 46.8934 18.2862 46.8934 21.1064Z" fill="#00ADEE" stroke="#FAFAFA" stroke-width="2"/>
					<mask id="path-5-inside-2" fill="white">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M41.787 25.2128C44.0549 25.2128 45.8934 23.3743 45.8934 21.1064C45.8934 18.8385 44.0549 17 41.787 17C39.5192 17 37.6807 18.8385 37.6807 21.1064C37.6807 23.3743 39.5192 25.2128 41.787 25.2128ZM41.787 27.2128C45.1595 27.2128 47.8934 24.4788 47.8934 21.1064C47.8934 17.7339 45.1595 15 41.787 15C38.4146 15 35.6807 17.7339 35.6807 21.1064C35.6807 24.4788 38.4146 27.2128 41.787 27.2128Z"/>
					</mask>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M41.787 25.2128C44.0549 25.2128 45.8934 23.3743 45.8934 21.1064C45.8934 18.8385 44.0549 17 41.787 17C39.5192 17 37.6807 18.8385 37.6807 21.1064C37.6807 23.3743 39.5192 25.2128 41.787 25.2128ZM41.787 27.2128C45.1595 27.2128 47.8934 24.4788 47.8934 21.1064C47.8934 17.7339 45.1595 15 41.787 15C38.4146 15 35.6807 17.7339 35.6807 21.1064C35.6807 24.4788 38.4146 27.2128 41.787 27.2128Z" fill="#00ADEE"/>
					<path d="M43.8934 21.1064C43.8934 22.2697 42.9504 23.2128 41.787 23.2128V27.2128C45.1595 27.2128 47.8934 24.4788 47.8934 21.1064H43.8934ZM41.787 19C42.9504 19 43.8934 19.9431 43.8934 21.1064H47.8934C47.8934 17.7339 45.1595 15 41.787 15V19ZM39.6807 21.1064C39.6807 19.9431 40.6237 19 41.787 19V15C38.4146 15 35.6807 17.7339 35.6807 21.1064H39.6807ZM41.787 23.2128C40.6237 23.2128 39.6807 22.2697 39.6807 21.1064H35.6807C35.6807 24.4788 38.4146 27.2128 41.787 27.2128V23.2128ZM45.8934 21.1064C45.8934 23.3743 44.0549 25.2128 41.787 25.2128V29.2128C46.2641 29.2128 49.8934 25.5834 49.8934 21.1064H45.8934ZM41.787 17C44.0549 17 45.8934 18.8385 45.8934 21.1064H49.8934C49.8934 16.6294 46.2641 13 41.787 13V17ZM37.6807 21.1064C37.6807 18.8385 39.5192 17 41.787 17V13C37.31 13 33.6807 16.6294 33.6807 21.1064H37.6807ZM41.787 25.2128C39.5192 25.2128 37.6807 23.3743 37.6807 21.1064H33.6807C33.6807 25.5834 37.31 29.2128 41.787 29.2128V25.2128Z" fill="#FAFAFA" mask="url(#path-5-inside-2)"/>
					<path d="M46.8934 49.8935C46.8934 52.7137 44.6072 54.9999 41.787 54.9999C38.9669 54.9999 36.6807 52.7137 36.6807 49.8935C36.6807 47.0733 38.9669 44.7871 41.787 44.7871C44.6072 44.7871 46.8934 47.0733 46.8934 49.8935Z" fill="#00ADEE" stroke="#FAFAFA" stroke-width="2"/>
					<mask id="path-8-inside-3" fill="white">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M41.787 53.9999C44.0549 53.9999 45.8934 52.1614 45.8934 49.8935C45.8934 47.6256 44.0549 45.7871 41.787 45.7871C39.5192 45.7871 37.6807 47.6256 37.6807 49.8935C37.6807 52.1614 39.5192 53.9999 41.787 53.9999ZM41.787 55.9999C45.1595 55.9999 47.8934 53.266 47.8934 49.8935C47.8934 46.521 45.1595 43.7871 41.787 43.7871C38.4146 43.7871 35.6807 46.521 35.6807 49.8935C35.6807 53.266 38.4146 55.9999 41.787 55.9999Z"/>
					</mask>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M41.787 53.9999C44.0549 53.9999 45.8934 52.1614 45.8934 49.8935C45.8934 47.6256 44.0549 45.7871 41.787 45.7871C39.5192 45.7871 37.6807 47.6256 37.6807 49.8935C37.6807 52.1614 39.5192 53.9999 41.787 53.9999ZM41.787 55.9999C45.1595 55.9999 47.8934 53.266 47.8934 49.8935C47.8934 46.521 45.1595 43.7871 41.787 43.7871C38.4146 43.7871 35.6807 46.521 35.6807 49.8935C35.6807 53.266 38.4146 55.9999 41.787 55.9999Z" fill="#00ADEE"/>
					<path d="M43.8934 49.8935C43.8934 51.0568 42.9504 51.9999 41.787 51.9999V55.9999C45.1595 55.9999 47.8934 53.266 47.8934 49.8935H43.8934ZM41.787 47.7871C42.9504 47.7871 43.8934 48.7302 43.8934 49.8935H47.8934C47.8934 46.521 45.1595 43.7871 41.787 43.7871V47.7871ZM39.6807 49.8935C39.6807 48.7302 40.6237 47.7871 41.787 47.7871V43.7871C38.4146 43.7871 35.6807 46.521 35.6807 49.8935H39.6807ZM41.787 51.9999C40.6237 51.9999 39.6807 51.0568 39.6807 49.8935H35.6807C35.6807 53.266 38.4146 55.9999 41.787 55.9999V51.9999ZM45.8934 49.8935C45.8934 52.1614 44.0549 53.9999 41.787 53.9999V57.9999C46.2641 57.9999 49.8934 54.3705 49.8934 49.8935H45.8934ZM41.787 45.7871C44.0549 45.7871 45.8934 47.6256 45.8934 49.8935H49.8934C49.8934 45.4165 46.2641 41.7871 41.787 41.7871V45.7871ZM37.6807 49.8935C37.6807 47.6256 39.5192 45.7871 41.787 45.7871V41.7871C37.31 41.7871 33.6807 45.4165 33.6807 49.8935H37.6807ZM41.787 53.9999C39.5192 53.9999 37.6807 52.1614 37.6807 49.8935H33.6807C33.6807 54.3705 37.31 57.9999 41.787 57.9999V53.9999Z" fill="#FAFAFA" mask="url(#path-8-inside-3)"/>
					<path d="M24.2128 35.936C24.2128 38.7562 21.9266 41.0424 19.1064 41.0424C16.2862 41.0424 14 38.7562 14 35.936C14 33.1158 16.2862 30.8296 19.1064 30.8296C21.9266 30.8296 24.2128 33.1158 24.2128 35.936Z" fill="#00ADEE" stroke="#FAFAFA" stroke-width="2"/>
					<mask id="path-11-inside-4" fill="white">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M19.1064 40.0424C21.3743 40.0424 23.2128 38.2039 23.2128 35.936C23.2128 33.6681 21.3743 31.8296 19.1064 31.8296C16.8385 31.8296 15 33.6681 15 35.936C15 38.2039 16.8385 40.0424 19.1064 40.0424ZM19.1064 42.0424C22.4788 42.0424 25.2128 39.3084 25.2128 35.936C25.2128 32.5635 22.4788 29.8296 19.1064 29.8296C15.7339 29.8296 13 32.5635 13 35.936C13 39.3084 15.7339 42.0424 19.1064 42.0424Z"/>
					</mask>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M19.1064 40.0424C21.3743 40.0424 23.2128 38.2039 23.2128 35.936C23.2128 33.6681 21.3743 31.8296 19.1064 31.8296C16.8385 31.8296 15 33.6681 15 35.936C15 38.2039 16.8385 40.0424 19.1064 40.0424ZM19.1064 42.0424C22.4788 42.0424 25.2128 39.3084 25.2128 35.936C25.2128 32.5635 22.4788 29.8296 19.1064 29.8296C15.7339 29.8296 13 32.5635 13 35.936C13 39.3084 15.7339 42.0424 19.1064 42.0424Z" fill="#00ADEE"/>
					<path d="M21.2128 35.936C21.2128 37.0993 20.2697 38.0424 19.1064 38.0424V42.0424C22.4788 42.0424 25.2128 39.3084 25.2128 35.936H21.2128ZM19.1064 33.8296C20.2697 33.8296 21.2128 34.7726 21.2128 35.936H25.2128C25.2128 32.5635 22.4788 29.8296 19.1064 29.8296V33.8296ZM17 35.936C17 34.7726 17.9431 33.8296 19.1064 33.8296V29.8296C15.7339 29.8296 13 32.5635 13 35.936H17ZM19.1064 38.0424C17.9431 38.0424 17 37.0993 17 35.936H13C13 39.3084 15.7339 42.0424 19.1064 42.0424V38.0424ZM23.2128 35.936C23.2128 38.2039 21.3743 40.0424 19.1064 40.0424V44.0424C23.5834 44.0424 27.2128 40.413 27.2128 35.936H23.2128ZM19.1064 31.8296C21.3743 31.8296 23.2128 33.6681 23.2128 35.936H27.2128C27.2128 31.4589 23.5834 27.8296 19.1064 27.8296V31.8296ZM15 35.936C15 33.6681 16.8385 31.8296 19.1064 31.8296V27.8296C14.6294 27.8296 11 31.4589 11 35.936H15ZM19.1064 40.0424C16.8385 40.0424 15 38.2039 15 35.936H11C11 40.413 14.6294 44.0424 19.1064 44.0424V40.0424Z" fill="#FAFAFA" mask="url(#path-11-inside-4)"/>
				</svg>
				<svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M70 35C70 54.33 54.33 70 35 70C15.67 70 0 54.33 0 35C0 15.67 15.67 0 35 0C54.33 0 70 15.67 70 35Z" fill="#EB008B"/>
					<mask id="path-2-inside-1" fill="white">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M14.4893 35.5L41.5052 19.9023L42.5052 21.6344L18.4893 35.5L42.5052 49.3656L41.5052 51.0977L14.4893 35.5Z"/>
					</mask>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M14.4893 35.5L41.5052 19.9023L42.5052 21.6344L18.4893 35.5L42.5052 49.3656L41.5052 51.0977L14.4893 35.5Z" fill="#00ADEE"/>
					<path d="M14.4893 35.5L13.4893 33.7679L10.4893 35.5L13.4893 37.232L14.4893 35.5ZM41.5052 19.9023L43.2373 18.9023L42.2373 17.1703L40.5052 18.1703L41.5052 19.9023ZM42.5052 21.6344L43.5052 23.3664L45.2373 22.3664L44.2373 20.6344L42.5052 21.6344ZM18.4893 35.5L17.4893 33.7679L14.4893 35.5L17.4893 37.232L18.4893 35.5ZM42.5052 49.3656L44.2373 50.3656L45.2373 48.6336L43.5052 47.6336L42.5052 49.3656ZM41.5052 51.0977L40.5052 52.8297L42.2373 53.8297L43.2373 52.0977L41.5052 51.0977ZM44.2373 20.6344L43.2373 18.9023L39.7732 20.9023L40.7732 22.6344L44.2373 20.6344ZM19.4893 37.232L43.5052 23.3664L41.5052 19.9023L17.4893 33.7679L19.4893 37.232ZM43.5052 47.6336L19.4893 33.7679L17.4893 37.232L41.5052 51.0977L43.5052 47.6336ZM43.2373 52.0977L44.2373 50.3656L40.7732 48.3656L39.7732 50.0977L43.2373 52.0977ZM40.5052 18.1703L13.4893 33.7679L15.4893 37.232L42.5052 21.6344L40.5052 18.1703ZM13.4893 37.232L40.5052 52.8297L42.5052 49.3656L15.4893 33.7679L13.4893 37.232Z" fill="#FAFAFA" mask="url(#path-2-inside-1)"/>
					<path d="M46.8934 21.1064C46.8934 23.9266 44.6072 26.2128 41.787 26.2128C38.9669 26.2128 36.6807 23.9266 36.6807 21.1064C36.6807 18.2862 38.9669 16 41.787 16C44.6072 16 46.8934 18.2862 46.8934 21.1064Z" fill="#EB008B" stroke="#FAFAFA" stroke-width="2"/>
					<mask id="path-5-inside-2" fill="white">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M41.787 25.2128C44.0549 25.2128 45.8934 23.3743 45.8934 21.1064C45.8934 18.8385 44.0549 17 41.787 17C39.5192 17 37.6807 18.8385 37.6807 21.1064C37.6807 23.3743 39.5192 25.2128 41.787 25.2128ZM41.787 27.2128C45.1595 27.2128 47.8934 24.4788 47.8934 21.1064C47.8934 17.7339 45.1595 15 41.787 15C38.4146 15 35.6807 17.7339 35.6807 21.1064C35.6807 24.4788 38.4146 27.2128 41.787 27.2128Z"/>
					</mask>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M41.787 25.2128C44.0549 25.2128 45.8934 23.3743 45.8934 21.1064C45.8934 18.8385 44.0549 17 41.787 17C39.5192 17 37.6807 18.8385 37.6807 21.1064C37.6807 23.3743 39.5192 25.2128 41.787 25.2128ZM41.787 27.2128C45.1595 27.2128 47.8934 24.4788 47.8934 21.1064C47.8934 17.7339 45.1595 15 41.787 15C38.4146 15 35.6807 17.7339 35.6807 21.1064C35.6807 24.4788 38.4146 27.2128 41.787 27.2128Z" fill="#EB008B"/>
					<path d="M43.8934 21.1064C43.8934 22.2697 42.9504 23.2128 41.787 23.2128V27.2128C45.1595 27.2128 47.8934 24.4788 47.8934 21.1064H43.8934ZM41.787 19C42.9504 19 43.8934 19.9431 43.8934 21.1064H47.8934C47.8934 17.7339 45.1595 15 41.787 15V19ZM39.6807 21.1064C39.6807 19.9431 40.6237 19 41.787 19V15C38.4146 15 35.6807 17.7339 35.6807 21.1064H39.6807ZM41.787 23.2128C40.6237 23.2128 39.6807 22.2697 39.6807 21.1064H35.6807C35.6807 24.4788 38.4146 27.2128 41.787 27.2128V23.2128ZM45.8934 21.1064C45.8934 23.3743 44.0549 25.2128 41.787 25.2128V29.2128C46.2641 29.2128 49.8934 25.5834 49.8934 21.1064H45.8934ZM41.787 17C44.0549 17 45.8934 18.8385 45.8934 21.1064H49.8934C49.8934 16.6294 46.2641 13 41.787 13V17ZM37.6807 21.1064C37.6807 18.8385 39.5192 17 41.787 17V13C37.31 13 33.6807 16.6294 33.6807 21.1064H37.6807ZM41.787 25.2128C39.5192 25.2128 37.6807 23.3743 37.6807 21.1064H33.6807C33.6807 25.5834 37.31 29.2128 41.787 29.2128V25.2128Z" fill="#FAFAFA" mask="url(#path-5-inside-2)"/>
					<path d="M46.8934 49.8935C46.8934 52.7137 44.6072 54.9999 41.787 54.9999C38.9669 54.9999 36.6807 52.7137 36.6807 49.8935C36.6807 47.0733 38.9669 44.7871 41.787 44.7871C44.6072 44.7871 46.8934 47.0733 46.8934 49.8935Z" fill="#EB008B" stroke="#FAFAFA" stroke-width="2"/>
					<mask id="path-8-inside-3" fill="white">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M41.787 53.9999C44.0549 53.9999 45.8934 52.1614 45.8934 49.8935C45.8934 47.6256 44.0549 45.7871 41.787 45.7871C39.5192 45.7871 37.6807 47.6256 37.6807 49.8935C37.6807 52.1614 39.5192 53.9999 41.787 53.9999ZM41.787 55.9999C45.1595 55.9999 47.8934 53.266 47.8934 49.8935C47.8934 46.521 45.1595 43.7871 41.787 43.7871C38.4146 43.7871 35.6807 46.521 35.6807 49.8935C35.6807 53.266 38.4146 55.9999 41.787 55.9999Z"/>
					</mask>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M41.787 53.9999C44.0549 53.9999 45.8934 52.1614 45.8934 49.8935C45.8934 47.6256 44.0549 45.7871 41.787 45.7871C39.5192 45.7871 37.6807 47.6256 37.6807 49.8935C37.6807 52.1614 39.5192 53.9999 41.787 53.9999ZM41.787 55.9999C45.1595 55.9999 47.8934 53.266 47.8934 49.8935C47.8934 46.521 45.1595 43.7871 41.787 43.7871C38.4146 43.7871 35.6807 46.521 35.6807 49.8935C35.6807 53.266 38.4146 55.9999 41.787 55.9999Z" fill="#EB008B"/>
					<path d="M43.8934 49.8935C43.8934 51.0568 42.9504 51.9999 41.787 51.9999V55.9999C45.1595 55.9999 47.8934 53.266 47.8934 49.8935H43.8934ZM41.787 47.7871C42.9504 47.7871 43.8934 48.7302 43.8934 49.8935H47.8934C47.8934 46.521 45.1595 43.7871 41.787 43.7871V47.7871ZM39.6807 49.8935C39.6807 48.7302 40.6237 47.7871 41.787 47.7871V43.7871C38.4146 43.7871 35.6807 46.521 35.6807 49.8935H39.6807ZM41.787 51.9999C40.6237 51.9999 39.6807 51.0568 39.6807 49.8935H35.6807C35.6807 53.266 38.4146 55.9999 41.787 55.9999V51.9999ZM45.8934 49.8935C45.8934 52.1614 44.0549 53.9999 41.787 53.9999V57.9999C46.2641 57.9999 49.8934 54.3705 49.8934 49.8935H45.8934ZM41.787 45.7871C44.0549 45.7871 45.8934 47.6256 45.8934 49.8935H49.8934C49.8934 45.4165 46.2641 41.7871 41.787 41.7871V45.7871ZM37.6807 49.8935C37.6807 47.6256 39.5192 45.7871 41.787 45.7871V41.7871C37.31 41.7871 33.6807 45.4165 33.6807 49.8935H37.6807ZM41.787 53.9999C39.5192 53.9999 37.6807 52.1614 37.6807 49.8935H33.6807C33.6807 54.3705 37.31 57.9999 41.787 57.9999V53.9999Z" fill="#FAFAFA" mask="url(#path-8-inside-3)"/>
					<path d="M24.2128 35.936C24.2128 38.7562 21.9266 41.0424 19.1064 41.0424C16.2862 41.0424 14 38.7562 14 35.936C14 33.1158 16.2862 30.8296 19.1064 30.8296C21.9266 30.8296 24.2128 33.1158 24.2128 35.936Z" fill="#EB008B" stroke="#FAFAFA" stroke-width="2"/>
					<mask id="path-11-inside-4" fill="white">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M19.1064 40.0424C21.3743 40.0424 23.2128 38.2039 23.2128 35.936C23.2128 33.6681 21.3743 31.8296 19.1064 31.8296C16.8385 31.8296 15 33.6681 15 35.936C15 38.2039 16.8385 40.0424 19.1064 40.0424ZM19.1064 42.0424C22.4788 42.0424 25.2128 39.3084 25.2128 35.936C25.2128 32.5635 22.4788 29.8296 19.1064 29.8296C15.7339 29.8296 13 32.5635 13 35.936C13 39.3084 15.7339 42.0424 19.1064 42.0424Z"/>
					</mask>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M19.1064 40.0424C21.3743 40.0424 23.2128 38.2039 23.2128 35.936C23.2128 33.6681 21.3743 31.8296 19.1064 31.8296C16.8385 31.8296 15 33.6681 15 35.936C15 38.2039 16.8385 40.0424 19.1064 40.0424ZM19.1064 42.0424C22.4788 42.0424 25.2128 39.3084 25.2128 35.936C25.2128 32.5635 22.4788 29.8296 19.1064 29.8296C15.7339 29.8296 13 32.5635 13 35.936C13 39.3084 15.7339 42.0424 19.1064 42.0424Z" fill="#EB008B"/>
					<path d="M21.2128 35.936C21.2128 37.0993 20.2697 38.0424 19.1064 38.0424V42.0424C22.4788 42.0424 25.2128 39.3084 25.2128 35.936H21.2128ZM19.1064 33.8296C20.2697 33.8296 21.2128 34.7726 21.2128 35.936H25.2128C25.2128 32.5635 22.4788 29.8296 19.1064 29.8296V33.8296ZM17 35.936C17 34.7726 17.9431 33.8296 19.1064 33.8296V29.8296C15.7339 29.8296 13 32.5635 13 35.936H17ZM19.1064 38.0424C17.9431 38.0424 17 37.0993 17 35.936H13C13 39.3084 15.7339 42.0424 19.1064 42.0424V38.0424ZM23.2128 35.936C23.2128 38.2039 21.3743 40.0424 19.1064 40.0424V44.0424C23.5834 44.0424 27.2128 40.413 27.2128 35.936H23.2128ZM19.1064 31.8296C21.3743 31.8296 23.2128 33.6681 23.2128 35.936H27.2128C27.2128 31.4589 23.5834 27.8296 19.1064 27.8296V31.8296ZM15 35.936C15 33.6681 16.8385 31.8296 19.1064 31.8296V27.8296C14.6294 27.8296 11 31.4589 11 35.936H15ZM19.1064 40.0424C16.8385 40.0424 15 38.2039 15 35.936H11C11 40.413 14.6294 44.0424 19.1064 44.0424V40.0424Z" fill="#FAFAFA" mask="url(#path-11-inside-4)"/>
				</svg>


			a(href="google.com").button-social_child
				<svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
					<circle cx="35" cy="35" r="34.5" fill="url(#paint0_linear)" stroke="#E8E8E8"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M34.6781 43.8042H36.4713C36.4713 43.8042 37.0128 43.7454 37.2897 43.4516C37.5441 43.1817 37.536 42.675 37.536 42.675C37.536 42.675 37.5009 40.3027 38.6174 39.9533C39.7185 39.609 41.1321 42.2461 42.6303 43.2602C43.7633 44.0273 44.6242 43.8594 44.6242 43.8594L48.6306 43.8042C48.6306 43.8042 50.7263 43.6767 49.7326 42.052C49.6512 41.9193 49.1536 40.8503 46.7536 38.6537C44.2413 36.3547 44.5781 36.7267 47.6041 32.75C49.4471 30.3282 50.1836 28.8498 49.9535 28.2166C49.7342 27.6133 48.3786 27.7726 48.3786 27.7726L43.8677 27.8001C43.6677 27.7767 43.4651 27.8119 43.2852 27.9015C43.0428 28.0445 42.8872 28.3786 42.8872 28.3786C42.4199 29.5738 41.863 30.7329 41.2212 31.8465C39.2125 35.2094 38.4092 35.3874 38.0809 35.1783C37.317 34.6915 37.5079 33.2233 37.5079 32.1799C37.5079 28.9208 38.0093 27.5619 36.5316 27.2102C36.0413 27.0935 35.6801 27.0163 34.4261 27.0037C32.8164 26.9876 31.4544 27.0086 30.683 27.3812C30.1698 27.629 29.7739 28.1811 30.0152 28.2128C30.3134 28.252 30.9884 28.3925 31.3463 28.8727C31.8087 29.4929 31.7926 30.8853 31.7926 30.8853C31.7926 30.8853 32.0583 34.7218 31.1722 35.1983C30.5643 35.5251 29.7302 34.8579 27.9394 31.8069C27.3315 30.7453 26.7936 29.6461 26.3291 28.5164C26.2465 28.3246 26.1191 28.1547 25.9573 28.0208C25.7476 27.8837 25.5119 27.7899 25.2644 27.7451L20.9778 27.7726C20.9778 27.7726 20.3344 27.7903 20.0981 28.0663C19.8877 28.3119 20.0812 28.8192 20.0812 28.8192C20.0812 28.8192 23.437 36.5606 27.2371 40.4617C30.7218 44.039 34.6781 43.8042 34.6781 43.8042L34.6781 43.8042Z" fill="#00ADEE"/>
					<defs>
					<linearGradient id="paint0_linear" x1="35" y1="0" x2="35" y2="70" gradientUnits="userSpaceOnUse">
					<stop stop-color="white"/>
					<stop offset="1" stop-color="#E5E5E5"/>
					</linearGradient>
					</defs>
				</svg>
				<svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
					<circle cx="35" cy="35" r="35" fill="#EB008B"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M34.6781 43.8042H36.4713C36.4713 43.8042 37.0128 43.7454 37.2897 43.4516C37.5441 43.1817 37.536 42.675 37.536 42.675C37.536 42.675 37.5009 40.3027 38.6174 39.9533C39.7185 39.609 41.1321 42.2461 42.6303 43.2602C43.7633 44.0273 44.6242 43.8594 44.6242 43.8594L48.6306 43.8042C48.6306 43.8042 50.7263 43.6767 49.7326 42.052C49.6512 41.9193 49.1536 40.8503 46.7536 38.6537C44.2413 36.3547 44.5781 36.7267 47.6041 32.75C49.4471 30.3282 50.1836 28.8498 49.9535 28.2166C49.7342 27.6133 48.3786 27.7726 48.3786 27.7726L43.8677 27.8001C43.6677 27.7767 43.4651 27.8119 43.2852 27.9015C43.0428 28.0445 42.8872 28.3786 42.8872 28.3786C42.4199 29.5738 41.863 30.7329 41.2212 31.8465C39.2125 35.2094 38.4092 35.3874 38.0809 35.1783C37.317 34.6915 37.5079 33.2233 37.5079 32.1799C37.5079 28.9208 38.0093 27.5619 36.5316 27.2102C36.0413 27.0935 35.6801 27.0163 34.4261 27.0037C32.8164 26.9876 31.4544 27.0086 30.683 27.3812C30.1698 27.629 29.7739 28.1811 30.0152 28.2128C30.3134 28.252 30.9884 28.3925 31.3463 28.8727C31.8087 29.4929 31.7926 30.8853 31.7926 30.8853C31.7926 30.8853 32.0583 34.7218 31.1722 35.1983C30.5643 35.5251 29.7302 34.8579 27.9394 31.8069C27.3315 30.7453 26.7936 29.6461 26.3291 28.5164C26.2465 28.3246 26.1191 28.1547 25.9573 28.0208C25.7476 27.8837 25.5119 27.7899 25.2644 27.7451L20.9778 27.7726C20.9778 27.7726 20.3344 27.7903 20.0981 28.0663C19.8877 28.3119 20.0812 28.8192 20.0812 28.8192C20.0812 28.8192 23.437 36.5606 27.2371 40.4617C30.7218 44.039 34.6781 43.8042 34.6781 43.8042L34.6781 43.8042Z" fill="white"/>
				</svg>


			a(href="#").button-social_child
				<svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
					<circle cx="35" cy="35" r="34.5" fill="url(#paint0_linear)" stroke="#E8E8E8"/>
					<path d="M20.0253 34.0518C20.1072 29.1432 24.62 24.8442 29.5286 25.008C31.8805 24.8988 34.0914 25.9224 35.8929 27.3599C35.131 28.2347 34.3248 29.0698 33.4773 29.862C31.3119 28.3653 28.2321 27.9377 26.0667 29.6664C22.9686 31.809 22.8276 36.8677 25.8073 39.1742C28.7052 41.8036 34.1824 40.498 34.9831 36.472C33.168 36.4447 31.3483 36.472 29.5331 36.4128C29.5286 35.3301 29.524 34.2474 29.5286 33.1647C32.5629 33.1556 35.5972 33.151 38.6361 33.1738C38.8181 35.7214 38.4814 38.4327 36.9165 40.539C34.5464 43.8735 29.7879 44.847 26.0758 43.4186C22.35 41.9992 19.7114 38.0642 20.0253 34.0518Z" fill="#EB008B"/>
					<path d="M44.5547 30.4307H47.2615C47.266 31.336 47.2706 32.2458 47.2796 33.1511C48.1849 33.1602 49.0948 33.1602 50.0001 33.1693V35.8761C49.0948 35.8852 48.1895 35.8897 47.2796 35.8988C47.2705 36.8086 47.2645 37.7154 47.2615 38.6192H44.5501C44.541 37.7139 44.541 36.8086 44.5319 35.9033C43.6266 35.8942 42.7168 35.8851 41.8115 35.876V33.1693C42.7168 33.1602 43.6236 33.1541 44.5319 33.1511C44.5365 32.2412 44.5441 31.3344 44.5547 30.4307Z" fill="#EB008B"/>
					<defs>
					<linearGradient id="paint0_linear" x1="35" y1="0" x2="35" y2="70" gradientUnits="userSpaceOnUse">
					<stop stop-color="white"/>
					<stop offset="1" stop-color="#E5E5E5"/>
					</linearGradient>
					</defs>
				</svg>
				<svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
					<circle cx="35" cy="35" r="35" fill="#EB008B"/>
					<path d="M20.0253 34.0518C20.1072 29.1432 24.62 24.8442 29.5286 25.008C31.8805 24.8988 34.0914 25.9224 35.8929 27.3599C35.131 28.2347 34.3248 29.0698 33.4773 29.862C31.3119 28.3653 28.2321 27.9377 26.0667 29.6664C22.9686 31.809 22.8276 36.8677 25.8073 39.1742C28.7052 41.8036 34.1824 40.498 34.9831 36.472C33.168 36.4447 31.3483 36.472 29.5331 36.4128C29.5286 35.3301 29.524 34.2474 29.5286 33.1647C32.5629 33.1556 35.5972 33.151 38.6361 33.1738C38.8181 35.7214 38.4814 38.4327 36.9165 40.539C34.5464 43.8735 29.7879 44.847 26.0758 43.4186C22.35 41.9992 19.7114 38.0642 20.0253 34.0518Z" fill="white"/>
					<path d="M44.5547 30.4307H47.2615C47.266 31.336 47.2706 32.2458 47.2796 33.1511C48.1849 33.1602 49.0948 33.1602 50.0001 33.1693V35.8761C49.0948 35.8852 48.1895 35.8897 47.2796 35.8988C47.2705 36.8086 47.2645 37.7154 47.2615 38.6192H44.5501C44.541 37.7139 44.541 36.8086 44.5319 35.9033C43.6266 35.8942 42.7168 35.8851 41.8115 35.876V33.1693C42.7168 33.1602 43.6236 33.1541 44.5319 33.1511C44.5365 32.2412 44.5441 31.3344 44.5547 30.4307Z" fill="white"/>
				</svg>


			a(href="#").button-social_child
				<svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
					<circle cx="35" cy="35" r="34.5" fill="url(#paint0_linear)" stroke="#E8E8E8"/>
					<path d="M30.8243 26.4227C30.8243 27.1283 30.8243 30.2777 30.8243 30.2777H28V34.9918H30.8243V49H36.6262V34.9921H40.5191C40.5191 34.9921 40.8837 32.7318 41.0604 30.2603C40.5536 30.2603 36.648 30.2603 36.648 30.2603C36.648 30.2603 36.648 27.5179 36.648 27.0372C36.648 26.5556 37.2804 25.9075 37.9058 25.9075C38.5299 25.9075 39.8468 25.9075 41.0667 25.9075C41.0667 25.2657 41.0667 23.0481 41.0667 21C39.438 21 37.5856 21 36.769 21C30.6808 20.9997 30.8243 25.7184 30.8243 26.4227Z" fill="#00ADEE"/>
					<defs>
					<linearGradient id="paint0_linear" x1="35" y1="0" x2="35" y2="70" gradientUnits="userSpaceOnUse">
					<stop stop-color="white"/>
					<stop offset="1" stop-color="#E5E5E5"/>
					</linearGradient>
					</defs>
				</svg>
				<svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
					<circle cx="35" cy="35" r="35" fill="#EB008B"/>
					<path d="M30.8243 26.4227C30.8243 27.1283 30.8243 30.2777 30.8243 30.2777H28V34.9918H30.8243V49H36.6262V34.9921H40.5191C40.5191 34.9921 40.8837 32.7318 41.0604 30.2603C40.5536 30.2603 36.648 30.2603 36.648 30.2603C36.648 30.2603 36.648 27.5179 36.648 27.0372C36.648 26.5556 37.2804 25.9075 37.9058 25.9075C38.5299 25.9075 39.8468 25.9075 41.0667 25.9075C41.0667 25.2657 41.0667 23.0481 41.0667 21C39.438 21 37.5856 21 36.769 21C30.6808 20.9997 30.8243 25.7184 30.8243 26.4227Z" fill="white"/>
				</svg>



	block scripts
		include scripts
