doctype html
html(lang='en')
	block vars
	head
		title #{title}
		block head
			include head
	body(class= bodyClass)
		block noscript
			include noscript

		block navigation
			include navigation

		block header
			include section-header

		block about
			include section-about

		block masonry
			include section-masonry

		block trust
			include section-trust

		block equipment
			include section-equipment

		block content

		block footer
			include footer

		block modals
			include modals
			
		.button-social
			.button-social_main
				<svg width="35" height="41" viewBox="0 0 35 41" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M29.0053 5.76836L3.48936 20.5L29.0053 35.2317" stroke="#FAFAFA" stroke-width="2"/>
					<circle cx="28.7872" cy="6.10638" r="5.10638" fill="#00ADEE" stroke="#FAFAFA" stroke-width="2"/>
					<circle cx="28.7872" cy="34.8936" r="5.10638" fill="#00ADEE" stroke="#FAFAFA" stroke-width="2"/>
					<circle cx="6.10638" cy="20.9362" r="5.10638" fill="#00ADEE" stroke="#FAFAFA" stroke-width="2"/>
				</svg>
			a(href="google.com").button-social_child
				<svg width="30" height="17" viewBox="0 0 30 17" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M14.6781 16.8042H16.4713C16.4713 16.8042 17.0128 16.7454 17.2897 16.4516C17.5441 16.1817 17.536 15.675 17.536 15.675C17.536 15.675 17.5009 13.3027 18.6174 12.9533C19.7185 12.609 21.1321 15.2461 22.6303 16.2602C23.7633 17.0273 24.6242 16.8594 24.6242 16.8594L28.6306 16.8042C28.6306 16.8042 30.7263 16.6767 29.7326 15.052C29.6512 14.9193 29.1536 13.8503 26.7536 11.6537C24.2413 9.35474 24.5781 9.72671 27.6041 5.75001C29.4471 3.32818 30.1836 1.84976 29.9535 1.21658C29.7342 0.613289 28.3786 0.772631 28.3786 0.772631L23.8677 0.800148C23.6677 0.776696 23.4651 0.811945 23.2852 0.901481C23.0428 1.0445 22.8872 1.37864 22.8872 1.37864C22.4199 2.57376 21.863 3.73293 21.2212 4.84653C19.2125 8.20939 18.4092 8.38742 18.0809 8.17827C17.317 7.69152 17.5079 6.22331 17.5079 5.17993C17.5079 1.92079 18.0093 0.561943 16.5316 0.210179C16.0413 0.0935206 15.6801 0.0163386 14.4261 0.00373531C12.8164 -0.0124156 11.4544 0.00863081 10.683 0.381217C10.1698 0.628996 9.77389 1.18106 10.0152 1.21283C10.3134 1.25198 10.9884 1.39249 11.3463 1.87266C11.8087 2.49293 11.7926 3.88533 11.7926 3.88533C11.7926 3.88533 12.0583 7.72184 11.1722 8.19827C10.5643 8.52512 9.73017 7.85787 7.93936 4.80685C7.33149 3.74525 6.79362 2.64614 6.32909 1.51636C6.24654 1.32456 6.11915 1.15474 5.95732 1.02076C5.74762 0.88367 5.51192 0.789881 5.26445 0.745053L0.977798 0.772628C0.977798 0.772628 0.334425 0.790345 0.0980661 1.06626C-0.112296 1.31186 0.0812366 1.81922 0.0812366 1.81922C0.0812366 1.81922 3.43701 9.56056 7.23706 13.4617C10.7218 17.039 14.6781 16.8042 14.6781 16.8042L14.6781 16.8042Z" fill="#00ADEE"/>
				</svg>
			a(href="#").button-social_child
				<svg width="30" height="20" viewBox="0 0 30 20" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M0.025317 9.05179C0.107202 4.1432 4.62001 -0.155794 9.5286 0.00797476C11.8805 -0.101205 14.0914 0.922364 15.8929 2.35991C15.131 3.23469 14.3248 4.06981 13.4773 4.86197C11.3119 3.36529 8.23207 2.93768 6.06666 4.66636C2.96865 6.80903 2.82762 11.8677 5.80735 14.1742C8.70519 16.8036 14.1824 15.498 14.9831 11.472C13.168 11.4447 11.3483 11.472 9.53314 11.4128C9.52861 10.3301 9.52405 9.2474 9.52861 8.16469C12.5629 8.15559 15.5972 8.15104 18.6361 8.17379C18.8181 10.7214 18.4814 13.4327 16.9165 15.5389C14.5464 18.8735 9.78791 19.847 6.07576 18.4186C2.34996 16.9992 -0.288579 13.0642 0.025317 9.05179Z" fill="#EB008B"/>
					<path d="M24.5547 5.43066H27.2615C27.266 6.33595 27.2706 7.2458 27.2796 8.15107C28.1849 8.16017 29.0948 8.16017 30.0001 8.16927V10.8761C29.0948 10.8852 28.1895 10.8897 27.2796 10.8988C27.2705 11.8086 27.2645 12.7154 27.2615 13.6192H24.5501C24.541 12.7139 24.541 11.8086 24.5319 10.9033C23.6266 10.8942 22.7168 10.8851 21.8115 10.876V8.16926C22.7168 8.16016 23.6236 8.15409 24.5319 8.15106C24.5365 7.24124 24.5441 6.33444 24.5547 5.43066Z" fill="#EB008B"/>
				</svg>
			a(href="#").button-social_child
				<svg width="14" height="28" viewBox="0 0 14 28" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M2.82427 5.42273C2.82427 6.12833 2.82427 9.27775 2.82427 9.27775H0V13.9918H2.82427V28H8.62618V13.9921H12.5191C12.5191 13.9921 12.8837 11.7318 13.0604 9.26033C12.5536 9.26033 8.64796 9.26033 8.64796 9.26033C8.64796 9.26033 8.64796 6.51785 8.64796 6.03718C8.64796 5.55557 9.28045 4.90752 9.90578 4.90752C10.5299 4.90752 11.8468 4.90752 13.0667 4.90752C13.0667 4.26569 13.0667 2.04807 13.0667 1.53837e-08C11.438 1.53837e-08 9.58564 1.53837e-08 8.76898 1.53837e-08C2.68084 -0.000311099 2.82427 4.71836 2.82427 5.42273Z" fill="#00ADEE"/>
				</svg>

	block scripts
		include scripts
