include mixin

//- -
//-   var srcs = [
//-     {
//-       src: "img/work-05.png"
//-     },
//-     {
//-       src: "img/work-05.png"
//-     },
//-     {
//-       src: "img/work-05.png"
//-     },
//-     {
//-       src: "img/work-05.png"
//-     },
//-     {
//-       src: "img/work-05.png"
//-     },
//-     {
//-       src: "img/work-05.png"
//-     },
//-     {
//-       src: "img/work-05.png"
//-     },
//-   ];


section.section-masonry
  .owl-carousel_masonry
    .columns
      .col
        img.masonry-img(src="/img/work-05.png")
        .masonry-text Плакаты
      .col
        img.masonry-img(src="/img/work-03.png")
        img.masonry-img(src="/img/work-04.png")
      .col  
        img.masonry-img(src="/img/work-10.png")
      .col
        .masonry-text Буклеты
        img.masonry-img(src="/img/work-08.png")
      .col
        img.masonry-img(src="/img/work-05.png")
        img.masonry-img(src="/img/work-04.png")


  a(href="#")#prev-slide__masonry.slide__button._prev
    span.slide__button_arrow

  a(href="#")#next-slide__masonry.slide__button._next
    span.slide__button_arrow  
    
  //- each src in srcs
  //-   +masonryimg(src)
