#booklet-modal.modal-services.app-dialog 
  img.modal__logo(src="/img/modal/logo.svg", alt="logo")

  .app-dialog-content
    a(href="#", data-modal-close="#booklet-modal").close-modal

    .section-title(data-aos="fade-up",data-aos-delay="0", anchorPlacement="center")
      span.section-title__outer_bold буклеты

    p Рекламные буклеты и листовки – эффективные помощники в сфере продаж в связи с чем и заслужили большую популярность среди «раздаточных» материалов! Разновидностью буклета является лифлет (евробуклет).

    .list-title Лифлеты могут использоваться в качестве:

    ul.list-modal
      li рекламной продукции 
      li  информационных буклетов
      li меню для баров, кафе и ресторанов

    p Это удобное полиграфическое изделие позволяет разместить достаточно большой объём информации и при этом в готовом виде имеет компактные размеры. Удобный формат, емкое наполнение и привлекательный вид изделия в совокупности создают отличный рекламный инструмент для бизнеса.

    .list-title Зачастую лифлеты бывают двух форматов:

    .list-item_modal
      .list-item_modal--content
        <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 1.69751L33.4828 19.6997V98.3025L0.999999 80.3003L1 1.69751Z" fill="white" stroke="#00ADEE" stroke-width="2" stroke-linejoin="bevel"/>
          <path d="M66.5176 1.69751L99.0003 19.6997V98.3025L66.5176 80.3003L66.5176 1.69751Z" fill="white" stroke="#00ADEE" stroke-width="2" stroke-linejoin="bevel"/>
          <path d="M33.7588 19.6997L66.2415 1.69751V80.3003L33.7588 98.3025L33.7588 19.6997Z" fill="white" stroke="#EB008B" stroke-width="2" stroke-linejoin="bevel"/>
        </svg>

        .list-item_modal--wrap
          .list-item_modal--text
            strong 210х297 мм (А4)
            | в развороте,

          .list-item_modal--text
            strong 210х99 мм
            | в готовом виде

      .list-item_modal--content
        <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 1.69751L33.4828 19.6997V98.3025L0.999999 80.3003L1 1.69751Z" fill="white" stroke="#00ADEE" stroke-width="2" stroke-linejoin="bevel"/>
          <path d="M66.5176 1.69751L99.0003 19.6997V98.3025L66.5176 80.3003L66.5176 1.69751Z" fill="white" stroke="#00ADEE" stroke-width="2" stroke-linejoin="bevel"/>
          <path d="M33.7588 19.6997L66.2415 1.69751V80.3003L33.7588 98.3025L33.7588 19.6997Z" fill="white" stroke="#EB008B" stroke-width="2" stroke-linejoin="bevel"/>
        </svg>

        .list-item_modal--wrap
          .list-item_modal--text
            strong 297х420 мм (А3)
            | в развороте,

          .list-item_modal--text
            strong 297х140 мм
            | в готовом виде

    p Печать рекламных буклетов в зависимости от тиража возможна цифровой или офсетной технологией производства. Лифлет запечатывается с двух сторон и после складывается «гармошкой» или «в намотку». В производстве используются бумаги плотностью от 130 до 300 гр/м.кв.

    .block-order__wrap
      button(data-modal-open="#modal-order", onclick="window.location.href='/order-modal.html'").button-order 
        span посчитать заказ
        
      .text-cursive Просчитайте заказ у нас и 
        .elemment-pink получите скидку!