include mixin

-
  var links = [
    {
      text: 'Про компанию',
      href: '#section-about'
    },
    {
      text: 'Наши работы',
      href: '#section-work'
    },
    {
      text: 'Преимущества',
      href: '#section-trust'
    },
    {
      text: 'Оборудование',
      href: '#section-equipment'
    },
    {
      text: 'Услуги',
      href: '#section-services'
    },
    {
      text: 'Заказчику на заметку',
      href: '#section-notes'
    },
    {
      text: 'Контакты',
      href: '#section-contacts'
    }
  ];

nav#navbar.navbar
  #nav-burger.nav-burger.__mobile
    <svg width="40" height="27" viewBox="0 0 40 27" fill="none" xmlns="http://www.w3.org/2000/svg">
      <line x1="1.5" y1="1.5" x2="38.5" y2="1.5" stroke="#383838" stroke-width="3" stroke-linecap="round"/>
      <line x1="1.5" y1="13.5" x2="27.3" y2="13.5" stroke="#383838" stroke-width="3" stroke-linecap="round"/>
      <line x1="1.5" y1="25.5" x2="18.5" y2="25.5" stroke="#383838" stroke-width="3" stroke-linecap="round"/>
    </svg>
    <svg width="40" height="27" viewBox="0 0 40 27" fill="none" xmlns="http://www.w3.org/2000/svg">
      <line x1="1.5" y1="1.5" x2="38.5" y2="1.5" stroke="#EB008B" stroke-width="3" stroke-linecap="round"/>
      <line x1="1.5" y1="13.5" x2="27.3" y2="13.5" stroke="#EB008B" stroke-width="3" stroke-linecap="round"/>
      <line x1="1.5" y1="25.5" x2="18.5" y2="25.5" stroke="#EB008B" stroke-width="3" stroke-linecap="round"/>
    </svg>



  a.navbar__logo(href="/")
    <svg width="308" height="92" viewBox="0 0 308 92" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M123.176 34.54H126.348L133.368 53H129.676L127.96 48.398H121.512L119.822 53H116.13L123.176 34.54ZM127.31 45.876L124.762 38.622L122.11 45.876H127.31Z" fill="black"/>
      <path d="M143.167 42.392C142.109 42.4094 141.165 42.6174 140.333 43.016C139.501 43.3974 138.903 43.978 138.539 44.758V53H135.055V39.376H138.253V42.288C138.495 41.82 138.781 41.404 139.111 41.04C139.44 40.6587 139.795 40.3294 140.177 40.052C140.558 39.7747 140.939 39.5667 141.321 39.428C141.719 39.272 142.101 39.194 142.465 39.194C142.655 39.194 142.794 39.194 142.881 39.194C142.985 39.194 143.08 39.2027 143.167 39.22V42.392Z" fill="black"/>
      <path d="M153.273 52.298C152.805 52.506 152.233 52.714 151.557 52.922C150.881 53.13 150.171 53.234 149.425 53.234C148.94 53.234 148.481 53.1734 148.047 53.052C147.631 52.9307 147.259 52.74 146.929 52.48C146.617 52.2027 146.366 51.856 146.175 51.44C145.985 51.0067 145.889 50.4867 145.889 49.88V42.054H144.095V39.376H145.889V34.956H149.373V39.376H152.233V42.054H149.373V48.71C149.373 49.1954 149.495 49.542 149.737 49.75C149.997 49.9407 150.309 50.036 150.673 50.036C151.037 50.036 151.393 49.9754 151.739 49.854C152.086 49.7327 152.363 49.6287 152.571 49.542L153.273 52.298Z" fill="black"/>
      <path d="M154.781 47.436V44.29H162.659V47.436H154.781Z" fill="black"/>
      <path d="M173.891 53.26C172.816 53.26 171.88 53.026 171.083 52.558C170.285 52.0727 169.661 51.4227 169.211 50.608V58.538H165.727V39.376H168.769V41.716C169.271 40.9187 169.921 40.2947 170.719 39.844C171.516 39.376 172.435 39.142 173.475 39.142C174.393 39.142 175.243 39.3327 176.023 39.714C176.803 40.078 177.47 40.5807 178.025 41.222C178.597 41.846 179.039 42.5914 179.351 43.458C179.68 44.3074 179.845 45.2087 179.845 46.162C179.845 47.15 179.697 48.0774 179.403 48.944C179.108 49.8107 178.692 50.5647 178.155 51.206C177.635 51.8474 177.011 52.35 176.283 52.714C175.555 53.078 174.757 53.26 173.891 53.26ZM172.721 50.296C173.241 50.296 173.717 50.1834 174.151 49.958C174.601 49.7327 174.983 49.4294 175.295 49.048C175.607 48.6667 175.849 48.2247 176.023 47.722C176.196 47.2194 176.283 46.6994 176.283 46.162C176.283 45.59 176.187 45.0614 175.997 44.576C175.806 44.0734 175.537 43.64 175.191 43.276C174.861 42.912 174.463 42.626 173.995 42.418C173.544 42.21 173.05 42.106 172.513 42.106C172.183 42.106 171.845 42.1667 171.499 42.288C171.152 42.392 170.831 42.548 170.537 42.756C170.242 42.964 169.973 43.2067 169.731 43.484C169.505 43.7614 169.332 44.0647 169.211 44.394V47.592C169.523 48.372 169.999 49.022 170.641 49.542C171.282 50.0447 171.975 50.296 172.721 50.296Z" fill="black"/>
      <path d="M190.317 42.392C189.26 42.4094 188.315 42.6174 187.483 43.016C186.651 43.3974 186.053 43.978 185.689 44.758V53H182.205V39.376H185.403V42.288C185.646 41.82 185.932 41.404 186.261 41.04C186.59 40.6587 186.946 40.3294 187.327 40.052C187.708 39.7747 188.09 39.5667 188.471 39.428C188.87 39.272 189.251 39.194 189.615 39.194C189.806 39.194 189.944 39.194 190.031 39.194C190.135 39.194 190.23 39.2027 190.317 39.22V42.392Z" fill="black"/>
      <path d="M192.26 53V39.376H195.744V53H192.26Z" fill="black"/>
      <path d="M211.549 53H208.065V45.356C208.065 44.264 207.874 43.4667 207.493 42.964C207.111 42.4614 206.583 42.21 205.907 42.21C205.56 42.21 205.205 42.2794 204.841 42.418C204.477 42.5567 204.13 42.756 203.801 43.016C203.489 43.2587 203.203 43.5534 202.943 43.9C202.683 44.2467 202.492 44.628 202.371 45.044V53H198.887V39.376H202.033V41.898C202.535 41.0314 203.263 40.3554 204.217 39.87C205.17 39.3847 206.245 39.142 207.441 39.142C208.29 39.142 208.983 39.298 209.521 39.61C210.058 39.922 210.474 40.3294 210.769 40.832C211.063 41.3347 211.263 41.9067 211.367 42.548C211.488 43.1894 211.549 43.8394 211.549 44.498V53Z" fill="black"/>
      <path d="M222.615 52.298C222.147 52.506 221.575 52.714 220.899 52.922C220.223 53.13 219.512 53.234 218.767 53.234C218.282 53.234 217.822 53.1734 217.389 53.052C216.973 52.9307 216.6 52.74 216.271 52.48C215.959 52.2027 215.708 51.856 215.517 51.44C215.326 51.0067 215.231 50.4867 215.231 49.88V42.054H213.437V39.376H215.231V34.956H218.715V39.376H221.575V42.054H218.715V48.71C218.715 49.1954 218.836 49.542 219.079 49.75C219.339 49.9407 219.651 50.036 220.015 50.036C220.379 50.036 220.734 49.9754 221.081 49.854C221.428 49.7327 221.705 49.6287 221.913 49.542L222.615 52.298Z" fill="black"/>
      <path d="M235.824 53.26C234.68 53.26 233.562 53.078 232.47 52.714C231.378 52.35 230.442 51.83 229.662 51.154L230.962 48.97C231.794 49.5594 232.6 50.01 233.38 50.322C234.177 50.6167 234.966 50.764 235.746 50.764C236.439 50.764 236.985 50.634 237.384 50.374C237.782 50.114 237.982 49.7414 237.982 49.256C237.982 48.7707 237.748 48.4154 237.28 48.19C236.812 47.9647 236.049 47.7047 234.992 47.41C234.108 47.1674 233.354 46.9334 232.73 46.708C232.106 46.4827 231.603 46.2314 231.222 45.954C230.84 45.6594 230.563 45.33 230.39 44.966C230.216 44.5847 230.13 44.134 230.13 43.614C230.13 42.9207 230.26 42.2967 230.52 41.742C230.797 41.1874 231.178 40.7194 231.664 40.338C232.149 39.9394 232.712 39.636 233.354 39.428C234.012 39.22 234.723 39.116 235.486 39.116C236.508 39.116 237.462 39.2634 238.346 39.558C239.247 39.8527 240.07 40.3294 240.816 40.988L239.412 43.094C238.718 42.574 238.042 42.1927 237.384 41.95C236.742 41.7074 236.101 41.586 235.46 41.586C234.87 41.586 234.376 41.7074 233.978 41.95C233.579 42.1927 233.38 42.5827 233.38 43.12C233.38 43.3627 233.423 43.562 233.51 43.718C233.614 43.874 233.77 44.0127 233.978 44.134C234.186 44.2554 234.454 44.3767 234.784 44.498C235.13 44.602 235.555 44.7147 236.058 44.836C236.994 45.0787 237.791 45.3214 238.45 45.564C239.126 45.8067 239.672 46.084 240.088 46.396C240.521 46.708 240.833 47.072 241.024 47.488C241.232 47.8867 241.336 48.372 241.336 48.944C241.336 50.2787 240.842 51.336 239.854 52.116C238.866 52.8787 237.522 53.26 235.824 53.26Z" fill="black"/>
      <path d="M251.764 52.298C251.296 52.506 250.724 52.714 250.048 52.922C249.372 53.13 248.661 53.234 247.916 53.234C247.43 53.234 246.971 53.1734 246.538 53.052C246.122 52.9307 245.749 52.74 245.42 52.48C245.108 52.2027 244.856 51.856 244.666 51.44C244.475 51.0067 244.38 50.4867 244.38 49.88V42.054H242.586V39.376H244.38V34.956H247.864V39.376H250.724V42.054H247.864V48.71C247.864 49.1954 247.985 49.542 248.228 49.75C248.488 49.9407 248.8 50.036 249.164 50.036C249.528 50.036 249.883 49.9754 250.23 49.854C250.576 49.7327 250.854 49.6287 251.062 49.542L251.764 52.298Z" fill="black"/>
      <path d="M257.738 53.26C256.334 53.26 255.268 52.8094 254.54 51.908C253.812 51.0067 253.448 49.672 253.448 47.904V39.376H256.932V47.15C256.932 49.2474 257.686 50.296 259.194 50.296C259.87 50.296 260.52 50.0967 261.144 49.698C261.785 49.282 262.305 48.658 262.704 47.826V39.376H266.188V48.996C266.188 49.36 266.249 49.62 266.37 49.776C266.509 49.932 266.725 50.0187 267.02 50.036V53C266.673 53.0694 266.379 53.1127 266.136 53.13C265.911 53.1474 265.703 53.156 265.512 53.156C264.888 53.156 264.377 53.0174 263.978 52.74C263.597 52.4454 263.371 52.0467 263.302 51.544L263.224 50.452C262.617 51.388 261.837 52.09 260.884 52.558C259.931 53.026 258.882 53.26 257.738 53.26Z" fill="black"/>
      <path d="M275.292 53.26C274.356 53.26 273.49 53.078 272.692 52.714C271.895 52.35 271.21 51.8474 270.638 51.206C270.066 50.5647 269.616 49.8194 269.286 48.97C268.974 48.1034 268.818 47.176 268.818 46.188C268.818 45.2 268.966 44.2814 269.26 43.432C269.572 42.5827 269.997 41.8374 270.534 41.196C271.072 40.5547 271.713 40.052 272.458 39.688C273.204 39.324 274.018 39.142 274.902 39.142C275.908 39.142 276.809 39.3847 277.606 39.87C278.421 40.3554 279.054 40.988 279.504 41.768V34.02H282.988V48.996C282.988 49.36 283.049 49.62 283.17 49.776C283.292 49.932 283.5 50.0187 283.794 50.036V53C283.188 53.1214 282.694 53.182 282.312 53.182C281.688 53.182 281.177 53.026 280.778 52.714C280.38 52.402 280.154 51.9947 280.102 51.492L280.024 50.634C279.522 51.5007 278.837 52.1594 277.97 52.61C277.121 53.0434 276.228 53.26 275.292 53.26ZM276.202 50.296C276.532 50.296 276.87 50.244 277.216 50.14C277.563 50.0187 277.884 49.854 278.178 49.646C278.473 49.438 278.733 49.1954 278.958 48.918C279.201 48.6407 279.383 48.3374 279.504 48.008V44.758C279.366 44.3767 279.166 44.03 278.906 43.718C278.664 43.3887 278.378 43.1114 278.048 42.886C277.736 42.6434 277.398 42.4527 277.034 42.314C276.688 42.1754 276.341 42.106 275.994 42.106C275.474 42.106 274.989 42.2187 274.538 42.444C274.105 42.6694 273.732 42.9814 273.42 43.38C273.108 43.7614 272.866 44.2034 272.692 44.706C272.519 45.2087 272.432 45.7287 272.432 46.266C272.432 46.838 272.528 47.3667 272.718 47.852C272.909 48.3374 273.169 48.762 273.498 49.126C273.828 49.49 274.218 49.776 274.668 49.984C275.136 50.192 275.648 50.296 276.202 50.296Z" fill="black"/>
      <path d="M286.408 53V39.376H289.892V53H286.408Z" fill="black"/>
      <path d="M299.327 53.26C298.218 53.26 297.221 53.0694 296.337 52.688C295.453 52.3067 294.699 51.7954 294.075 51.154C293.468 50.4954 293 49.7414 292.671 48.892C292.342 48.0427 292.177 47.15 292.177 46.214C292.177 45.2607 292.342 44.3594 292.671 43.51C293 42.6607 293.468 41.9154 294.075 41.274C294.699 40.6154 295.453 40.0954 296.337 39.714C297.221 39.3327 298.218 39.142 299.327 39.142C300.436 39.142 301.424 39.3327 302.291 39.714C303.175 40.0954 303.92 40.6154 304.527 41.274C305.151 41.9154 305.628 42.6607 305.957 43.51C306.286 44.3594 306.451 45.2607 306.451 46.214C306.451 47.15 306.286 48.0427 305.957 48.892C305.628 49.7414 305.16 50.4954 304.553 51.154C303.946 51.7954 303.201 52.3067 302.317 52.688C301.433 53.0694 300.436 53.26 299.327 53.26ZM295.765 46.214C295.765 46.8207 295.852 47.3754 296.025 47.878C296.216 48.3634 296.467 48.788 296.779 49.152C297.108 49.516 297.49 49.802 297.923 50.01C298.356 50.2007 298.824 50.296 299.327 50.296C299.83 50.296 300.298 50.2007 300.731 50.01C301.164 49.802 301.537 49.516 301.849 49.152C302.178 48.788 302.43 48.3547 302.603 47.852C302.794 47.3494 302.889 46.7947 302.889 46.188C302.889 45.5987 302.794 45.0527 302.603 44.55C302.43 44.0474 302.178 43.614 301.849 43.25C301.537 42.886 301.164 42.6087 300.731 42.418C300.298 42.21 299.83 42.106 299.327 42.106C298.824 42.106 298.356 42.21 297.923 42.418C297.49 42.626 297.108 42.912 296.779 43.276C296.467 43.64 296.216 44.0734 296.025 44.576C295.852 45.0787 295.765 45.6247 295.765 46.214Z" fill="black"/>
        
      <path class="bird__arrow-back" fill-rule="evenodd" clip-rule="evenodd" d="M49.4 0.0221985C16.2 1.3222 0 41.5222 0 41.5222C0 41.5222 7.2 36.6222 15.9 37.6222C24.5 38.6222 36.9 56.6222 47.9 57.5222C58.6 58.4222 80.4 49.7222 81.9 30.3222C83.4 11.0222 67.1 -0.577802 49.4 0.0221985Z" fill="#FFF100"/>
      <path class="bird__tail" fill-rule="evenodd" clip-rule="evenodd" d="M66.5997 14.8221C50.5997 3.82213 32.3997 12.1221 24.0997 27.8221C8.59973 57.1221 35.3997 91.3221 35.3997 91.3221C35.3997 91.3221 34.7997 82.6221 39.9997 75.6221C45.1997 68.6221 66.8997 66.9221 73.1997 57.8221C79.2997 49.0221 82.5997 25.8221 66.5997 14.8221Z" fill="#00ADEE"/>
      <path class="bird__body" fill-rule="evenodd" clip-rule="evenodd" d="M57.6 1.32229C40.2 5.32229 27.5 20.8223 34 39.0223C40.5 57.3223 63.7 60.1223 73.9 56.4223C84.3 52.7223 91.6 32.2223 99.7 29.0223C107.8 25.8223 116 28.6223 116 28.6223C116 28.6223 89.9 -6.07771 57.6 1.32229ZM97.3 20.1223C96.5 21.5223 94.8 21.9223 93.4 21.1223C92 20.3223 91.6 18.6223 92.4 17.2223C93.2 15.8223 94.9 15.4223 96.3 16.2223C97.6 17.0223 98 18.7223 97.3 20.1223Z" fill="#000001"/>
      <path class="bird__arrow-front" fill-rule="evenodd" clip-rule="evenodd" d="M84.0999 32.0223C80.5999 13.0223 61.7999 5.9223 44.7999 11.1223C13.0999 20.9223 7.8999 64.0223 7.8999 64.0223C7.8999 64.0223 13.5999 57.4223 22.1999 56.1223C30.7999 54.8223 47.3999 69.0223 58.2999 67.0223C68.8999 65.2223 87.5999 51.1223 84.0999 32.0223Z" fill="#EB008B"/>

      <path fill-rule="evenodd" clip-rule="evenodd" d="M67.6002 30.5222C67.6002 24.0222 64.3002 20.5222 58.9002 20.5222C48.5002 20.5222 41.7002 34.2222 41.7002 44.0222C41.7002 51.1222 45.6002 53.9222 49.3002 53.9222C56.1002 53.9222 59.1002 47.6222 59.1002 46.0222C59.1002 44.9222 58.3002 43.9222 57.1002 43.9222C56.3002 43.9222 55.6002 44.4222 55.3002 45.1222C54.4002 47.6222 52.5002 49.9222 49.9002 49.9222C47.4002 49.9222 45.8002 47.4222 45.8002 43.9222C45.8002 35.3222 51.2002 24.4222 58.4002 24.4222C60.9002 24.4222 63.3002 26.1222 63.3002 30.6222C63.3002 33.9222 62.6002 37.6222 62.1002 41.1222C61.6002 44.5222 61.1002 47.1222 61.1002 49.1222C61.1002 51.0222 61.7002 53.6222 63.7002 53.6222C64.8002 53.6222 65.9002 52.7222 65.9002 51.6222C65.9002 51.1222 65.7002 50.8222 65.5002 50.5222C65.4002 50.2222 65.3002 49.8222 65.3002 49.3222C65.3002 47.4222 65.9002 44.2222 66.2002 41.7222C67.1002 38.2222 67.6002 34.1222 67.6002 30.5222Z" fill="white"/>

      <circle class="bird__eye" cx="94" cy="19" r="4" fill="#000001"/>
      <circle cx="194" cy="35" r="3" fill="#EB008B"/>
      <circle cx="288" cy="35" r="3" fill="#00ADEE"/>
    </svg>



  ul.navbar__wrap
    each link in links
      +navitem(link)

  .navbar__phone  
    .navbar__phone_icon
      <svg width="27" height="40" viewBox="0 0 28 40" fill="none" xmlns="http://www.w3.org/2000/svg">
        <mask id="path-1-inside-1" fill="white">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M13.5593 40C13.5593 40 27.1186 21.0479 27.1186 13.5593C27.1186 6.07072 21.0479 0 13.5593 0C6.07072 0 0 6.07072 0 13.5593C0 21.0479 13.5593 40 13.5593 40ZM13.5593 17.6271C15.8059 17.6271 17.6271 15.8059 17.6271 13.5593C17.6271 11.3127 15.8059 9.49153 13.5593 9.49153C11.3127 9.49153 9.49153 11.3127 9.49153 13.5593C9.49153 15.8059 11.3127 17.6271 13.5593 17.6271Z"/>
        </mask>
        <path d="M13.5593 40L11.9328 41.1637L13.5593 43.4372L15.1859 41.1637L13.5593 40ZM25.1186 13.5593C25.1186 14.9707 24.4379 17.2204 23.1756 20.0304C21.9492 22.7606 20.2976 25.7574 18.622 28.5622C16.9504 31.3602 15.2758 33.9324 14.0174 35.8071C13.3888 36.7435 12.8655 37.5038 12.5003 38.0287C12.3177 38.2911 12.1747 38.4946 12.0779 38.6317C12.0295 38.7002 11.9926 38.7522 11.9682 38.7866C11.9559 38.8038 11.9468 38.8166 11.9409 38.8249C11.9379 38.8291 11.9357 38.8321 11.9344 38.834C11.9337 38.835 11.9332 38.8356 11.9329 38.836C11.9328 38.8362 11.9328 38.8363 11.9327 38.8363C11.9327 38.8363 11.9328 38.8363 13.5593 40C15.1859 41.1637 15.186 41.1635 15.1863 41.1632C15.1864 41.163 15.1867 41.1627 15.1869 41.1623C15.1875 41.1615 15.1883 41.1604 15.1892 41.1591C15.1911 41.1564 15.1939 41.1525 15.1974 41.1476C15.2045 41.1376 15.2149 41.1231 15.2283 41.1042C15.2551 41.0665 15.2944 41.0111 15.3453 40.939C15.4471 40.7948 15.5955 40.5838 15.7836 40.3133C16.1599 39.7726 16.696 38.9937 17.3385 38.0364C18.6225 36.1235 20.3377 33.4897 22.0559 30.6136C23.7701 27.7442 25.5084 24.599 26.8244 21.6695C28.1045 18.8198 29.1186 15.8922 29.1186 13.5593H25.1186ZM13.5593 2C19.9434 2 25.1186 7.17528 25.1186 13.5593H29.1186C29.1186 4.96615 22.1525 -2 13.5593 -2V2ZM2 13.5593C2 7.17528 7.17528 2 13.5593 2V-2C4.96615 -2 -2 4.96615 -2 13.5593H2ZM13.5593 40C15.1859 38.8363 15.1859 38.8363 15.1859 38.8363C15.1859 38.8363 15.1858 38.8362 15.1857 38.836C15.1854 38.8356 15.185 38.835 15.1843 38.834C15.1829 38.8321 15.1808 38.8291 15.1778 38.8249C15.1718 38.8166 15.1627 38.8038 15.1505 38.7866C15.126 38.7522 15.0892 38.7002 15.0408 38.6317C14.944 38.4946 14.801 38.2911 14.6184 38.0287C14.2531 37.5038 13.7299 36.7435 13.1013 35.8071C11.8429 33.9324 10.1682 31.3602 8.4966 28.5622C6.82099 25.7574 5.16945 22.7606 3.94303 20.0304C2.68074 17.2204 2 14.9707 2 13.5593H-2C-2 15.8922 -0.985823 18.8198 0.294261 21.6695C1.61021 24.599 3.3485 27.7442 5.06273 30.6136C6.78094 33.4897 8.4961 36.1235 9.7801 38.0364C10.4227 38.9937 10.9587 39.7726 11.335 40.3133C11.5232 40.5838 11.6715 40.7948 11.7733 40.939C11.8242 41.0111 11.8635 41.0665 11.8904 41.1042C11.9038 41.1231 11.9141 41.1376 11.9212 41.1476C11.9248 41.1525 11.9275 41.1564 11.9294 41.1591C11.9304 41.1604 11.9312 41.1615 11.9317 41.1623C11.932 41.1627 11.9322 41.163 11.9324 41.1632C11.9326 41.1635 11.9328 41.1637 13.5593 40ZM15.6271 13.5593C15.6271 14.7013 14.7013 15.6271 13.5593 15.6271V19.6271C16.9105 19.6271 19.6271 16.9105 19.6271 13.5593H15.6271ZM13.5593 11.4915C14.7013 11.4915 15.6271 12.4173 15.6271 13.5593H19.6271C19.6271 10.2082 16.9105 7.49153 13.5593 7.49153V11.4915ZM11.4915 13.5593C11.4915 12.4173 12.4173 11.4915 13.5593 11.4915V7.49153C10.2082 7.49153 7.49153 10.2082 7.49153 13.5593H11.4915ZM13.5593 15.6271C12.4173 15.6271 11.4915 14.7013 11.4915 13.5593H7.49153C7.49153 16.9105 10.2082 19.6271 13.5593 19.6271V15.6271Z" fill="#00ADEE" mask="url(#path-1-inside-1)"/>
      </svg>
    a(href="tel:+380442231465").navbar__phone_link +380 (44) 2231465
      

#navbar-scroll.navbar-scroll

  .navbar-scroll__wrap--left
    #nav-burger-desc.nav-burger
      <svg width="40" height="27" viewBox="0 0 40 27" fill="none" xmlns="http://www.w3.org/2000/svg">
        <line x1="1.5" y1="1.5" x2="38.5" y2="1.5" stroke="#383838" stroke-width="3" stroke-linecap="round"/>
        <line x1="1.5" y1="13.5" x2="27.3" y2="13.5" stroke="#383838" stroke-width="3" stroke-linecap="round"/>
        <line x1="1.5" y1="25.5" x2="18.5" y2="25.5" stroke="#383838" stroke-width="3" stroke-linecap="round"/>
      </svg>
      <svg width="40" height="27" viewBox="0 0 40 27" fill="none" xmlns="http://www.w3.org/2000/svg">
        <line x1="1.5" y1="1.5" x2="38.5" y2="1.5" stroke="#EB008B" stroke-width="3" stroke-linecap="round"/>
        <line x1="1.5" y1="13.5" x2="27.3" y2="13.5" stroke="#EB008B" stroke-width="3" stroke-linecap="round"/>
        <line x1="1.5" y1="25.5" x2="18.5" y2="25.5" stroke="#EB008B" stroke-width="3" stroke-linecap="round"/>
      </svg>

    a.navbar__logo(href="/")
      picture
        source(media="(max-width: 600px)" srcset="/img/logo-mobile.png" type="image/png")
        img(src="/img/logo.png" alt="Art-print")

  .navbar-scroll__wrap--right
    .text-cursive Просчитайте заказ у нас и 
      .elemment-pink получите скидку!

    button.button-order.__long(onclick="window.location.href='/order-modal.html'") 
          span посчитать заказ

    .navbar__phone
      .navbar__phone_icon
        <svg width="27" height="40" viewBox="0 0 28 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <mask id="path-1-inside-1" fill="white">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M13.5593 40C13.5593 40 27.1186 21.0479 27.1186 13.5593C27.1186 6.07072 21.0479 0 13.5593 0C6.07072 0 0 6.07072 0 13.5593C0 21.0479 13.5593 40 13.5593 40ZM13.5593 17.6271C15.8059 17.6271 17.6271 15.8059 17.6271 13.5593C17.6271 11.3127 15.8059 9.49153 13.5593 9.49153C11.3127 9.49153 9.49153 11.3127 9.49153 13.5593C9.49153 15.8059 11.3127 17.6271 13.5593 17.6271Z"/>
          </mask>
          <path d="M13.5593 40L11.9328 41.1637L13.5593 43.4372L15.1859 41.1637L13.5593 40ZM25.1186 13.5593C25.1186 14.9707 24.4379 17.2204 23.1756 20.0304C21.9492 22.7606 20.2976 25.7574 18.622 28.5622C16.9504 31.3602 15.2758 33.9324 14.0174 35.8071C13.3888 36.7435 12.8655 37.5038 12.5003 38.0287C12.3177 38.2911 12.1747 38.4946 12.0779 38.6317C12.0295 38.7002 11.9926 38.7522 11.9682 38.7866C11.9559 38.8038 11.9468 38.8166 11.9409 38.8249C11.9379 38.8291 11.9357 38.8321 11.9344 38.834C11.9337 38.835 11.9332 38.8356 11.9329 38.836C11.9328 38.8362 11.9328 38.8363 11.9327 38.8363C11.9327 38.8363 11.9328 38.8363 13.5593 40C15.1859 41.1637 15.186 41.1635 15.1863 41.1632C15.1864 41.163 15.1867 41.1627 15.1869 41.1623C15.1875 41.1615 15.1883 41.1604 15.1892 41.1591C15.1911 41.1564 15.1939 41.1525 15.1974 41.1476C15.2045 41.1376 15.2149 41.1231 15.2283 41.1042C15.2551 41.0665 15.2944 41.0111 15.3453 40.939C15.4471 40.7948 15.5955 40.5838 15.7836 40.3133C16.1599 39.7726 16.696 38.9937 17.3385 38.0364C18.6225 36.1235 20.3377 33.4897 22.0559 30.6136C23.7701 27.7442 25.5084 24.599 26.8244 21.6695C28.1045 18.8198 29.1186 15.8922 29.1186 13.5593H25.1186ZM13.5593 2C19.9434 2 25.1186 7.17528 25.1186 13.5593H29.1186C29.1186 4.96615 22.1525 -2 13.5593 -2V2ZM2 13.5593C2 7.17528 7.17528 2 13.5593 2V-2C4.96615 -2 -2 4.96615 -2 13.5593H2ZM13.5593 40C15.1859 38.8363 15.1859 38.8363 15.1859 38.8363C15.1859 38.8363 15.1858 38.8362 15.1857 38.836C15.1854 38.8356 15.185 38.835 15.1843 38.834C15.1829 38.8321 15.1808 38.8291 15.1778 38.8249C15.1718 38.8166 15.1627 38.8038 15.1505 38.7866C15.126 38.7522 15.0892 38.7002 15.0408 38.6317C14.944 38.4946 14.801 38.2911 14.6184 38.0287C14.2531 37.5038 13.7299 36.7435 13.1013 35.8071C11.8429 33.9324 10.1682 31.3602 8.4966 28.5622C6.82099 25.7574 5.16945 22.7606 3.94303 20.0304C2.68074 17.2204 2 14.9707 2 13.5593H-2C-2 15.8922 -0.985823 18.8198 0.294261 21.6695C1.61021 24.599 3.3485 27.7442 5.06273 30.6136C6.78094 33.4897 8.4961 36.1235 9.7801 38.0364C10.4227 38.9937 10.9587 39.7726 11.335 40.3133C11.5232 40.5838 11.6715 40.7948 11.7733 40.939C11.8242 41.0111 11.8635 41.0665 11.8904 41.1042C11.9038 41.1231 11.9141 41.1376 11.9212 41.1476C11.9248 41.1525 11.9275 41.1564 11.9294 41.1591C11.9304 41.1604 11.9312 41.1615 11.9317 41.1623C11.932 41.1627 11.9322 41.163 11.9324 41.1632C11.9326 41.1635 11.9328 41.1637 13.5593 40ZM15.6271 13.5593C15.6271 14.7013 14.7013 15.6271 13.5593 15.6271V19.6271C16.9105 19.6271 19.6271 16.9105 19.6271 13.5593H15.6271ZM13.5593 11.4915C14.7013 11.4915 15.6271 12.4173 15.6271 13.5593H19.6271C19.6271 10.2082 16.9105 7.49153 13.5593 7.49153V11.4915ZM11.4915 13.5593C11.4915 12.4173 12.4173 11.4915 13.5593 11.4915V7.49153C10.2082 7.49153 7.49153 10.2082 7.49153 13.5593H11.4915ZM13.5593 15.6271C12.4173 15.6271 11.4915 14.7013 11.4915 13.5593H7.49153C7.49153 16.9105 10.2082 19.6271 13.5593 19.6271V15.6271Z" fill="#00ADEE" mask="url(#path-1-inside-1)"/>
        </svg>
      a(href="tel:+380442231465").navbar__phone_link +380 (44) 2231465

#menu.menu

  #menu-nav-burger-desc.menu-nav__burger.nav-burger
    <svg width="40" height="27" viewBox="0 0 40 27" fill="none" xmlns="http://www.w3.org/2000/svg">
      <line x1="1.5" y1="1.5" x2="38.5" y2="1.5" stroke="#383838" stroke-width="3" stroke-linecap="round"/>
      <line x1="1.5" y1="13.5" x2="27.3" y2="13.5" stroke="#383838" stroke-width="3" stroke-linecap="round"/>
      <line x1="1.5" y1="25.5" x2="18.5" y2="25.5" stroke="#383838" stroke-width="3" stroke-linecap="round"/>
    </svg>
    <svg width="40" height="27" viewBox="0 0 40 27" fill="none" xmlns="http://www.w3.org/2000/svg">
      <line x1="1.5" y1="1.5" x2="38.5" y2="1.5" stroke="#EB008B" stroke-width="3" stroke-linecap="round"/>
      <line x1="1.5" y1="13.5" x2="27.3" y2="13.5" stroke="#EB008B" stroke-width="3" stroke-linecap="round"/>
      <line x1="1.5" y1="25.5" x2="18.5" y2="25.5" stroke="#EB008B" stroke-width="3" stroke-linecap="round"/>
    </svg>

  ul
    each link in links
        +navitem(link)