include mixin

-
  var links = [
    {
      text: 'Про помпанию',
      href: '#'
    },
    {
      text: 'Наши работы',
      href: '#'
    },
    {
      text: 'Преимущества',
      href: '#'
    },
    {
      text: 'Оборудование',
      href: '#'
    },
    {
      text: 'Услуги',
      href: '#'
    },
    {
      text: 'Заказчику на заметку',
      href: '#'
    },
    {
      text: 'Контакты',
      href: '#'
    }
  ];

nav#navbar.navbar
  #nav-burger.nav-burger.__mobile
    <svg width="40" height="27" viewBox="0 0 40 27" fill="none" xmlns="http://www.w3.org/2000/svg">
      <line x1="1.5" y1="1.5" x2="38.5" y2="1.5" stroke="#383838" stroke-width="3" stroke-linecap="round"/>
      <line x1="1.5" y1="13.5" x2="27.3" y2="13.5" stroke="#383838" stroke-width="3" stroke-linecap="round"/>
      <line x1="1.5" y1="25.5" x2="18.5" y2="25.5" stroke="#383838" stroke-width="3" stroke-linecap="round"/>
    </svg>
    <svg width="40" height="27" viewBox="0 0 40 27" fill="none" xmlns="http://www.w3.org/2000/svg">
      <line x1="1.5" y1="1.5" x2="38.5" y2="1.5" stroke="#EB008B" stroke-width="3" stroke-linecap="round"/>
      <line x1="1.5" y1="13.5" x2="27.3" y2="13.5" stroke="#EB008B" stroke-width="3" stroke-linecap="round"/>
      <line x1="1.5" y1="25.5" x2="18.5" y2="25.5" stroke="#EB008B" stroke-width="3" stroke-linecap="round"/>
    </svg>



  a.navbar__logo(href="/")
    picture
      source(media="(max-width: 600px)" srcset="/img/logo-mobile.png" type="image/png")
      img(src="/img/logo.png" alt="Art-print")

  ul.navbar__wrap
    each link in links
      +navitem(link)

  .navbar__phone  
    .navbar__phone_icon
      <svg width="27" height="40" viewBox="0 0 28 40" fill="none" xmlns="http://www.w3.org/2000/svg">
        <mask id="path-1-inside-1" fill="white">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M13.5593 40C13.5593 40 27.1186 21.0479 27.1186 13.5593C27.1186 6.07072 21.0479 0 13.5593 0C6.07072 0 0 6.07072 0 13.5593C0 21.0479 13.5593 40 13.5593 40ZM13.5593 17.6271C15.8059 17.6271 17.6271 15.8059 17.6271 13.5593C17.6271 11.3127 15.8059 9.49153 13.5593 9.49153C11.3127 9.49153 9.49153 11.3127 9.49153 13.5593C9.49153 15.8059 11.3127 17.6271 13.5593 17.6271Z"/>
        </mask>
        <path d="M13.5593 40L11.9328 41.1637L13.5593 43.4372L15.1859 41.1637L13.5593 40ZM25.1186 13.5593C25.1186 14.9707 24.4379 17.2204 23.1756 20.0304C21.9492 22.7606 20.2976 25.7574 18.622 28.5622C16.9504 31.3602 15.2758 33.9324 14.0174 35.8071C13.3888 36.7435 12.8655 37.5038 12.5003 38.0287C12.3177 38.2911 12.1747 38.4946 12.0779 38.6317C12.0295 38.7002 11.9926 38.7522 11.9682 38.7866C11.9559 38.8038 11.9468 38.8166 11.9409 38.8249C11.9379 38.8291 11.9357 38.8321 11.9344 38.834C11.9337 38.835 11.9332 38.8356 11.9329 38.836C11.9328 38.8362 11.9328 38.8363 11.9327 38.8363C11.9327 38.8363 11.9328 38.8363 13.5593 40C15.1859 41.1637 15.186 41.1635 15.1863 41.1632C15.1864 41.163 15.1867 41.1627 15.1869 41.1623C15.1875 41.1615 15.1883 41.1604 15.1892 41.1591C15.1911 41.1564 15.1939 41.1525 15.1974 41.1476C15.2045 41.1376 15.2149 41.1231 15.2283 41.1042C15.2551 41.0665 15.2944 41.0111 15.3453 40.939C15.4471 40.7948 15.5955 40.5838 15.7836 40.3133C16.1599 39.7726 16.696 38.9937 17.3385 38.0364C18.6225 36.1235 20.3377 33.4897 22.0559 30.6136C23.7701 27.7442 25.5084 24.599 26.8244 21.6695C28.1045 18.8198 29.1186 15.8922 29.1186 13.5593H25.1186ZM13.5593 2C19.9434 2 25.1186 7.17528 25.1186 13.5593H29.1186C29.1186 4.96615 22.1525 -2 13.5593 -2V2ZM2 13.5593C2 7.17528 7.17528 2 13.5593 2V-2C4.96615 -2 -2 4.96615 -2 13.5593H2ZM13.5593 40C15.1859 38.8363 15.1859 38.8363 15.1859 38.8363C15.1859 38.8363 15.1858 38.8362 15.1857 38.836C15.1854 38.8356 15.185 38.835 15.1843 38.834C15.1829 38.8321 15.1808 38.8291 15.1778 38.8249C15.1718 38.8166 15.1627 38.8038 15.1505 38.7866C15.126 38.7522 15.0892 38.7002 15.0408 38.6317C14.944 38.4946 14.801 38.2911 14.6184 38.0287C14.2531 37.5038 13.7299 36.7435 13.1013 35.8071C11.8429 33.9324 10.1682 31.3602 8.4966 28.5622C6.82099 25.7574 5.16945 22.7606 3.94303 20.0304C2.68074 17.2204 2 14.9707 2 13.5593H-2C-2 15.8922 -0.985823 18.8198 0.294261 21.6695C1.61021 24.599 3.3485 27.7442 5.06273 30.6136C6.78094 33.4897 8.4961 36.1235 9.7801 38.0364C10.4227 38.9937 10.9587 39.7726 11.335 40.3133C11.5232 40.5838 11.6715 40.7948 11.7733 40.939C11.8242 41.0111 11.8635 41.0665 11.8904 41.1042C11.9038 41.1231 11.9141 41.1376 11.9212 41.1476C11.9248 41.1525 11.9275 41.1564 11.9294 41.1591C11.9304 41.1604 11.9312 41.1615 11.9317 41.1623C11.932 41.1627 11.9322 41.163 11.9324 41.1632C11.9326 41.1635 11.9328 41.1637 13.5593 40ZM15.6271 13.5593C15.6271 14.7013 14.7013 15.6271 13.5593 15.6271V19.6271C16.9105 19.6271 19.6271 16.9105 19.6271 13.5593H15.6271ZM13.5593 11.4915C14.7013 11.4915 15.6271 12.4173 15.6271 13.5593H19.6271C19.6271 10.2082 16.9105 7.49153 13.5593 7.49153V11.4915ZM11.4915 13.5593C11.4915 12.4173 12.4173 11.4915 13.5593 11.4915V7.49153C10.2082 7.49153 7.49153 10.2082 7.49153 13.5593H11.4915ZM13.5593 15.6271C12.4173 15.6271 11.4915 14.7013 11.4915 13.5593H7.49153C7.49153 16.9105 10.2082 19.6271 13.5593 19.6271V15.6271Z" fill="#00ADEE" mask="url(#path-1-inside-1)"/>
      </svg>
    a(href="tel:+380442231465").navbar__phone_link +380 (44) 2231465
      

#navbar-scroll.navbar-scroll

  .navbar-scroll__wrap--left
    #nav-burger-desc.nav-burger
      <svg width="40" height="27" viewBox="0 0 40 27" fill="none" xmlns="http://www.w3.org/2000/svg">
        <line x1="1.5" y1="1.5" x2="38.5" y2="1.5" stroke="#383838" stroke-width="3" stroke-linecap="round"/>
        <line x1="1.5" y1="13.5" x2="27.3" y2="13.5" stroke="#383838" stroke-width="3" stroke-linecap="round"/>
        <line x1="1.5" y1="25.5" x2="18.5" y2="25.5" stroke="#383838" stroke-width="3" stroke-linecap="round"/>
      </svg>
      <svg width="40" height="27" viewBox="0 0 40 27" fill="none" xmlns="http://www.w3.org/2000/svg">
        <line x1="1.5" y1="1.5" x2="38.5" y2="1.5" stroke="#EB008B" stroke-width="3" stroke-linecap="round"/>
        <line x1="1.5" y1="13.5" x2="27.3" y2="13.5" stroke="#EB008B" stroke-width="3" stroke-linecap="round"/>
        <line x1="1.5" y1="25.5" x2="18.5" y2="25.5" stroke="#EB008B" stroke-width="3" stroke-linecap="round"/>
      </svg>

    a.navbar__logo(href="/")
      picture
        source(media="(max-width: 600px)" srcset="/img/logo-mobile.png" type="image/png")
        img(src="/img/logo.png" alt="Art-print")

  .navbar-scroll__wrap--right
    .text-cursive Просчитайте заказ у нас и 
      .elemment-pink получите скидку!

    button.button-order.__long(onclick="window.location.href='/order-modal.html'") 
          span посчитать заказ

    .navbar__phone
      .navbar__phone_icon
        <svg width="27" height="40" viewBox="0 0 28 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <mask id="path-1-inside-1" fill="white">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M13.5593 40C13.5593 40 27.1186 21.0479 27.1186 13.5593C27.1186 6.07072 21.0479 0 13.5593 0C6.07072 0 0 6.07072 0 13.5593C0 21.0479 13.5593 40 13.5593 40ZM13.5593 17.6271C15.8059 17.6271 17.6271 15.8059 17.6271 13.5593C17.6271 11.3127 15.8059 9.49153 13.5593 9.49153C11.3127 9.49153 9.49153 11.3127 9.49153 13.5593C9.49153 15.8059 11.3127 17.6271 13.5593 17.6271Z"/>
          </mask>
          <path d="M13.5593 40L11.9328 41.1637L13.5593 43.4372L15.1859 41.1637L13.5593 40ZM25.1186 13.5593C25.1186 14.9707 24.4379 17.2204 23.1756 20.0304C21.9492 22.7606 20.2976 25.7574 18.622 28.5622C16.9504 31.3602 15.2758 33.9324 14.0174 35.8071C13.3888 36.7435 12.8655 37.5038 12.5003 38.0287C12.3177 38.2911 12.1747 38.4946 12.0779 38.6317C12.0295 38.7002 11.9926 38.7522 11.9682 38.7866C11.9559 38.8038 11.9468 38.8166 11.9409 38.8249C11.9379 38.8291 11.9357 38.8321 11.9344 38.834C11.9337 38.835 11.9332 38.8356 11.9329 38.836C11.9328 38.8362 11.9328 38.8363 11.9327 38.8363C11.9327 38.8363 11.9328 38.8363 13.5593 40C15.1859 41.1637 15.186 41.1635 15.1863 41.1632C15.1864 41.163 15.1867 41.1627 15.1869 41.1623C15.1875 41.1615 15.1883 41.1604 15.1892 41.1591C15.1911 41.1564 15.1939 41.1525 15.1974 41.1476C15.2045 41.1376 15.2149 41.1231 15.2283 41.1042C15.2551 41.0665 15.2944 41.0111 15.3453 40.939C15.4471 40.7948 15.5955 40.5838 15.7836 40.3133C16.1599 39.7726 16.696 38.9937 17.3385 38.0364C18.6225 36.1235 20.3377 33.4897 22.0559 30.6136C23.7701 27.7442 25.5084 24.599 26.8244 21.6695C28.1045 18.8198 29.1186 15.8922 29.1186 13.5593H25.1186ZM13.5593 2C19.9434 2 25.1186 7.17528 25.1186 13.5593H29.1186C29.1186 4.96615 22.1525 -2 13.5593 -2V2ZM2 13.5593C2 7.17528 7.17528 2 13.5593 2V-2C4.96615 -2 -2 4.96615 -2 13.5593H2ZM13.5593 40C15.1859 38.8363 15.1859 38.8363 15.1859 38.8363C15.1859 38.8363 15.1858 38.8362 15.1857 38.836C15.1854 38.8356 15.185 38.835 15.1843 38.834C15.1829 38.8321 15.1808 38.8291 15.1778 38.8249C15.1718 38.8166 15.1627 38.8038 15.1505 38.7866C15.126 38.7522 15.0892 38.7002 15.0408 38.6317C14.944 38.4946 14.801 38.2911 14.6184 38.0287C14.2531 37.5038 13.7299 36.7435 13.1013 35.8071C11.8429 33.9324 10.1682 31.3602 8.4966 28.5622C6.82099 25.7574 5.16945 22.7606 3.94303 20.0304C2.68074 17.2204 2 14.9707 2 13.5593H-2C-2 15.8922 -0.985823 18.8198 0.294261 21.6695C1.61021 24.599 3.3485 27.7442 5.06273 30.6136C6.78094 33.4897 8.4961 36.1235 9.7801 38.0364C10.4227 38.9937 10.9587 39.7726 11.335 40.3133C11.5232 40.5838 11.6715 40.7948 11.7733 40.939C11.8242 41.0111 11.8635 41.0665 11.8904 41.1042C11.9038 41.1231 11.9141 41.1376 11.9212 41.1476C11.9248 41.1525 11.9275 41.1564 11.9294 41.1591C11.9304 41.1604 11.9312 41.1615 11.9317 41.1623C11.932 41.1627 11.9322 41.163 11.9324 41.1632C11.9326 41.1635 11.9328 41.1637 13.5593 40ZM15.6271 13.5593C15.6271 14.7013 14.7013 15.6271 13.5593 15.6271V19.6271C16.9105 19.6271 19.6271 16.9105 19.6271 13.5593H15.6271ZM13.5593 11.4915C14.7013 11.4915 15.6271 12.4173 15.6271 13.5593H19.6271C19.6271 10.2082 16.9105 7.49153 13.5593 7.49153V11.4915ZM11.4915 13.5593C11.4915 12.4173 12.4173 11.4915 13.5593 11.4915V7.49153C10.2082 7.49153 7.49153 10.2082 7.49153 13.5593H11.4915ZM13.5593 15.6271C12.4173 15.6271 11.4915 14.7013 11.4915 13.5593H7.49153C7.49153 16.9105 10.2082 19.6271 13.5593 19.6271V15.6271Z" fill="#00ADEE" mask="url(#path-1-inside-1)"/>
        </svg>
      a(href="tel:+380442231465").navbar__phone_link +380 (44) 2231465

#menu.menu

  #menu-nav-burger-desc.menu-nav__burger.nav-burger
    <svg width="40" height="27" viewBox="0 0 40 27" fill="none" xmlns="http://www.w3.org/2000/svg">
      <line x1="1.5" y1="1.5" x2="38.5" y2="1.5" stroke="#383838" stroke-width="3" stroke-linecap="round"/>
      <line x1="1.5" y1="13.5" x2="27.3" y2="13.5" stroke="#383838" stroke-width="3" stroke-linecap="round"/>
      <line x1="1.5" y1="25.5" x2="18.5" y2="25.5" stroke="#383838" stroke-width="3" stroke-linecap="round"/>
    </svg>
    <svg width="40" height="27" viewBox="0 0 40 27" fill="none" xmlns="http://www.w3.org/2000/svg">
      <line x1="1.5" y1="1.5" x2="38.5" y2="1.5" stroke="#EB008B" stroke-width="3" stroke-linecap="round"/>
      <line x1="1.5" y1="13.5" x2="27.3" y2="13.5" stroke="#EB008B" stroke-width="3" stroke-linecap="round"/>
      <line x1="1.5" y1="25.5" x2="18.5" y2="25.5" stroke="#EB008B" stroke-width="3" stroke-linecap="round"/>
    </svg>

  .strip-wrapper__bottom
    .strip.strip__bottom

  ul
    each link in links
        +navitem(link)