section#section-notes.notes__wrap
  .notes__content
    
    .notes__bg-text требования
    .notes__title заказчику
      .notes__text на заметку
      .notes__main-text Требования, выдвигаемые к макетам, которые передаются на цветоделение и печать в типографию ООО «АРТ ПРИНТ СТУДИО»
    .notes__pdf-wrap
      .notes__pdf
        a.notes__pdf-img(href="/" download)
          <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="70" height="70" rx="20" fill="#EB008B"/>
            <path d="M17.8491 29.9998V15.7998H23.8691C24.5225 15.7998 25.1225 15.9398 25.6691 16.2198C26.2291 16.4865 26.7091 16.8465 27.1091 17.2998C27.5091 17.7398 27.8225 18.2465 28.0491 18.8198C28.2758 19.3798 28.3891 19.9465 28.3891 20.5198C28.3891 21.1198 28.2825 21.7065 28.0691 22.2798C27.8558 22.8398 27.5558 23.3398 27.1691 23.7798C26.7825 24.2198 26.3158 24.5731 25.7691 24.8398C25.2225 25.1065 24.6225 25.2398 23.9691 25.2398H20.6091V29.9998H17.8491ZM20.6091 22.8198H23.8091C24.3158 22.8198 24.7358 22.6131 25.0691 22.1998C25.4158 21.7865 25.5891 21.2265 25.5891 20.5198C25.5891 20.1598 25.5358 19.8398 25.4291 19.5598C25.3225 19.2665 25.1825 19.0198 25.0091 18.8198C24.8358 18.6198 24.6291 18.4731 24.3891 18.3798C24.1625 18.2731 23.9291 18.2198 23.6891 18.2198H20.6091V22.8198Z" fill="#FAFAFA"/>
            <path d="M30.3101 29.9998V15.7998H35.4701C36.6301 15.7998 37.6434 15.9865 38.5101 16.3598C39.3901 16.7331 40.1234 17.2398 40.7101 17.8798C41.2967 18.5198 41.7367 19.2731 42.0301 20.1398C42.3234 20.9931 42.4701 21.9065 42.4701 22.8798C42.4701 23.9598 42.3034 24.9398 41.9701 25.8198C41.6501 26.6865 41.1834 27.4331 40.5701 28.0598C39.9567 28.6731 39.2167 29.1531 38.3501 29.4998C37.4967 29.8331 36.5367 29.9998 35.4701 29.9998H30.3101ZM39.6901 22.8798C39.6901 22.1998 39.5967 21.5731 39.4101 20.9998C39.2234 20.4265 38.9501 19.9331 38.5901 19.5198C38.2301 19.1065 37.7834 18.7865 37.2501 18.5598C36.7301 18.3331 36.1367 18.2198 35.4701 18.2198H33.0701V27.5798H35.4701C36.1501 27.5798 36.7501 27.4598 37.2701 27.2198C37.8034 26.9798 38.2434 26.6531 38.5901 26.2398C38.9501 25.8131 39.2234 25.3131 39.4101 24.7398C39.5967 24.1665 39.6901 23.5465 39.6901 22.8798Z" fill="#FAFAFA"/>
            <path d="M44.6265 29.9998V15.7998H54.1665V18.2198H47.3865V21.8798H53.0265V24.1198H47.3865V29.9998H44.6265Z" fill="#FAFAFA"/>
            <line x1="35" y1="38" x2="35" y2="58" stroke="#FAFAFA" stroke-width="2"/>
            <path d="M46.1299 48.1294L35.065 59.1944L24 48.1294" stroke="#FAFAFA" stroke-width="2"/>
          </svg>
        .notes__pdf-text Требования к макетам
      .notes__pdf
        a.notes__pdf-img(href="/" download)   
          <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="70" height="70" rx="20" fill="#EB008B"/>
            <path d="M17.8491 29.9998V15.7998H23.8691C24.5225 15.7998 25.1225 15.9398 25.6691 16.2198C26.2291 16.4865 26.7091 16.8465 27.1091 17.2998C27.5091 17.7398 27.8225 18.2465 28.0491 18.8198C28.2758 19.3798 28.3891 19.9465 28.3891 20.5198C28.3891 21.1198 28.2825 21.7065 28.0691 22.2798C27.8558 22.8398 27.5558 23.3398 27.1691 23.7798C26.7825 24.2198 26.3158 24.5731 25.7691 24.8398C25.2225 25.1065 24.6225 25.2398 23.9691 25.2398H20.6091V29.9998H17.8491ZM20.6091 22.8198H23.8091C24.3158 22.8198 24.7358 22.6131 25.0691 22.1998C25.4158 21.7865 25.5891 21.2265 25.5891 20.5198C25.5891 20.1598 25.5358 19.8398 25.4291 19.5598C25.3225 19.2665 25.1825 19.0198 25.0091 18.8198C24.8358 18.6198 24.6291 18.4731 24.3891 18.3798C24.1625 18.2731 23.9291 18.2198 23.6891 18.2198H20.6091V22.8198Z" fill="#FAFAFA"/>
            <path d="M30.3101 29.9998V15.7998H35.4701C36.6301 15.7998 37.6434 15.9865 38.5101 16.3598C39.3901 16.7331 40.1234 17.2398 40.7101 17.8798C41.2967 18.5198 41.7367 19.2731 42.0301 20.1398C42.3234 20.9931 42.4701 21.9065 42.4701 22.8798C42.4701 23.9598 42.3034 24.9398 41.9701 25.8198C41.6501 26.6865 41.1834 27.4331 40.5701 28.0598C39.9567 28.6731 39.2167 29.1531 38.3501 29.4998C37.4967 29.8331 36.5367 29.9998 35.4701 29.9998H30.3101ZM39.6901 22.8798C39.6901 22.1998 39.5967 21.5731 39.4101 20.9998C39.2234 20.4265 38.9501 19.9331 38.5901 19.5198C38.2301 19.1065 37.7834 18.7865 37.2501 18.5598C36.7301 18.3331 36.1367 18.2198 35.4701 18.2198H33.0701V27.5798H35.4701C36.1501 27.5798 36.7501 27.4598 37.2701 27.2198C37.8034 26.9798 38.2434 26.6531 38.5901 26.2398C38.9501 25.8131 39.2234 25.3131 39.4101 24.7398C39.5967 24.1665 39.6901 23.5465 39.6901 22.8798Z" fill="#FAFAFA"/>
            <path d="M44.6265 29.9998V15.7998H54.1665V18.2198H47.3865V21.8798H53.0265V24.1198H47.3865V29.9998H44.6265Z" fill="#FAFAFA"/>
            <line x1="35" y1="38" x2="35" y2="58" stroke="#FAFAFA" stroke-width="2"/>
            <path d="M46.1299 48.1294L35.065 59.1944L24 48.1294" stroke="#FAFAFA" stroke-width="2"/>
          </svg>     
        .notes__pdf-text Технические требования к файлам
      .notes__pdf
        a.notes__pdf-img(href="/" download)
          <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="70" height="70" rx="20" fill="#EB008B"/>
            <path d="M17.8491 29.9998V15.7998H23.8691C24.5225 15.7998 25.1225 15.9398 25.6691 16.2198C26.2291 16.4865 26.7091 16.8465 27.1091 17.2998C27.5091 17.7398 27.8225 18.2465 28.0491 18.8198C28.2758 19.3798 28.3891 19.9465 28.3891 20.5198C28.3891 21.1198 28.2825 21.7065 28.0691 22.2798C27.8558 22.8398 27.5558 23.3398 27.1691 23.7798C26.7825 24.2198 26.3158 24.5731 25.7691 24.8398C25.2225 25.1065 24.6225 25.2398 23.9691 25.2398H20.6091V29.9998H17.8491ZM20.6091 22.8198H23.8091C24.3158 22.8198 24.7358 22.6131 25.0691 22.1998C25.4158 21.7865 25.5891 21.2265 25.5891 20.5198C25.5891 20.1598 25.5358 19.8398 25.4291 19.5598C25.3225 19.2665 25.1825 19.0198 25.0091 18.8198C24.8358 18.6198 24.6291 18.4731 24.3891 18.3798C24.1625 18.2731 23.9291 18.2198 23.6891 18.2198H20.6091V22.8198Z" fill="#FAFAFA"/>
            <path d="M30.3101 29.9998V15.7998H35.4701C36.6301 15.7998 37.6434 15.9865 38.5101 16.3598C39.3901 16.7331 40.1234 17.2398 40.7101 17.8798C41.2967 18.5198 41.7367 19.2731 42.0301 20.1398C42.3234 20.9931 42.4701 21.9065 42.4701 22.8798C42.4701 23.9598 42.3034 24.9398 41.9701 25.8198C41.6501 26.6865 41.1834 27.4331 40.5701 28.0598C39.9567 28.6731 39.2167 29.1531 38.3501 29.4998C37.4967 29.8331 36.5367 29.9998 35.4701 29.9998H30.3101ZM39.6901 22.8798C39.6901 22.1998 39.5967 21.5731 39.4101 20.9998C39.2234 20.4265 38.9501 19.9331 38.5901 19.5198C38.2301 19.1065 37.7834 18.7865 37.2501 18.5598C36.7301 18.3331 36.1367 18.2198 35.4701 18.2198H33.0701V27.5798H35.4701C36.1501 27.5798 36.7501 27.4598 37.2701 27.2198C37.8034 26.9798 38.2434 26.6531 38.5901 26.2398C38.9501 25.8131 39.2234 25.3131 39.4101 24.7398C39.5967 24.1665 39.6901 23.5465 39.6901 22.8798Z" fill="#FAFAFA"/>
            <path d="M44.6265 29.9998V15.7998H54.1665V18.2198H47.3865V21.8798H53.0265V24.1198H47.3865V29.9998H44.6265Z" fill="#FAFAFA"/>
            <line x1="35" y1="38" x2="35" y2="58" stroke="#FAFAFA" stroke-width="2"/>
            <path d="M46.1299 48.1294L35.065 59.1944L24 48.1294" stroke="#FAFAFA" stroke-width="2"/>
          </svg>
        .notes__pdf-text Типовой договор о сотрудничестве

    .block-order__wrap.__mobile
      button.button-order(onclick="window.location.href='/order-modal.html'") 
        span посчитать заказ
  
      .text-cursive Просчитайте заказ у нас и 
        .elemment-pink получите скидку!

    .strip-wrapper__bottom.__mobile
      .strip.strip__bottom
        
  img.notes__line(src="/img/notes-line.png", alt="line")
  img.notes__xs-line(src="/img/xs-notes-line.png", alt="line")


