section.notes__wrap
  .notes__content
    
    .notes__bg-text требования
    .notes__title заказчику
      .notes__text на заметку
      .notes__main-text Требования, выдвигаемые к макетам, которые передаются на цветоделение и печать в типографию ООО «АРТ ПРИНТ СТУДИО»
    .notes__pdf-wrap
      .notes__pdf
        a.notes__pdf-img(href="/" download)
        .notes__pdf-text Требования к макетам
      .notes__pdf
        a.notes__pdf-img(href="/" download)
        .notes__pdf-text Технические требования к файлам
      .notes__pdf
        a.notes__pdf-img(href="/" download)
        .notes__pdf-text Типовой договор о сотрудничестве

    .block-order__wrap.__mobile
      button.button-order(data-modal-open="#modal-order") посчитать заказ
  
      .text-cursive Просчитайте заказ у нас и 
        .elemment-pink получите скидку!

    .strip-wrapper__bottom.__mobile
      .strip.strip__bottom
        
  img.notes__line(src="/img/notes-line.png", alt="line")
  img.notes__xs-line(src="/img/xs-notes-line.png", alt="line")


