
//- script(src='js/Jquery.min.js')

script(src='js/main.js')

script(src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js')

//- script(src='js/owl-carousel.js')

script(src='js/jquery.nice-select.min.js')


