section.section-team 
    .section-team_container.__container 
        .section-title
            .section-title__outer_bold наша
            .section-title__outer_fit команда

    #owl-carousel_4.owl-carousel.slider-team
        .slider-team__item
            .slider-team__img.image-holder
                img(src="/img/image.png", alt="team") 
            .slider-team__name Станислав Маслинков
            .slider-team__position Директор 
            a(href="tel:+380442231465").slider-team__tell +38 (044) 223 14 65 
            a(href="mailto:s.maslinkov@artprintstudio.com.ua").slider-team__email s.maslinkov@artprintstudio.com.ua

        .slider-team__item
            .slider-team__img.image-holder
                img(src="/img/image 4.png", alt="team") 
            .slider-team__name Станислав Маслинков
            .slider-team__position Директор 
            a(href="tel:+380442231465").slider-team__tell +38 (044) 223 14 65 
            a(href="mailto:s.maslinkov@artprintstudio.com.ua").slider-team__email s.maslinkov@artprintstudio.com.ua

        .slider-team__item
            .slider-team__img.image-holder
                img(src="/img/image 2.1.png", alt="team") 
            .slider-team__name Станислав Маслинков
            .slider-team__position Директор 
            a(href="tel:+380442231465").slider-team__tell +38 (044) 223 14 65 
            a(href="mailto:s.maslinkov@artprintstudio.com.ua").slider-team__email s.maslinkov@artprintstudio.com.ua

        .slider-team__item
            .slider-team__img.image-holder
                img(src="/img/image 7 (1).png", alt="team") 
            .slider-team__name Станислав Маслинков
            .slider-team__position Директор 
            a(href="tel:+380442231465").slider-team__tell +38 (044) 223 14 65 
            a(href="mailto:s.maslinkov@artprintstudio.com.ua").slider-team__email s.maslinkov@artprintstudio.com.ua

        .slider-team__item
            .slider-team__img.image-holder
                img(src="/img/image 2.png", alt="team") 
            .slider-team__name Станислав Маслинков
            .slider-team__position Директор 
            a(href="tel:+380442231465").slider-team__tell +38 (044) 223 14 65 
            a(href="mailto:s.maslinkov@artprintstudio.com.ua").slider-team__email s.maslinkov@artprintstudio.com.ua

        .slider-team__item
            .slider-team__img.image-holder
                img(src="/img/image.png", alt="team") 
            .slider-team__name Станислав Маслинков
            .slider-team__position Директор 
            a(href="tel:+380442231465").slider-team__tell +38 (044) 223 14 65 
            a(href="mailto:s.maslinkov@artprintstudio.com.ua").slider-team__email s.maslinkov@artprintstudio.com.ua

        
            

    a(href="#")#prev-slide__4.slide__button._prev
        span.slide__button_arrow

    a(href="#")#next-slide__4.slide__button._next
        span.slide__button_arrow