section.section-team 
    .section-team_container.__container 
        .section-title.showup-animation.showup-animation_hidden
            .showup-animation__line
                .section-title__outer_bold наша
            .showup-animation__line
                .section-title__outer_fit команда

    .wrap-slider__team
        .slider-team
            .slider-team__item
                .slider-team__img.image-holder
                    img(src="/img/image.jpg", alt="team") 
                .slider-team__name Станислав Маслинков
                .slider-team__position Директор 
                a(href="tel:+380442231465").slider-team__tell +38 (044) 223 14 65 
                a(href="mailto:s.maslinkov@artprintstudio.com.ua").slider-team__email s.maslinkov@artprintstudio.com.ua

            .slider-team__item
                .slider-team__img.image-holder
                    img(src="/img/image 4.jpg", alt="team") 
                .slider-team__name Анна Маслинкова
                .slider-team__position Нач. отд. продаж  
                a(href="tel:+380442231465").slider-team__tell +38 (067) 460 07 25
                a(href="mailto:s.maslinkov@artprintstudio.com.ua").slider-team__email a.teplova@artprintstudio.com.ua

            .slider-team__item
                .slider-team__img.image-holder
                    img(src="/img/image 2.1.jpg", alt="team") 
                .slider-team__name Анна Кудина
                .slider-team__position Начальник репроцентра 
                a(href="tel:+380442231465").slider-team__tell +38 (044) 223 14 65 
                a(href="mailto:s.maslinkov@artprintstudio.com.ua").slider-team__email repro.asd@artprintstudio.com.ua

            .slider-team__item
                .slider-team__img.image-holder
                    img(src="/img/image 7 (1).jpg", alt="team") 
                .slider-team__name Ирина Жеребченкова 
                .slider-team__position Менеджер 
                a(href="tel:+380442231465").slider-team__tell +38 (067) 240 17 80
                a(href="tel:+380442231465").slider-team__tell +38 (044) 223 14 65 
                a(href="mailto:s.maslinkov@artprintstudio.com.ua").slider-team__email i.zherebchenkova@artprintstudio.com.ua

            .slider-team__item
                .slider-team__img.image-holder
                    img(src="/img/image 2.jpg", alt="team") 
                .slider-team__name Алена Нефедова
                .slider-team__position Менеджер 
                a(href="tel:+380442231465").slider-team__tell +38 (067) 537 97 79
                a(href="tel:+380442231465").slider-team__tell +38 (044) 223 14 65 
                a(href="mailto:s.maslinkov@artprintstudio.com.ua").slider-team__email a.nefedova@artprintstudio.com.ua

            .slider-team__item
                .slider-team__img.image-holder
                    img(src="/img/image.jpg", alt="team") 
                .slider-team__name Алена Чагарова
                .slider-team__position Финансовый директор 
                a(href="tel:+380442231465").slider-team__tell +38 (044) 223 14 65 
                a(href="mailto:s.maslinkov@artprintstudio.com.ua").slider-team__email a.chagarova@artprintstudio.com.ua

            .slider-team__item
                .slider-team__img.image-holder
                    img(src="/img/image 2.1.jpg", alt="team") 
                .slider-team__name Анна Кудина
                .slider-team__position Начальник репроцентра 
                a(href="tel:+380442231465").slider-team__tell +38 (044) 223 14 65 
                a(href="mailto:s.maslinkov@artprintstudio.com.ua").slider-team__email repro.asd@artprintstudio.com.ua


    a(href="#")#prev-slide__4.slide__button._prev
      <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="35" cy="35" r="35" fill="white"/> 
        <line x1="20.125" y1="35.75" x2="50.75" y2="35.75" stroke="#EB008B" stroke-width="2"/>
        <path d="M34.881 51.387L19.25 35.756L34.881 20.125" stroke="#EB008B" stroke-width="2"/>
      </svg>

    a(href="#")#next-slide__4.slide__button._next
      <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="35" cy="35" r="35" transform="rotate(180 35 35)" fill="white"/>
        <line x1="49.875" y1="34.25" x2="19.25" y2="34.25" stroke="#EB008B" stroke-width="2"/>
        <path d="M35.119 18.613L50.75 34.244L35.119 49.875" stroke="#EB008B" stroke-width="2"/>
      </svg>


    .block-order__container

        .section-back__content.__mobile команда

        .strip-wrapper__bottom.__mobile  
            .strip.strip__bottom

        .block-order__wrap.__mobile
            button.button-order(onclick="window.location.href='/order-modal.html'")
                span посчитать заказ
            .text-cursive Просчитайте заказ у нас и 
                .elemment-pink получите скидку!

    .section-back__content команда

    .strip-wrapper__top
      .strip.strip__top
