section#section-equipment.section-equipment.showup-animation.showup-animation_hidden
  .slider-container
    .slider-left

      .section-title.showup-animation
        .showup-animation__line
          span.section-title__outer_bold наше
        .showup-animation__line
          span.section-title__outer_fit оборудование

      #carousel-custom-dots

    .slider-right

      button.button-close 
      #owl-carousel_3.owl-carousel
        .slide(data-dot="<button role='button' class='owl-custom_dot'>HEIDELBERG SM-102-5</button>")
          .slide-content  
            .slide-title листоподборочная линия MKW Rapid UT
            p.slide-text Листоподборочная машина — модульная листоподборочная машина с горизонтальным расположением станций и вакуумной подачей листов, предназначена для комплектации (подборки) блоков любого объема, в том числе и подборки сфальцованных листов. Такая конфигурация рассчитана на многосменную работу в интенсивном режиме. Очень професиональная, да и просто, привлекательная линия для типографии, занимающихся выпуском книжно-журнальной продукции больших тиражей. MKW настолько упрощает весь процесс сборки журналов, что продукция никогда долго на этом этапе не задерживается, что позволяет быстро и качественно изготовить продукцию в срок. Оборудование также шьет на евро скобу .
          .grid-img
            .row
              .image-holder.__image-1
                img(src="/img/slide-1.jpg", alt="img")
              .image-holder.__image-2
                img(src="/img/slide-2.jpg", alt="img")

            .row
              .image-holder.__image-3
                img(src="/img/slide-3.jpg", alt="img")
              .image-holder.__image-4
                img(src="/img/slide-4.jpg", alt="img")

        .slide(data-dot="<button role='button' class='owl-custom_dot'>HEIDELBERG SM-74-6</button>")

          .slide-content  
            .slide-title HEIDELBERG SM-74-6
            p.slide-text Листоподборочная машина — модульная листоподборочная машина с горизонтальным расположением станций и вакуумной подачей листов, предназначена для комплектации (подборки) блоков любого объема, в том числе и подборки сфальцованных листов. Такая конфигурация рассчитана на многосменную работу в интенсивном режиме. Очень професиональная, да и просто, привлекательная линия для типографии, занимающихся выпуском книжно-журнальной продукции больших тиражей. MKW настолько упрощает весь процесс сборки журналов, что продукция никогда долго на этом этапе не задерживается, что позволяет быстро и качественно изготовить продукцию в срок. Оборудование также шьет на евро скобу .
          .grid-img
            .row
              .image-holder.__image-1
                img(src="/img/slide-1.jpg", alt="img")
              .image-holder.__image-2
                img(src="/img/slide-2.jpg", alt="img")

            .row
              .image-holder.__image-3
                img(src="/img/slide-3.jpg", alt="img")
              .image-holder.__image-4
                img(src="/img/slide-4.jpg", alt="img")

        .slide(data-dot="<button role='button' class='owl-custom_dot'>STP SCREEN PlateRite 8600</button>")

          .slide-content  
            .slide-title STP SCREEN PlateRite 8600
            p.slide-text Листоподборочная машина — модульная листоподборочная машина с горизонтальным расположением станций и вакуумной подачей листов, предназначена для комплектации (подборки) блоков любого объема, в том числе и подборки сфальцованных листов. Такая конфигурация рассчитана на многосменную работу в интенсивном режиме. Очень професиональная, да и просто, привлекательная линия для типографии, занимающихся выпуском книжно-журнальной продукции больших тиражей. MKW настолько упрощает весь процесс сборки журналов, что продукция никогда долго на этом этапе не задерживается, что позволяет быстро и качественно изготовить продукцию в срок. Оборудование также шьет на евро скобу .
          .grid-img
            .row
              .image-holder.__image-1
                img(src="/img/slide-1.jpg", alt="img")
              .image-holder.__image-2
                img(src="/img/slide-2.jpg", alt="img")

            .row
              .image-holder.__image-3
                img(src="/img/slide-3.jpg", alt="img")
              .image-holder.__image-4
                img(src="/img/slide-4.jpg", alt="img")

        .slide(data-dot="<button role='button' class='owl-custom_dot'>фальцовка HEIDELBERG stahlfolder kh 94</button>")

          .slide-content
            .slide-title фальцовка HEIDELBERG stahlfolder kh 94
            p.slide-text Листоподборочная машина — модульная листоподборочная машина с горизонтальным расположением станций и вакуумной подачей листов, предназначена для комплектации (подборки) блоков любого объема, в том числе и подборки сфальцованных листов. Такая конфигурация рассчитана на многосменную работу в интенсивном режиме. Очень професиональная, да и просто, привлекательная линия для типографии, занимающихся выпуском книжно-журнальной продукции больших тиражей. MKW настолько упрощает весь процесс сборки журналов, что продукция никогда долго на этом этапе не задерживается, что позволяет быстро и качественно изготовить продукцию в срок. Оборудование также шьет на евро скобу .
          .grid-img
            .row
              .image-holder.__image-1
                img(src="/img/slide-1.jpg", alt="img")
              .image-holder.__image-2
                img(src="/img/slide-2.jpg", alt="img")

            .row
              .image-holder.__image-3
                img(src="/img/slide-3.jpg", alt="img")
              .image-holder.__image-4
                img(src="/img/slide-4.jpg", alt="img")

        .slide(data-dot="<button role='button' class='owl-custom_dot'>ФАЛЬЦОВКА – STAHL HEIDELBERG-84</button>")

          .slide-content
            .slide-title ФАЛЬЦОВКА – STAHL HEIDELBERG-84
            p.slide-text Листоподборочная машина — модульная листоподборочная машина с горизонтальным расположением станций и вакуумной подачей листов, предназначена для комплектации (подборки) блоков любого объема, в том числе и подборки сфальцованных листов. Такая конфигурация рассчитана на многосменную работу в интенсивном режиме. Очень професиональная, да и просто, привлекательная линия для типографии, занимающихся выпуском книжно-журнальной продукции больших тиражей. MKW настолько упрощает весь процесс сборки журналов, что продукция никогда долго на этом этапе не задерживается, что позволяет быстро и качественно изготовить продукцию в срок. Оборудование также шьет на евро скобу .
          .grid-img
            .row
              .image-holder.__image-1
                img(src="/img/slide-1.jpg", alt="img")
              .image-holder.__image-2
                img(src="/img/slide-2.jpg", alt="img")

            .row
              .image-holder.__image-3
                img(src="/img/slide-3.jpg", alt="img")
              .image-holder.__image-4
                img(src="/img/slide-4.jpg", alt="img")

        .slide(data-dot="<button role='button' class='owl-custom_dot'>ФАЛЬЦОВКА – STAHL HEIDELBERG BUH-82SH</button>")

          .slide-content
            .slide-title ФАЛЬЦОВКА – STAHL HEIDELBERG BUH-82SH
            p.slide-text Листоподборочная машина — модульная листоподборочная машина с горизонтальным расположением станций и вакуумной подачей листов, предназначена для комплектации (подборки) блоков любого объема, в том числе и подборки сфальцованных листов. Такая конфигурация рассчитана на многосменную работу в интенсивном режиме. Очень професиональная, да и просто, привлекательная линия для типографии, занимающихся выпуском книжно-журнальной продукции больших тиражей. MKW настолько упрощает весь процесс сборки журналов, что продукция никогда долго на этом этапе не задерживается, что позволяет быстро и качественно изготовить продукцию в срок. Оборудование также шьет на евро скобу .
          .grid-img
            .row
              .image-holder.__image-1
                img(src="/img/slide-1.jpg", alt="img")
              .image-holder.__image-2
                img(src="/img/slide-2.jpg", alt="img")

            .row
              .image-holder.__image-3
                img(src="/img/slide-3.jpg", alt="img")
              .image-holder.__image-4
                img(src="/img/slide-4.jpg", alt="img")

        .slide(data-dot="<button role='button' class='owl-custom_dot'>ВШР STITCHMASTER ST 100</button>")

          .slide-content
            .slide-title ВШР STITCHMASTER ST 100
            p.slide-text Листоподборочная машина — модульная листоподборочная машина с горизонтальным расположением станций и вакуумной подачей листов, предназначена для комплектации (подборки) блоков любого объема, в том числе и подборки сфальцованных листов. Такая конфигурация рассчитана на многосменную работу в интенсивном режиме. Очень професиональная, да и просто, привлекательная линия для типографии, занимающихся выпуском книжно-журнальной продукции больших тиражей. MKW настолько упрощает весь процесс сборки журналов, что продукция никогда долго на этом этапе не задерживается, что позволяет быстро и качественно изготовить продукцию в срок. Оборудование также шьет на евро скобу .
          .grid-img
            .row
              .image-holder.__image-1
                img(src="/img/slide-1.jpg", alt="img")
              .image-holder.__image-2
                img(src="/img/slide-2.jpg", alt="img")

            .row
              .image-holder.__image-3
                img(src="/img/slide-3.jpg", alt="img")
              .image-holder.__image-4
                img(src="/img/slide-4.jpg", alt="img")

        .slide(data-dot="<button role='button' class='owl-custom_dot'>листоподборочная линия MKW Rapid UT</button>")

          .slide-content
            .slide-title листоподборочная линия MKW Rapid UT
            p.slide-text Листоподборочная машина — модульная листоподборочная машина с горизонтальным расположением станций и вакуумной подачей листов, предназначена для комплектации (подборки) блоков любого объема, в том числе и подборки сфальцованных листов. Такая конфигурация рассчитана на многосменную работу в интенсивном режиме. Очень професиональная, да и просто, привлекательная линия для типографии, занимающихся выпуском книжно-журнальной продукции больших тиражей. MKW настолько упрощает весь процесс сборки журналов, что продукция никогда долго на этом этапе не задерживается, что позволяет быстро и качественно изготовить продукцию в срок. Оборудование также шьет на евро скобу .
          .grid-img
            .row
              .image-holder.__image-1
                img(src="/img/slide-1.jpg", alt="img")
              .image-holder.__image-2
                img(src="/img/slide-2.jpg", alt="img")

            .row
              .image-holder.__image-3
                img(src="/img/slide-3.jpg", alt="img")
              .image-holder.__image-4
                img(src="/img/slide-4.jpg", alt="img")

        .slide(data-dot="<button role='button' class='owl-custom_dot'>Бумагарезальная машина – К 115 CS</button>")

          .slide-content
            .slide-title Бумагарезальная машина – К 115 CS
            p.slide-text Листоподборочная машина — модульная листоподборочная машина с горизонтальным расположением станций и вакуумной подачей листов, предназначена для комплектации (подборки) блоков любого объема, в том числе и подборки сфальцованных листов. Такая конфигурация рассчитана на многосменную работу в интенсивном режиме. Очень професиональная, да и просто, привлекательная линия для типографии, занимающихся выпуском книжно-журнальной продукции больших тиражей. MKW настолько упрощает весь процесс сборки журналов, что продукция никогда долго на этом этапе не задерживается, что позволяет быстро и качественно изготовить продукцию в срок. Оборудование также шьет на евро скобу .
          .grid-img
            .row
              .image-holder.__image-1
                img(src="/img/slide-1.jpg", alt="img")
              .image-holder.__image-2
                img(src="/img/slide-2.jpg", alt="img")

            .row
              .image-holder.__image-3
                img(src="/img/slide-3.jpg", alt="img")
              .image-holder.__image-4
                img(src="/img/slide-4.jpg", alt="img")

        .slide(data-dot="<button role='button' class='owl-custom_dot'>Бумага резальная машина perfecta 92</button>")

          .slide-content
            .slide-title Бумага резальная машина perfecta 92
            p.slide-text Листоподборочная машина — модульная листоподборочная машина с горизонтальным расположением станций и вакуумной подачей листов, предназначена для комплектации (подборки) блоков любого объема, в том числе и подборки сфальцованных листов. Такая конфигурация рассчитана на многосменную работу в интенсивном режиме. Очень професиональная, да и просто, привлекательная линия для типографии, занимающихся выпуском книжно-журнальной продукции больших тиражей. MKW настолько упрощает весь процесс сборки журналов, что продукция никогда долго на этом этапе не задерживается, что позволяет быстро и качественно изготовить продукцию в срок. Оборудование также шьет на евро скобу .
          .grid-img
            .row
              .image-holder.__image-1
                img(src="/img/slide-1.jpg", alt="img")
              .image-holder.__image-2
                img(src="/img/slide-2.jpg", alt="img")

            .row
              .image-holder.__image-3
                img(src="/img/slide-3.jpg", alt="img")
              .image-holder.__image-4
                img(src="/img/slide-4.jpg", alt="img")

        .slide(data-dot="<button role='button' class='owl-custom_dot'>ТЕРМОБИНДЕР HORIZON BQ-460</button>")

          .slide-content
            .slide-title ТЕРМОБИНДЕР HORIZON BQ-460
            p.slide-text Листоподборочная машина — модульная листоподборочная машина с горизонтальным расположением станций и вакуумной подачей листов, предназначена для комплектации (подборки) блоков любого объема, в том числе и подборки сфальцованных листов. Такая конфигурация рассчитана на многосменную работу в интенсивном режиме. Очень професиональная, да и просто, привлекательная линия для типографии, занимающихся выпуском книжно-журнальной продукции больших тиражей. MKW настолько упрощает весь процесс сборки журналов, что продукция никогда долго на этом этапе не задерживается, что позволяет быстро и качественно изготовить продукцию в срок. Оборудование также шьет на евро скобу .
          .grid-img
            .row
              .image-holder.__image-1
                img(src="/img/slide-1.jpg", alt="img")
              .image-holder.__image-2
                img(src="/img/slide-2.jpg", alt="img")

            .row
              .image-holder.__image-3
                img(src="/img/slide-3.jpg", alt="img")
              .image-holder.__image-4
                img(src="/img/slide-4.jpg", alt="img")

        .slide(data-dot="<button role='button' class='owl-custom_dot'>ламинатор ydfm-920</button>")

          .slide-content
            .slide-title ламинатор ydfm-92
            p.slide-text Листоподборочная машина — модульная листоподборочная машина с горизонтальным расположением станций и вакуумной подачей листов, предназначена для комплектации (подборки) блоков любого объема, в том числе и подборки сфальцованных листов. Такая конфигурация рассчитана на многосменную работу в интенсивном режиме. Очень професиональная, да и просто, привлекательная линия для типографии, занимающихся выпуском книжно-журнальной продукции больших тиражей. MKW настолько упрощает весь процесс сборки журналов, что продукция никогда долго на этом этапе не задерживается, что позволяет быстро и качественно изготовить продукцию в срок. Оборудование также шьет на евро скобу .
          .grid-img
            .row
              .image-holder.__image-1
                img(src="/img/slide-1.jpg", alt="img")
              .image-holder.__image-2
                img(src="/img/slide-2.jpg", alt="img")

            .row
              .image-holder.__image-3
                img(src="/img/slide-3.jpg", alt="img")
              .image-holder.__image-4
                img(src="/img/slide-4.jpg", alt="img")

        .slide(data-dot="<button role='button' class='owl-custom_dot'>MORGANA AutoCreaser Pro 33</button>")

          .slide-content
            .slide-title MORGANA AutoCreaser Pro 33
            p.slide-text Листоподборочная машина — модульная листоподборочная машина с горизонтальным расположением станций и вакуумной подачей листов, предназначена для комплектации (подборки) блоков любого объема, в том числе и подборки сфальцованных листов. Такая конфигурация рассчитана на многосменную работу в интенсивном режиме. Очень професиональная, да и просто, привлекательная линия для типографии, занимающихся выпуском книжно-журнальной продукции больших тиражей. MKW настолько упрощает весь процесс сборки журналов, что продукция никогда долго на этом этапе не задерживается, что позволяет быстро и качественно изготовить продукцию в срок. Оборудование также шьет на евро скобу .
          .grid-img
            .row
              .image-holder.__image-1
                img(src="/img/slide-1.jpg", alt="img")
              .image-holder.__image-2
                img(src="/img/slide-2.jpg", alt="img")

            .row
              .image-holder.__image-3
                img(src="/img/slide-3.jpg", alt="img")
              .image-holder.__image-4
                img(src="/img/slide-4.jpg", alt="img")

    a(href="#")#prev-slide__3.slide__button._prev
      <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="35" cy="35" r="35" fill="white"/> 
        <line x1="20.125" y1="35.75" x2="50.75" y2="35.75" stroke="#EB008B" stroke-width="2"/>
        <path d="M34.881 51.387L19.25 35.756L34.881 20.125" stroke="#EB008B" stroke-width="2"/>
      </svg>

    a(href="#")#next-slide__3.slide__button._next
      <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="35" cy="35" r="35" transform="rotate(180 35 35)" fill="white"/>
        <line x1="49.875" y1="34.25" x2="19.25" y2="34.25" stroke="#EB008B" stroke-width="2"/>
        <path d="M35.119 18.613L50.75 34.244L35.119 49.875" stroke="#EB008B" stroke-width="2"/>
      </svg>

    .section-back__content оборудование

  .strip-wrapper__top.__mobile
    .strip.strip__top

  .strip-wrapper__bottom.__mobile
    .strip.strip__bottom
