section.section-masonry
  
  #owl-carousel_2.owl-carousel.columns.owl-carousel_masonry

    .col
      img.masonry-img(src="/img/work-05.png")
      .masonry-text.__pink 
        span Плакаты

    .col
      img.masonry-img(src="/img/work-03.png")
      img.masonry-img(src="/img/work-04.png")

    .col
      img.masonry-img(src="/img/work-10.png")
      
    .col
      .masonry-text.__blue 
        span Буклеты
      img.masonry-img(src="/img/work-08.png")

    .col
      img.masonry-img(src="/img/work-05.png")
      img.masonry-img(src="/img/work-04.png") 


  a(href="#")#prev-slide__masonry.slide__button._prev
    <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="35" cy="35" r="35" fill="white"/> 
      <line x1="20.125" y1="35.75" x2="50.75" y2="35.75" stroke="#EB008B" stroke-width="2"/>
      <path d="M34.881 51.387L19.25 35.756L34.881 20.125" stroke="#EB008B" stroke-width="2"/>
    </svg>

  a(href="#")#next-slide__masonry.slide__button._next
    <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="35" cy="35" r="35" transform="rotate(180 35 35)" fill="white"/>
      <line x1="49.875" y1="34.25" x2="19.25" y2="34.25" stroke="#EB008B" stroke-width="2"/>
      <path d="M35.119 18.613L50.75 34.244L35.119 49.875" stroke="#EB008B" stroke-width="2"/>
    </svg>

