header.header
  include slider

  
  #wrap-button.wrap-button
    button(data-modal-open="#modal-order", onclick="window.location.href='/order-modal.html'").button-order 
      span посчитать заказ

    .text-cursive Просчитайте заказ у нас и 
      span.elemment-pink получите скидку!

  .strip-wrapper__bottom
    .strip.strip__bottom

  .strip-wrapper__top
    .strip.strip__top
