section.section-equipment
  .slider-container
    .slider-left

      .section-title
        span.section-title__outer_bold наше
        span.section-title__outer_fit оборудование

      #carousel-custom-dots

    .slider-right
      button.button-close 
      #owl-carousel_3.owl-carousel
        .slide(data-dot="<button role='button' class='owl-custom_dot'>HEIDELBERG SM-102-5</button>")

          .slide-content  
            .slide-title листоподборочная линия MKW Rapid UT
            p.slide-text Листоподборочная машина — модульная листоподборочная машина с горизонтальным расположением станций и вакуумной подачей листов, предназначена для комплектации (подборки) блоков любого объема, в том числе и подборки сфальцованных листов. Такая конфигурация рассчитана на многосменную работу в интенсивном режиме. Очень професиональная, да и просто, привлекательная линия для типографии, занимающихся выпуском книжно-журнальной продукции больших тиражей. MKW настолько упрощает весь процесс сборки журналов, что продукция никогда долго на этом этапе не задерживается, что позволяет быстро и качественно изготовить продукцию в срок. Оборудование также шьет на евро скобу .
          .grid-img
            .row
              .image-holder.__image-1
                img(src="/img/slide-1.png", alt="img")
              .image-holder.__image-2
                img(src="/img/slide-2.png", alt="img")

            .row
              .image-holder.__image-3
                img(src="/img/slide-3.png", alt="img")
              .image-holder.__image-4
                img(src="/img/slide-4.png", alt="img")
        
        .slide(data-dot="<button role='button' class='owl-custom_dot'>HEIDELBERG SM-74-6</button>")

          .slide-content  
            .slide-title HEIDELBERG SM-74-6
            p.slide-text Листоподборочная машина — модульная листоподборочная машина с горизонтальным расположением станций и вакуумной подачей листов, предназначена для комплектации (подборки) блоков любого объема, в том числе и подборки сфальцованных листов. Такая конфигурация рассчитана на многосменную работу в интенсивном режиме. Очень професиональная, да и просто, привлекательная линия для типографии, занимающихся выпуском книжно-журнальной продукции больших тиражей. MKW настолько упрощает весь процесс сборки журналов, что продукция никогда долго на этом этапе не задерживается, что позволяет быстро и качественно изготовить продукцию в срок. Оборудование также шьет на евро скобу .
          .grid-img
            .row
              .image-holder.__image-1
                img(src="/img/slide-1.png", alt="img")
              .image-holder.__image-2
                img(src="/img/slide-2.png", alt="img")

            .row
              .image-holder.__image-3
                img(src="/img/slide-3.png", alt="img")
              .image-holder.__image-4
                img(src="/img/slide-4.png", alt="img")

        .slide(data-dot="<button role='button' class='owl-custom_dot'>STP SCREEN PlateRite 8600</button>")

          .slide-content  
            .slide-title STP SCREEN PlateRite 8600
            p.slide-text Листоподборочная машина — модульная листоподборочная машина с горизонтальным расположением станций и вакуумной подачей листов, предназначена для комплектации (подборки) блоков любого объема, в том числе и подборки сфальцованных листов. Такая конфигурация рассчитана на многосменную работу в интенсивном режиме. Очень професиональная, да и просто, привлекательная линия для типографии, занимающихся выпуском книжно-журнальной продукции больших тиражей. MKW настолько упрощает весь процесс сборки журналов, что продукция никогда долго на этом этапе не задерживается, что позволяет быстро и качественно изготовить продукцию в срок. Оборудование также шьет на евро скобу .
          .grid-img
            .row
              .image-holder.__image-1
                img(src="/img/slide-1.png", alt="img")
              .image-holder.__image-2
                img(src="/img/slide-2.png", alt="img")

            .row
              .image-holder.__image-3
                img(src="/img/slide-3.png", alt="img")
              .image-holder.__image-4
                img(src="/img/slide-4.png", alt="img")
        
        .slide(data-dot="<button role='button' class='owl-custom_dot'>фальцовка HEIDELBERG stahlfolder kh 94</button>")

          .slide-content
            .slide-title фальцовка HEIDELBERG stahlfolder kh 94
            p.slide-text Листоподборочная машина — модульная листоподборочная машина с горизонтальным расположением станций и вакуумной подачей листов, предназначена для комплектации (подборки) блоков любого объема, в том числе и подборки сфальцованных листов. Такая конфигурация рассчитана на многосменную работу в интенсивном режиме. Очень професиональная, да и просто, привлекательная линия для типографии, занимающихся выпуском книжно-журнальной продукции больших тиражей. MKW настолько упрощает весь процесс сборки журналов, что продукция никогда долго на этом этапе не задерживается, что позволяет быстро и качественно изготовить продукцию в срок. Оборудование также шьет на евро скобу .
          .grid-img
            .row
              .image-holder.__image-1
                img(src="/img/slide-1.png", alt="img")
              .image-holder.__image-2
                img(src="/img/slide-2.png", alt="img")

            .row
              .image-holder.__image-3
                img(src="/img/slide-3.png", alt="img")
              .image-holder.__image-4
                img(src="/img/slide-4.png", alt="img")
        
        .slide(data-dot="<button role='button' class='owl-custom_dot'>ФАЛЬЦОВКА – STAHL HEIDELBERG-84</button>")

          .slide-content
            .slide-title ФАЛЬЦОВКА – STAHL HEIDELBERG-84
            p.slide-text Листоподборочная машина — модульная листоподборочная машина с горизонтальным расположением станций и вакуумной подачей листов, предназначена для комплектации (подборки) блоков любого объема, в том числе и подборки сфальцованных листов. Такая конфигурация рассчитана на многосменную работу в интенсивном режиме. Очень професиональная, да и просто, привлекательная линия для типографии, занимающихся выпуском книжно-журнальной продукции больших тиражей. MKW настолько упрощает весь процесс сборки журналов, что продукция никогда долго на этом этапе не задерживается, что позволяет быстро и качественно изготовить продукцию в срок. Оборудование также шьет на евро скобу .
          .grid-img
            .row
              .image-holder.__image-1
                img(src="/img/slide-1.png", alt="img")
              .image-holder.__image-2
                img(src="/img/slide-2.png", alt="img")

            .row
              .image-holder.__image-3
                img(src="/img/slide-3.png", alt="img")
              .image-holder.__image-4
                img(src="/img/slide-4.png", alt="img")
        
        .slide(data-dot="<button role='button' class='owl-custom_dot'>ФАЛЬЦОВКА – STAHL HEIDELBERG BUH-82SH</button>")

          .slide-content
            .slide-title ФАЛЬЦОВКА – STAHL HEIDELBERG BUH-82SH
            p.slide-text Листоподборочная машина — модульная листоподборочная машина с горизонтальным расположением станций и вакуумной подачей листов, предназначена для комплектации (подборки) блоков любого объема, в том числе и подборки сфальцованных листов. Такая конфигурация рассчитана на многосменную работу в интенсивном режиме. Очень професиональная, да и просто, привлекательная линия для типографии, занимающихся выпуском книжно-журнальной продукции больших тиражей. MKW настолько упрощает весь процесс сборки журналов, что продукция никогда долго на этом этапе не задерживается, что позволяет быстро и качественно изготовить продукцию в срок. Оборудование также шьет на евро скобу .
          .grid-img
            .row
              .image-holder.__image-1
                img(src="/img/slide-1.png", alt="img")
              .image-holder.__image-2
                img(src="/img/slide-2.png", alt="img")

            .row
              .image-holder.__image-3
                img(src="/img/slide-3.png", alt="img")
              .image-holder.__image-4
                img(src="/img/slide-4.png", alt="img")
        
        .slide(data-dot="<button role='button' class='owl-custom_dot'>ВШР STITCHMASTER ST 100</button>")

          .slide-content
            .slide-title ВШР STITCHMASTER ST 100
            p.slide-text Листоподборочная машина — модульная листоподборочная машина с горизонтальным расположением станций и вакуумной подачей листов, предназначена для комплектации (подборки) блоков любого объема, в том числе и подборки сфальцованных листов. Такая конфигурация рассчитана на многосменную работу в интенсивном режиме. Очень професиональная, да и просто, привлекательная линия для типографии, занимающихся выпуском книжно-журнальной продукции больших тиражей. MKW настолько упрощает весь процесс сборки журналов, что продукция никогда долго на этом этапе не задерживается, что позволяет быстро и качественно изготовить продукцию в срок. Оборудование также шьет на евро скобу .
          .grid-img
            .row
              .image-holder.__image-1
                img(src="/img/slide-1.png", alt="img")
              .image-holder.__image-2
                img(src="/img/slide-2.png", alt="img")

            .row
              .image-holder.__image-3
                img(src="/img/slide-3.png", alt="img")
              .image-holder.__image-4
                img(src="/img/slide-4.png", alt="img")
        
        .slide(data-dot="<button role='button' class='owl-custom_dot'>листоподборочная линия MKW Rapid UT</button>")

          .slide-content
            .slide-title листоподборочная линия MKW Rapid UT
            p.slide-text Листоподборочная машина — модульная листоподборочная машина с горизонтальным расположением станций и вакуумной подачей листов, предназначена для комплектации (подборки) блоков любого объема, в том числе и подборки сфальцованных листов. Такая конфигурация рассчитана на многосменную работу в интенсивном режиме. Очень професиональная, да и просто, привлекательная линия для типографии, занимающихся выпуском книжно-журнальной продукции больших тиражей. MKW настолько упрощает весь процесс сборки журналов, что продукция никогда долго на этом этапе не задерживается, что позволяет быстро и качественно изготовить продукцию в срок. Оборудование также шьет на евро скобу .
          .grid-img
            .row
              .image-holder.__image-1
                img(src="/img/slide-1.png", alt="img")
              .image-holder.__image-2
                img(src="/img/slide-2.png", alt="img")

            .row
              .image-holder.__image-3
                img(src="/img/slide-3.png", alt="img")
              .image-holder.__image-4
                img(src="/img/slide-4.png", alt="img")
        
        .slide(data-dot="<button role='button' class='owl-custom_dot'>Бумагарезальная машина – К 115 CS</button>")

          .slide-content
            .slide-title Бумагарезальная машина – К 115 CS
            p.slide-text Листоподборочная машина — модульная листоподборочная машина с горизонтальным расположением станций и вакуумной подачей листов, предназначена для комплектации (подборки) блоков любого объема, в том числе и подборки сфальцованных листов. Такая конфигурация рассчитана на многосменную работу в интенсивном режиме. Очень професиональная, да и просто, привлекательная линия для типографии, занимающихся выпуском книжно-журнальной продукции больших тиражей. MKW настолько упрощает весь процесс сборки журналов, что продукция никогда долго на этом этапе не задерживается, что позволяет быстро и качественно изготовить продукцию в срок. Оборудование также шьет на евро скобу .
          .grid-img
            .row
              .image-holder.__image-1
                img(src="/img/slide-1.png", alt="img")
              .image-holder.__image-2
                img(src="/img/slide-2.png", alt="img")

            .row
              .image-holder.__image-3
                img(src="/img/slide-3.png", alt="img")
              .image-holder.__image-4
                img(src="/img/slide-4.png", alt="img")
        
        .slide(data-dot="<button role='button' class='owl-custom_dot'>Бумага резальная машина perfecta 92</button>")

          .slide-content
            .slide-title Бумага резальная машина perfecta 92
            p.slide-text Листоподборочная машина — модульная листоподборочная машина с горизонтальным расположением станций и вакуумной подачей листов, предназначена для комплектации (подборки) блоков любого объема, в том числе и подборки сфальцованных листов. Такая конфигурация рассчитана на многосменную работу в интенсивном режиме. Очень професиональная, да и просто, привлекательная линия для типографии, занимающихся выпуском книжно-журнальной продукции больших тиражей. MKW настолько упрощает весь процесс сборки журналов, что продукция никогда долго на этом этапе не задерживается, что позволяет быстро и качественно изготовить продукцию в срок. Оборудование также шьет на евро скобу .
          .grid-img
            .row
              .image-holder.__image-1
                img(src="/img/slide-1.png", alt="img")
              .image-holder.__image-2
                img(src="/img/slide-2.png", alt="img")

            .row
              .image-holder.__image-3
                img(src="/img/slide-3.png", alt="img")
              .image-holder.__image-4
                img(src="/img/slide-4.png", alt="img")
        
        .slide(data-dot="<button role='button' class='owl-custom_dot'>ТЕРМОБИНДЕР HORIZON BQ-460</button>")

          .slide-content
            .slide-title ТЕРМОБИНДЕР HORIZON BQ-460
            p.slide-text Листоподборочная машина — модульная листоподборочная машина с горизонтальным расположением станций и вакуумной подачей листов, предназначена для комплектации (подборки) блоков любого объема, в том числе и подборки сфальцованных листов. Такая конфигурация рассчитана на многосменную работу в интенсивном режиме. Очень професиональная, да и просто, привлекательная линия для типографии, занимающихся выпуском книжно-журнальной продукции больших тиражей. MKW настолько упрощает весь процесс сборки журналов, что продукция никогда долго на этом этапе не задерживается, что позволяет быстро и качественно изготовить продукцию в срок. Оборудование также шьет на евро скобу .
          .grid-img
            .row
              .image-holder.__image-1
                img(src="/img/slide-1.png", alt="img")
              .image-holder.__image-2
                img(src="/img/slide-2.png", alt="img")

            .row
              .image-holder.__image-3
                img(src="/img/slide-3.png", alt="img")
              .image-holder.__image-4
                img(src="/img/slide-4.png", alt="img")
        
        .slide(data-dot="<button role='button' class='owl-custom_dot'>ламинатор ydfm-920</button>")

          .slide-content
            .slide-title ламинатор ydfm-92
            p.slide-text Листоподборочная машина — модульная листоподборочная машина с горизонтальным расположением станций и вакуумной подачей листов, предназначена для комплектации (подборки) блоков любого объема, в том числе и подборки сфальцованных листов. Такая конфигурация рассчитана на многосменную работу в интенсивном режиме. Очень професиональная, да и просто, привлекательная линия для типографии, занимающихся выпуском книжно-журнальной продукции больших тиражей. MKW настолько упрощает весь процесс сборки журналов, что продукция никогда долго на этом этапе не задерживается, что позволяет быстро и качественно изготовить продукцию в срок. Оборудование также шьет на евро скобу .
          .grid-img
            .row
              .image-holder.__image-1
                img(src="/img/slide-1.png", alt="img")
              .image-holder.__image-2
                img(src="/img/slide-2.png", alt="img")

            .row
              .image-holder.__image-3
                img(src="/img/slide-3.png", alt="img")
              .image-holder.__image-4
                img(src="/img/slide-4.png", alt="img")
        
        .slide(data-dot="<button role='button' class='owl-custom_dot'>MORGANA AutoCreaser Pro 33</button>")

          .slide-content
            .slide-title MORGANA AutoCreaser Pro 33
            p.slide-text Листоподборочная машина — модульная листоподборочная машина с горизонтальным расположением станций и вакуумной подачей листов, предназначена для комплектации (подборки) блоков любого объема, в том числе и подборки сфальцованных листов. Такая конфигурация рассчитана на многосменную работу в интенсивном режиме. Очень професиональная, да и просто, привлекательная линия для типографии, занимающихся выпуском книжно-журнальной продукции больших тиражей. MKW настолько упрощает весь процесс сборки журналов, что продукция никогда долго на этом этапе не задерживается, что позволяет быстро и качественно изготовить продукцию в срок. Оборудование также шьет на евро скобу .
          .grid-img
            .row
              .image-holder.__image-1
                img(src="/img/slide-1.png", alt="img")
              .image-holder.__image-2
                img(src="/img/slide-2.png", alt="img")

            .row
              .image-holder.__image-3
                img(src="/img/slide-3.png", alt="img")
              .image-holder.__image-4
                img(src="/img/slide-4.png", alt="img")

    a(href="#")#prev-slide__3.slide__button._prev
        span.slide__button_arrow

    a(href="#")#next-slide__3.slide__button._next
      span.slide__button_arrow