section.services__wrap
  .services__content

    .services__title наши
      .services__text услуги

    .services__card-list
      a().services__card.services__card_transparent.services__card_first
      a(href="/").services__card.services__card_red Каталоги
      a(href="/").services__card.services__card_blue Вывод форм
      a().services__card.services__card_transparent.services__card_three
      a(href="/").services__card.services__card_red Сборка
      a(href="/").services__card.services__card_blue Буклеты
      a(href="/").services__card.services__card_red Брошюры
      a(href="/").services__card.services__card_blue Журналы
      a(href="/").services__card.services__card_red Бланки
      a(href="/").services__card.services__card_blue Календари
      a(href="/").services__card.services__card_red Анкеты
      a(href="/").services__card.services__card_blue Открытки
      a(href="/").services__card.services__card_red Листовки
      a(href="/").services__card.services__card_blue Папки
      a(href="/").services__card.services__card_red Наклейки
  img.services__line(src="/img/line.png", alt="line")
  img.services__xs-line(src="/img/xs-line.png", alt="line")

  .block-order__wrap.__mobile
          button.button-order посчитать заказ
        
          .text-cursive Просчитайте заказ у нас и 
            .elemment-pink получите скидку!
