section#section-services.services__wrap.showup-animation.showup-animation_hidden
  .services__content

    
    //- .services__title наши
    //-   .services__text услуги

    .services__title.section-title(data-aos="fade-up",data-aos-delay="0", anchorPlacement="center")
        span.section-title__outer_bold наши
        span.section-title__outer_fit услуги

    .services__card-list
      a.services__card.services__card_transparent.services__card_first
      a.services__card.services__card_red(data-aos="fade-left",data-aos-delay="0", anchorPlacement="center") Каталоги
      a.services__card.services__card_blue(data-aos="fade-left",data-aos-delay="50", anchorPlacement="center") Вывод форм
      a.services__card.services__card_transparent.services__card_three
      a.services__card.services__card_red(data-aos="fade-left",data-aos-delay="150", anchorPlacement="center") Сборка
      a.services__card.services__card_blue(data-aos="fade-left",data-aos-delay="200", anchorPlacement="center") Буклеты
      a.services__card.services__card_red(data-aos="fade-left",data-aos-delay="250", anchorPlacement="center") Брошюры
      a.services__card.services__card_blue(data-aos="fade-left",data-aos-delay="300", anchorPlacement="center") Журналы
      a.services__card.services__card_red(data-aos="fade-left",data-aos-delay="350", anchorPlacement="center") Бланки
      a.services__card.services__card_blue(data-aos="fade-left",data-aos-delay="400", anchorPlacement="center") Календари
      a.services__card.services__card_red(data-aos="fade-left",data-aos-delay="450", anchorPlacement="center") Анкеты
      a.services__card.services__card_blue(data-aos="fade-left",data-aos-delay="500", anchorPlacement="center") Открытки
      a.services__card.services__card_red(data-aos="fade-left",data-aos-delay="550", anchorPlacement="center") Листовки
      a.services__card.services__card_blue(data-aos="fade-left",data-aos-delay="600", anchorPlacement="center") Папки
      a.services__card.services__card_red.services__card_last(data-aos="fade-left",data-aos-delay="650", anchorPlacement="center") Наклейки
      a.services__card.services__card_transparent.last__item
      .left-item

  .block-order__wrap.__mobile
      button.button-order(onclick="window.location.href='/order-modal.html'")
        span посчитать заказ
    
      .text-cursive Просчитайте заказ у нас и 
        .elemment-pink получите скидку!

  .section-back__content.__mobile  услуги 

  .strip-wrapper__bottom.__mobile
    .strip.strip__bottom

  .strip-wrapper__top
    .strip.strip__top

  .mobile.strip-wrapper__top
    .strip.strip__top
