section#section-services.services__wrap.showup-animation.showup-animation_hidden
  .services__content

    
    //- .services__title наши
    //-   .services__text услуги

    .services__title.section-title.showup-animation
      .showup-animation__line
        span.section-title__outer_bold наши
      .showup-animation__line
        span.section-title__outer_fit услуги

    .services__card-list
      a().services__card.services__card_transparent.services__card_first
      a(href="/").services__card.services__card_red Каталоги
      a(href="/").services__card.services__card_blue Вывод форм
      a().services__card.services__card_transparent.services__card_three
      a(href="/").services__card.services__card_red Сборка
      a(href="/").services__card.services__card_blue Буклеты
      a(href="/").services__card.services__card_red Брошюры
      a(href="/").services__card.services__card_blue Журналы
      a(href="/").services__card.services__card_red Бланки
      a(href="/").services__card.services__card_blue Календари
      a(href="/").services__card.services__card_red Анкеты
      a(href="/").services__card.services__card_blue Открытки
      a(href="/").services__card.services__card_red Листовки
      a(href="/").services__card.services__card_blue Папки
      a(href="/").services__card.services__card_red.services__card_last Наклейки
      a().services__card.services__card_transparent.last__item
      .left-item

  .block-order__wrap.__mobile
      button.button-order(onclick="window.location.href='/order-modal.html'")
        span посчитать заказ
    
      .text-cursive Просчитайте заказ у нас и 
        .elemment-pink получите скидку!

  .section-back__content.__mobile  услуги 

  .strip-wrapper__bottom.__mobile
    .strip.strip__bottom

  .strip-wrapper__top
    .strip.strip__top

  .mobile.strip-wrapper__top
    .strip.strip__top
