section#section-services.services__wrap.showup-animation.showup-animation_hidden
  .services__content

    .services__title.section-title
        span.section-title__outer_bold(data-aos-anchor=".services__title", data-aos="fade-up",data-aos-delay="0", anchorPlacement="center") наши
        span.section-title__outer_fit(data-aos-anchor=".services__title", data-aos="fade-up",data-aos-delay="100", anchorPlacement="center") услуги

    .services__card-list
      a.services__card.services__card_transparent.services__card_first
      a.services__card.services-card_mobile__hilight.services__card_red(data-aos-anchor=".services__card-list", data-modal-open="#booklet-modal", data-aos="fade-left",data-aos-delay="0", anchorPlacement="center") 
        span Каталоги
      a.services__card.services-card_mobile__hilight.services__card_blue(data-aos-anchor=".services__card-list", data-aos="fade-left",data-aos-delay="50", anchorPlacement="center") 
        span Вывод форм
      a.services__card.services__card_transparent.services__card_three
      a.services__card.services-card_mobile__hilight.services__card_red(data-aos-anchor=".services__card-list", data-aos="fade-left",data-aos-delay="150", anchorPlacement="center") 
        span Сборка
      a.services__card.services-card_mobile__hilight.services__card_blue(data-aos-anchor=".services__card-list", data-aos="fade-left",data-aos-delay="200", anchorPlacement="center") 
        span Буклеты
      a.services__card.services-card_mobile__hilight.services__card_red(data-aos-anchor=".services__card-list", data-aos="fade-left",data-aos-delay="250", anchorPlacement="center") 
        span Брошюры
      a.services__card.services-card_mobile__hilight.services__card_blue(data-aos-anchor=".services__card-list", data-aos="fade-left",data-aos-delay="300", anchorPlacement="center") 
        span Журналы
      a.services__card.services-card_mobile__hilight.services__card_red(data-aos-anchor=".services__card-list", data-aos="fade-left",data-aos-delay="350", anchorPlacement="center") 
        span Бланки
      a.services__card.services-card_mobile__hilight.services__card_blue(data-aos-anchor=".services__card-list", data-aos="fade-left",data-aos-delay="400", anchorPlacement="center") 
        span Календари
      a.services__card.services-card_mobile__hilight.services__card_red(data-aos-anchor=".services__card-list", data-aos="fade-left",data-aos-delay="450", anchorPlacement="center") 
        span Анкеты
      a.services__card.services-card_mobile__hilight.services__card_blue(data-aos-anchor=".services__card-list", data-aos="fade-left",data-aos-delay="500", anchorPlacement="center") 
        span Открытки
      a.services__card.services-card_mobile__hilight.services__card_red(data-aos-anchor=".services__card-list", data-aos="fade-left",data-aos-delay="550", anchorPlacement="center") 
        span Листовки
      a.services__card.services-card_mobile__hilight.services__card_blue(data-aos-anchor=".services__card-list", data-aos="fade-left",data-aos-delay="600", anchorPlacement="center") 
        span Папки
      a.services__card.services-card_mobile__hilight.services__card_red.services__card_last(data-aos-anchor=".services__card-list", data-aos="fade-left",data-aos-delay="650", anchorPlacement="center") 
        span Наклейки
      a.services__card.services__card_transparent.last__item
      a.left-itema.services__card.services-card_mobile__hilight.services__card_red.services__card_last(data-aos-anchor=".services__card-list", data-aos="fade-left",data-aos-delay="650", anchorPlacement="center")

  .block-order__wrap.__mobile
      button.button-order(onclick="window.location.href='/order-modal.html'")
        span посчитать заказ
    
      .text-cursive Просчитайте заказ у нас и 
        .elemment-pink получите скидку!

  .section-back__content.__mobile  услуги 

  .strip-wrapper__bottom.__mobile
    .strip.strip__bottom

  .strip-wrapper__top
    .strip.strip__top

  .mobile.strip-wrapper__top
    .strip.strip__top
