.slider__wrap.owl-carousel
  
  .slides.slides_1

    .slides-side__left
      .slider-title
        .slider-title__sub Высококачественная полиграфия
        .slider-title__outer_fit Компании нужен 
        .slider-title__outer_bold.-pink буклет
          //- .elemment-pink .

      button.button-order посчитать заказ
      
      .text-cursive Просчитайте заказ у нас и 
        .elemment-pink получите скидку!

    .slides-side__right
      .image-holder
        img(src="img/buklet-trans 2.png", alt="slide img")

    .slides-back_text буклет

  .slides.slides_2.type-1

    .slides-side__left
      .slider-title
        .slider-title__sub Высококачественная полиграфия
        .slider-title__outer_fit Компании нужен 
        .slider-title__outer_bold.-blue постер
          //- .elemment-blue .

      button.button-order посчитать заказ
      
      .text-cursive Просчитайте заказ у нас и 
        .elemment-pink получите скидку!

    .slides-side__right
      .image-holder
        img(src="img/poster.png", alt="slide img")

    .slides-back_text постер

  .slides.slides_3.type-2

      .slides-side__left
        .slider-title
          .slider-title__sub Высококачественная полиграфия
          .slider-title__outer_fit Выпускаете
          .slider-title__outer_bold.-pink журнал
            //- .elemment-pink .

        button.button-order посчитать заказ
        
        .text-cursive Просчитайте заказ у нас и 
          .elemment-pink получите скидку!

      .slides-side__right
        .image-holder
          img(src="img/Mockup_A4_Brochure_5-trans 2.png", alt="slide img")

      .slides-back_text журнал

  .slides.slides_4.type-3

    .slides-side__left
      .slider-title
        .slider-title__sub Высококачественная полиграфия
        .slider-title__outer_fit Магазину нужен
        .slider-title__outer_bold.-blue каталог
          //- .elemment-blue .

      button.button-order посчитать заказ
      
      .text-cursive Просчитайте заказ у нас и 
        .elemment-pink получите скидку!

    .slides-side__right
      .image-holder
        img(src="img/A4_Brochure_Mockup_2-trans 2.png", alt="slide img")

    .slides-back_text каталог

  .slides.slides_5.type-4

    .slides-side__left
      .slider-title
        .slider-title__sub Высококачественная полиграфия
        .slider-title__outer_fit Дешевле флаера!
        .slider-title__outer_bold.-pink сборный тираж
          //- .elemment-blue .

      button.button-order посчитать заказ
      
      .text-cursive Просчитайте заказ у нас и 
        .elemment-pink получите скидку!

    .slides-side__right
      .image-holder
        img(src="img/image 7.png", alt="slide img")

    .slides-back_text каталог
  

a(href="#")#prev-slide.slide__button._prev
    span.slide__button_arrow

a(href="#")#next-slide.slide__button._next
  span.slide__button_arrow