.slider__wrap
  .slides.slides_1.fade
    h1 text 1
  .slides.slides_2.fade
    h1 text 2
  .slides.slides_3.fade
    h1 text 3

  #prev-slide.slide__button.slide__button_prev #prev-slide
  #next-slide.slide__button.slide__button_next #next-slide