.slider__wrap

  .slides.slides_1

    .slides-side__left
      .slider-title
        .slider-title__sub Высококачественная полиграфия
        .slider-title__outer_fit Компании необходим 
        .slider-title__outer_bold буклет
          .elemment-pink .

      button.button-order посчитать заказ
      
      .text-cursive Просчитайте заказ у нас и 
        .elemment-pink получите скидку!

    .slides-side__right
      .image-holder
        img(src="img/buklet-trans 2.png", alt="slide img")



  a(href="#")#prev-slide.slide__button._prev
      span.slide__button_arrow

  a(href="#")#next-slide.slide__button._next
    span.slide__button_arrow