#owl-carousel_1.slider__wrap.owl-carousel
  .slides.slides_1

    .slides-side__left
      .slider-title
        .slider-title__sub Высококачественная полиграфия
        .slider-title__outer_fit Компании нужен 
        .slider-title__outer_bold.-pink буклет
          span.elemment-pink .

      button(data-modal-open="#modal-order", onclick="window.location.href='/order-modal.html'").button-order 
        span посчитать заказ
      
      .text-cursive Просчитайте заказ у нас и 
        .elemment-pink получите скидку!

    .slides-side__right
      .image-holder
        img(src="img/buklet-trans 2.png", alt="slide img")

    .slides-back_text буклет

  .slides.slides_2.type-1

    .slides-side__left
      .slider-title
        .slider-title__sub Высококачественная полиграфия
        .slider-title__outer_fit Компании нужен 
        .slider-title__outer_bold.-blue постер
          span.elemment-blue .

      button(data-modal-open="#modal-order", onclick="window.location.href='/order-modal.html'").button-order 
        span посчитать заказ
      
      .text-cursive Просчитайте заказ у нас и 
        .elemment-pink получите скидку!

    .slides-side__right
      .image-holder
        img(src="/img/poster.png", alt="slide img")

    .slides-back_text постер

  .slides.slides_3.type-2

      .slides-side__left
        .slider-title
          .slider-title__sub Высококачественная полиграфия
          .slider-title__outer_fit Выпускаете
          .slider-title__outer_bold.-pink журнал
            span.elemment-pink .

        button(data-modal-open="#modal-order", onclick="window.location.href='/order-modal.html'").button-order 
          span посчитать заказ
        
        .text-cursive Просчитайте заказ у нас и 
          .elemment-pink получите скидку!

      .slides-side__right
        .image-holder
          img(src="/img/Mockup_A4_Brochure_5-trans 2.png", alt="slide img")

      .slides-back_text журнал

  .slides.slides_4.type-3

    .slides-side__left
      .slider-title
        .slider-title__sub Высококачественная полиграфия
        .slider-title__outer_fit Магазину нужен
        .slider-title__outer_bold.-blue каталог
          span.elemment-blue .

      button(data-modal-open="#modal-order", onclick="window.location.href='/order-modal.html'").button-order 
        span посчитать заказ
      
      .text-cursive Просчитайте заказ у нас и 
        span.elemment-pink получите скидку!

    .slides-side__right
      .image-holder
        img(src="/img/A4_Brochure_Mockup_2-trans 2.png", alt="slide img")

    .slides-back_text каталог

  .slides.slides_5.type-4

    .slides-side__left
      .slider-title
        .slider-title__sub Высококачественная полиграфия
        .slider-title__outer_fit Дешевле флаера!
        .slider-title__outer_bold.-pink сборный тираж
          span.elemment-blue .

      button(data-modal-open="#modal-order", onclick="window.location.href='/order-modal.html'").button-order 
        span посчитать заказ
      
      .text-cursive Просчитайте заказ у нас и 
        span.elemment-pink получите скидку!

    .slides-side__right
      .image-holder
        img(src="/img/image 7.png", alt="slide img")

    .slides-back_text каталог
  

a(href="#")#prev-slide.slide__button._prev
  <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle cx="35" cy="35" r="35" fill="white"/> 
    <line x1="20.125" y1="35.75" x2="50.75" y2="35.75" stroke="#EB008B" stroke-width="2"/>
    <path d="M34.881 51.387L19.25 35.756L34.881 20.125" stroke="#EB008B" stroke-width="2"/>
  </svg>

a(href="#")#next-slide.slide__button._next
  <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle cx="35" cy="35" r="35" transform="rotate(180 35 35)" fill="white"/>
    <line x1="49.875" y1="34.25" x2="19.25" y2="34.25" stroke="#EB008B" stroke-width="2"/>
    <path d="M35.119 18.613L50.75 34.244L35.119 49.875" stroke="#EB008B" stroke-width="2"/>
  </svg>

  
