extends partials/layout

block vars
	- var title = "Art Print"

block content
	#logo-wrapper.logo-wrapper
		a.logo-wrapper__link(href="index.html")
			img.logo(src='img/logo.svg', id='logo')
	include partials/menu
	include partials/navigation

	h1 Art Print
