extends partials/layout

block vars
	- var title = "Art Print"

block content
	include partials/main-content
	include partials/services
	include partials/notes
	include partials/section-team
	include partials/modals
