extends partials/layout-order

block content

    #modal-order.app-dialog
        div.modal__logo
            <svg class="bird-img" width="60" height="45" viewBox="0 0 120 90" fill="none" xmlns="http://www.w3.org/2000/svg">        
                <path class="bird__arrow-back" fill-rule="evenodd" clip-rule="evenodd" d="M49.4 0.0221985C16.2 1.3222 0 41.5222 0 41.5222C0 41.5222 7.2 36.6222 15.9 37.6222C24.5 38.6222 36.9 56.6222 47.9 57.5222C58.6 58.4222 80.4 49.7222 81.9 30.3222C83.4 11.0222 67.1 -0.577802 49.4 0.0221985Z" fill="#FFF100"/>
                <path class="bird__tail" fill-rule="evenodd" clip-rule="evenodd" d="M66.5997 14.8221C50.5997 3.82213 32.3997 12.1221 24.0997 27.8221C8.59973 57.1221 35.3997 91.3221 35.3997 91.3221C35.3997 91.3221 34.7997 82.6221 39.9997 75.6221C45.1997 68.6221 66.8997 66.9221 73.1997 57.8221C79.2997 49.0221 82.5997 25.8221 66.5997 14.8221Z" fill="#00ADEE"/>
                <path class="bird__body" fill-rule="evenodd" clip-rule="evenodd" d="M57.6 1.32229C40.2 5.32229 27.5 20.8223 34 39.0223C40.5 57.3223 63.7 60.1223 73.9 56.4223C84.3 52.7223 91.6 32.2223 99.7 29.0223C107.8 25.8223 116 28.6223 116 28.6223C116 28.6223 89.9 -6.07771 57.6 1.32229ZM97.3 20.1223C96.5 21.5223 94.8 21.9223 93.4 21.1223C92 20.3223 91.6 18.6223 92.4 17.2223C93.2 15.8223 94.9 15.4223 96.3 16.2223C97.6 17.0223 98 18.7223 97.3 20.1223Z" fill="#000001"/>
                <path class="bird__arrow-front" fill-rule="evenodd" clip-rule="evenodd" d="M84.0999 32.0223C80.5999 13.0223 61.7999 5.9223 44.7999 11.1223C13.0999 20.9223 7.8999 64.0223 7.8999 64.0223C7.8999 64.0223 13.5999 57.4223 22.1999 56.1223C30.7999 54.8223 47.3999 69.0223 58.2999 67.0223C68.8999 65.2223 87.5999 51.1223 84.0999 32.0223Z" fill="#EB008B"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M67.6002 30.5222C67.6002 24.0222 64.3002 20.5222 58.9002 20.5222C48.5002 20.5222 41.7002 34.2222 41.7002 44.0222C41.7002 51.1222 45.6002 53.9222 49.3002 53.9222C56.1002 53.9222 59.1002 47.6222 59.1002 46.0222C59.1002 44.9222 58.3002 43.9222 57.1002 43.9222C56.3002 43.9222 55.6002 44.4222 55.3002 45.1222C54.4002 47.6222 52.5002 49.9222 49.9002 49.9222C47.4002 49.9222 45.8002 47.4222 45.8002 43.9222C45.8002 35.3222 51.2002 24.4222 58.4002 24.4222C60.9002 24.4222 63.3002 26.1222 63.3002 30.6222C63.3002 33.9222 62.6002 37.6222 62.1002 41.1222C61.6002 44.5222 61.1002 47.1222 61.1002 49.1222C61.1002 51.0222 61.7002 53.6222 63.7002 53.6222C64.8002 53.6222 65.9002 52.7222 65.9002 51.6222C65.9002 51.1222 65.7002 50.8222 65.5002 50.5222C65.4002 50.2222 65.3002 49.8222 65.3002 49.3222C65.3002 47.4222 65.9002 44.2222 66.2002 41.7222C67.1002 38.2222 67.6002 34.1222 67.6002 30.5222Z" fill="white"/>
                <circle class="bird__eye" cx="94" cy="19" r="4" fill="#000001"/>
            </svg>
            <svg class="logo-text" width="191" height="27" viewBox="0 0 191 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.17588 2.54002H10.3479L17.3679 21H13.6759L11.9599 16.398H5.51188L3.82188 21H0.129883L7.17588 2.54002ZM11.3099 13.876L8.76188 6.62202L6.10988 13.876H11.3099Z" fill="black"/>
                <path d="M27.1666 10.392C26.1093 10.4094 25.1646 10.6174 24.3326 11.016C23.5006 11.3974 22.9026 11.978 22.5386 12.758V21H19.0546V7.37602H22.2526V10.288C22.4953 9.82002 22.7813 9.40402 23.1106 9.04002C23.44 8.65869 23.7953 8.32935 24.1766 8.05202C24.558 7.77469 24.9393 7.56669 25.3206 7.42802C25.7193 7.27202 26.1006 7.19402 26.4646 7.19402C26.6553 7.19402 26.794 7.19402 26.8806 7.19402C26.9846 7.19402 27.08 7.20269 27.1666 7.22002V10.392Z" fill="black"/>
                <path d="M37.2733 20.298C36.8053 20.506 36.2333 20.714 35.5573 20.922C34.8813 21.13 34.1707 21.234 33.4253 21.234C32.94 21.234 32.4807 21.1734 32.0473 21.052C31.6313 20.9307 31.2587 20.74 30.9293 20.48C30.6173 20.2027 30.366 19.856 30.1753 19.44C29.9847 19.0067 29.8893 18.4867 29.8893 17.88V10.054H28.0953V7.37602H29.8893V2.95602H33.3733V7.37602H36.2333V10.054H33.3733V16.71C33.3733 17.1954 33.4947 17.542 33.7373 17.75C33.9973 17.9407 34.3093 18.036 34.6733 18.036C35.0373 18.036 35.3927 17.9754 35.7393 17.854C36.086 17.7327 36.3633 17.6287 36.5713 17.542L37.2733 20.298Z" fill="black"/>
                <path d="M38.7813 15.436V12.29H46.6593V15.436H38.7813Z" fill="black"/>
                <path d="M57.8905 21.26C56.8158 21.26 55.8798 21.026 55.0825 20.558C54.2852 20.0727 53.6612 19.4227 53.2105 18.608V26.538H49.7265V7.37602H52.7685V9.71602C53.2712 8.91869 53.9212 8.29469 54.7185 7.84402C55.5158 7.37602 56.4345 7.14202 57.4745 7.14202C58.3932 7.14202 59.2425 7.33269 60.0225 7.71402C60.8025 8.07802 61.4698 8.58069 62.0245 9.22202C62.5965 9.84602 63.0385 10.5914 63.3505 11.458C63.6798 12.3074 63.8445 13.2087 63.8445 14.162C63.8445 15.15 63.6972 16.0774 63.4025 16.944C63.1078 17.8107 62.6918 18.5647 62.1545 19.206C61.6345 19.8474 61.0105 20.35 60.2825 20.714C59.5545 21.078 58.7572 21.26 57.8905 21.26ZM56.7205 18.296C57.2405 18.296 57.7172 18.1834 58.1505 17.958C58.6012 17.7327 58.9825 17.4294 59.2945 17.048C59.6065 16.6667 59.8492 16.2247 60.0225 15.722C60.1958 15.2194 60.2825 14.6994 60.2825 14.162C60.2825 13.59 60.1872 13.0614 59.9965 12.576C59.8058 12.0734 59.5372 11.64 59.1905 11.276C58.8612 10.912 58.4625 10.626 57.9945 10.418C57.5438 10.21 57.0498 10.106 56.5125 10.106C56.1832 10.106 55.8452 10.1667 55.4985 10.288C55.1518 10.392 54.8312 10.548 54.5365 10.756C54.2418 10.964 53.9732 11.2067 53.7305 11.484C53.5052 11.7614 53.3318 12.0647 53.2105 12.394V15.592C53.5225 16.372 53.9992 17.022 54.6405 17.542C55.2818 18.0447 55.9752 18.296 56.7205 18.296Z" fill="black"/>
                <path d="M74.317 10.392C73.2597 10.4094 72.315 10.6174 71.483 11.016C70.651 11.3974 70.053 11.978 69.689 12.758V21H66.205V7.37602H69.403V10.288C69.6457 9.82002 69.9317 9.40402 70.261 9.04002C70.5904 8.65869 70.9457 8.32935 71.327 8.05202C71.7084 7.77469 72.0897 7.56669 72.471 7.42802C72.8697 7.27202 73.251 7.19402 73.615 7.19402C73.8057 7.19402 73.9444 7.19402 74.031 7.19402C74.135 7.19402 74.2304 7.20269 74.317 7.22002V10.392Z" fill="black"/>
                <path d="M76.2597 21V7.37602H79.7437V21H76.2597Z" fill="black"/>
                <path d="M95.5487 21H92.0647V13.356C92.0647 12.264 91.874 11.4667 91.4927 10.964C91.1113 10.4614 90.5827 10.21 89.9067 10.21C89.56 10.21 89.2047 10.2794 88.8407 10.418C88.4767 10.5567 88.13 10.756 87.8007 11.016C87.4887 11.2587 87.2027 11.5534 86.9427 11.9C86.6827 12.2467 86.492 12.628 86.3707 13.044V21H82.8867V7.37602H86.0327V9.89802C86.5353 9.03135 87.2633 8.35535 88.2167 7.87002C89.17 7.38469 90.2447 7.14202 91.4407 7.14202C92.29 7.14202 92.9833 7.29802 93.5207 7.61002C94.058 7.92202 94.474 8.32935 94.7687 8.83202C95.0633 9.33469 95.2627 9.90669 95.3667 10.548C95.488 11.1894 95.5487 11.8394 95.5487 12.498V21Z" fill="black"/>
                <path d="M106.615 20.298C106.147 20.506 105.575 20.714 104.899 20.922C104.223 21.13 103.512 21.234 102.767 21.234C102.282 21.234 101.822 21.1734 101.389 21.052C100.973 20.9307 100.6 20.74 100.271 20.48C99.9591 20.2027 99.7078 19.856 99.5171 19.44C99.3265 19.0067 99.2311 18.4867 99.2311 17.88V10.054H97.4371V7.37602H99.2311V2.95602H102.715V7.37602H105.575V10.054H102.715V16.71C102.715 17.1954 102.836 17.542 103.079 17.75C103.339 17.9407 103.651 18.036 104.015 18.036C104.379 18.036 104.734 17.9754 105.081 17.854C105.428 17.7327 105.705 17.6287 105.913 17.542L106.615 20.298Z" fill="black"/>
                <path d="M119.824 21.26C118.68 21.26 117.562 21.078 116.47 20.714C115.378 20.35 114.442 19.83 113.662 19.154L114.962 16.97C115.794 17.5594 116.6 18.01 117.38 18.322C118.177 18.6167 118.966 18.764 119.746 18.764C120.439 18.764 120.985 18.634 121.384 18.374C121.782 18.114 121.982 17.7414 121.982 17.256C121.982 16.7707 121.748 16.4154 121.28 16.19C120.812 15.9647 120.049 15.7047 118.992 15.41C118.108 15.1674 117.354 14.9334 116.73 14.708C116.106 14.4827 115.603 14.2314 115.222 13.954C114.84 13.6594 114.563 13.33 114.39 12.966C114.216 12.5847 114.13 12.134 114.13 11.614C114.13 10.9207 114.26 10.2967 114.52 9.74202C114.797 9.18735 115.178 8.71935 115.664 8.33802C116.149 7.93935 116.712 7.63602 117.354 7.42802C118.012 7.22002 118.723 7.11602 119.486 7.11602C120.508 7.11602 121.462 7.26335 122.346 7.55802C123.247 7.85269 124.07 8.32935 124.816 8.98802L123.412 11.094C122.718 10.574 122.042 10.1927 121.384 9.95002C120.742 9.70735 120.101 9.58602 119.46 9.58602C118.87 9.58602 118.376 9.70735 117.978 9.95002C117.579 10.1927 117.38 10.5827 117.38 11.12C117.38 11.3627 117.423 11.562 117.51 11.718C117.614 11.874 117.77 12.0127 117.978 12.134C118.186 12.2554 118.454 12.3767 118.784 12.498C119.13 12.602 119.555 12.7147 120.058 12.836C120.994 13.0787 121.791 13.3214 122.45 13.564C123.126 13.8067 123.672 14.084 124.088 14.396C124.521 14.708 124.833 15.072 125.024 15.488C125.232 15.8867 125.336 16.372 125.336 16.944C125.336 18.2787 124.842 19.336 123.854 20.116C122.866 20.8787 121.522 21.26 119.824 21.26Z" fill="black"/>
                <path d="M135.764 20.298C135.296 20.506 134.724 20.714 134.048 20.922C133.372 21.13 132.661 21.234 131.916 21.234C131.43 21.234 130.971 21.1734 130.538 21.052C130.122 20.9307 129.749 20.74 129.42 20.48C129.108 20.2027 128.856 19.856 128.666 19.44C128.475 19.0067 128.38 18.4867 128.38 17.88V10.054H126.586V7.37602H128.38V2.95602H131.864V7.37602H134.724V10.054H131.864V16.71C131.864 17.1954 131.985 17.542 132.228 17.75C132.488 17.9407 132.8 18.036 133.164 18.036C133.528 18.036 133.883 17.9754 134.23 17.854C134.576 17.7327 134.854 17.6287 135.062 17.542L135.764 20.298Z" fill="black"/>
                <path d="M141.738 21.26C140.334 21.26 139.268 20.8094 138.54 19.908C137.812 19.0067 137.448 17.672 137.448 15.904V7.37602H140.932V15.15C140.932 17.2474 141.686 18.296 143.194 18.296C143.87 18.296 144.52 18.0967 145.144 17.698C145.785 17.282 146.305 16.658 146.704 15.826V7.37602H150.188V16.996C150.188 17.36 150.249 17.62 150.37 17.776C150.509 17.932 150.725 18.0187 151.02 18.036V21C150.673 21.0694 150.379 21.1127 150.136 21.13C149.911 21.1474 149.703 21.156 149.512 21.156C148.888 21.156 148.377 21.0174 147.978 20.74C147.597 20.4454 147.371 20.0467 147.302 19.544L147.224 18.452C146.617 19.388 145.837 20.09 144.884 20.558C143.931 21.026 142.882 21.26 141.738 21.26Z" fill="black"/>
                <path d="M159.292 21.26C158.356 21.26 157.49 21.078 156.692 20.714C155.895 20.35 155.21 19.8474 154.638 19.206C154.066 18.5647 153.616 17.8194 153.286 16.97C152.974 16.1034 152.818 15.176 152.818 14.188C152.818 13.2 152.966 12.2814 153.26 11.432C153.572 10.5827 153.997 9.83735 154.534 9.19602C155.072 8.55469 155.713 8.05202 156.458 7.68802C157.204 7.32402 158.018 7.14202 158.902 7.14202C159.908 7.14202 160.809 7.38469 161.606 7.87002C162.421 8.35535 163.054 8.98802 163.504 9.76802V2.02002H166.988V16.996C166.988 17.36 167.049 17.62 167.17 17.776C167.292 17.932 167.5 18.0187 167.794 18.036V21C167.188 21.1214 166.694 21.182 166.312 21.182C165.688 21.182 165.177 21.026 164.778 20.714C164.38 20.402 164.154 19.9947 164.102 19.492L164.024 18.634C163.522 19.5007 162.837 20.1594 161.97 20.61C161.121 21.0434 160.228 21.26 159.292 21.26ZM160.202 18.296C160.532 18.296 160.87 18.244 161.216 18.14C161.563 18.0187 161.884 17.854 162.178 17.646C162.473 17.438 162.733 17.1954 162.958 16.918C163.201 16.6407 163.383 16.3374 163.504 16.008V12.758C163.366 12.3767 163.166 12.03 162.906 11.718C162.664 11.3887 162.378 11.1114 162.048 10.886C161.736 10.6434 161.398 10.4527 161.034 10.314C160.688 10.1754 160.341 10.106 159.994 10.106C159.474 10.106 158.989 10.2187 158.538 10.444C158.105 10.6694 157.732 10.9814 157.42 11.38C157.108 11.7614 156.866 12.2034 156.692 12.706C156.519 13.2087 156.432 13.7287 156.432 14.266C156.432 14.838 156.528 15.3667 156.718 15.852C156.909 16.3374 157.169 16.762 157.498 17.126C157.828 17.49 158.218 17.776 158.668 17.984C159.136 18.192 159.648 18.296 160.202 18.296Z" fill="black"/>
                <path d="M170.408 21V7.37602H173.892V21H170.408Z" fill="black"/>
                <path d="M183.327 21.26C182.218 21.26 181.221 21.0694 180.337 20.688C179.453 20.3067 178.699 19.7954 178.075 19.154C177.468 18.4954 177 17.7414 176.671 16.892C176.342 16.0427 176.177 15.15 176.177 14.214C176.177 13.2607 176.342 12.3594 176.671 11.51C177 10.6607 177.468 9.91535 178.075 9.27402C178.699 8.61535 179.453 8.09535 180.337 7.71402C181.221 7.33269 182.218 7.14202 183.327 7.14202C184.436 7.14202 185.424 7.33269 186.291 7.71402C187.175 8.09535 187.92 8.61535 188.527 9.27402C189.151 9.91535 189.628 10.6607 189.957 11.51C190.286 12.3594 190.451 13.2607 190.451 14.214C190.451 15.15 190.286 16.0427 189.957 16.892C189.628 17.7414 189.16 18.4954 188.553 19.154C187.946 19.7954 187.201 20.3067 186.317 20.688C185.433 21.0694 184.436 21.26 183.327 21.26ZM179.765 14.214C179.765 14.8207 179.852 15.3754 180.025 15.878C180.216 16.3634 180.467 16.788 180.779 17.152C181.108 17.516 181.49 17.802 181.923 18.01C182.356 18.2007 182.824 18.296 183.327 18.296C183.83 18.296 184.298 18.2007 184.731 18.01C185.164 17.802 185.537 17.516 185.849 17.152C186.178 16.788 186.43 16.3547 186.603 15.852C186.794 15.3494 186.889 14.7947 186.889 14.188C186.889 13.5987 186.794 13.0527 186.603 12.55C186.43 12.0474 186.178 11.614 185.849 11.25C185.537 10.886 185.164 10.6087 184.731 10.418C184.298 10.21 183.83 10.106 183.327 10.106C182.824 10.106 182.356 10.21 181.923 10.418C181.49 10.626 181.108 10.912 180.779 11.276C180.467 11.64 180.216 12.0734 180.025 12.576C179.852 13.0787 179.765 13.6247 179.765 14.214Z" fill="black"/>
                <circle cx="78" cy="3" r="3" fill="#EB008B"/>
                <circle cx="172" cy="3" r="3" fill="#00ADEE"/>
            </svg>

        .app-dialog-content
            a(href="/").close-modal
            .modal
                .modal__left
                    .modal__title посчитать <br> заказ

                    .text-cursive 
                        | Просчитайте заказ у нас 
                        br 
                        span.pink-title
                            | и 
                            .elemment-pink получите скидку!

                    .modal__text Цены являются приблизительными, для уточнения обращайтесь к менеджеру по телефонам.

                    .wrap-modal__calc--desc
                        .modal__order Ваш заказ
                        .modal__order-item Стоимость готовой продукции: 
                            span.modal__order-item.modal__order-item_bold 0 грн.
                        .modal__order-item Цена за один экземпляр: 
                            span.modal__order-item.modal__order-item_bold 0 грн./екз
                        .modal__order-item Вес заказа: 
                            span.modal__order-item.modal__order-item_bold 0 кг
                        button#submit-main-form.button-order.__long
                            span оформить заказ

                .modal__right.form
                    form#main-form-modal
                        .form__title ваши данные
                        div#form-input-wrap1
                            input#form-input1.form__input(type="name", name="name", placeholder="Ваше имя")
                        div#form-input-wrap2
                            input#form-input2.form__input(type="number", name="tell", placeholder="Телефон")
                        div#form-input-wrap3
                            input#form-input3.form__input(type="email", name="email", placeholder="E-mail")
                        div#form-input-wrap4
                            textarea#form-input4.form__input(type="text", name="comment", placeholder="Комментарий")



                        .form__title калькулятор печати
                        div.select__wrap
                            select#formCalc1.form__select.form__select1( required )
                                option(value="" disabled selected data-display='Выберите продукцию') Выберите продукцию
                                option(value='1') 1
                                option(value='2') 2
                                option(value='3') 3
                            select#formCalc2.form__select.form__select2( required )
                                option(value="" disabled selected data-display='Формат готового изделия') Формат готового изделия
                                option(value='1') 1
                                option(value='2') 2
                                option(value='3') 3
                            select#formCalc3.form__select.form__select3( required )
                                option(value="" disabled selected data-display='Вид') Вид
                                option(value='1') 1
                                option(value='2') 2
                                option(value='3') 3
                            select#formCalc4.form__select.form__select4( required )
                                option(value="" disabled selected data-display='Тип скрепления') Тип скрепления
                                option(value='1') 1
                                option(value='2') 2
                                option(value='3') 3
                        //- | Заказать Цветопробу
                        .form__title блок
                        div.select__wrap
                            select#formCalc5.form__select.form__select5( required )
                                option(value="" disabled selected data-display='Количество страниц в блоке') Количество страниц в блоке
                                option(value='1') 1
                                option(value='2') 2
                                option(value='3') 3
                            select#formCalc6.form__select.form__select6( required )
                                option(value="" disabled selected data-display='Цветность') Цветность
                                option(value='1') 1
                                option(value='2') 2
                                option(value='3') 3
                            select#formCalc7.form__select.form__select7( required )
                                option(value="" disabled selected data-display='Бумага') Бумага
                                option(value='1') 1
                                option(value='2') 2
                                option(value='3') 3
                            select#formCalc8.form__select.form__select8( required )
                                option(value="" disabled selected data-display='Покрытие') Покрытие
                                option(value='1') 1
                                option(value='2') 2
                                option(value='3') 3

                        .form__title обложка
                        div.select__wrap
                            select#formCalc9.form__select.form__select9( required )
                                option(value="" disabled selected data-display='Количество страниц в блоке') Количество страниц в блоке
                                option(value='1') 1
                                option(value='2') 2
                                option(value='3') 3
                            select#formCalc10.form__select.form__select10( required )
                                option(value="" disabled selected data-display='Цветность') Цветность
                                option(value='1') 1
                                option(value='2') 2
                                option(value='3') 3
                            select#formCalc11.form__select.form__select11( required )
                                option(value="" disabled selected data-display='Бумага') Бумага
                                option(value='1') 1
                                option(value='2') 2
                                option(value='3') 3
                            select#formCalc12.form__select.form__select12( required )
                                option(value="" disabled selected data-display='Покрытие') Покрытие
                                option(value='1') 1
                                option(value='2') 2
                                option(value='3') 3

                        .form__title количество экземпляров
                        div#form-input-wrap5
                            input#form-input5.form__input(type="number", name="count")

                        button#form-submit(type="submit" style="display: none")

                    .mobile-order__calc

                        .modal__order Ваш заказ
                        .modal__order-item Стоимость готовой продукции: 
                            span.modal__order-item.modal__order-item_bold 0 грн.
                        .modal__order-item Цена за один экземпляр: 
                            span.modal__order-item.modal__order-item_bold 0 грн./екз
                        .modal__order-item Вес заказа: 
                            span.modal__order-item.modal__order-item_bold 0 кг
                        .centered-button
                            button.button-order.__long 
                                span оформить заказ

        .strip-wrapper__bottom
            .strip.strip__bottom

        .strip-wrapper__top
        .strip.strip__top
