extends partials/layout-order

block content

    #modal-order.app-dialog
        img.modal__logo(src="/img/modal/logo.svg", alt="logo")

        .app-dialog-content
            a(href="/").close-modal
            .modal
                .modal__left
                    .modal__title посчитать <br> заказ

                    .text-cursive 
                        | Просчитайте заказ у нас 
                        br 
                        span.pink-title
                            | и 
                            .elemment-pink получите скидку!

                    .modal__text Цены являются приблизительными, для уточнения обращайтесь к менеджеру по телефонам.

                    .wrap-modal__calc--desc
                        .modal__order Ваш заказ
                        .modal__order-item Стоимость готовой продукции: 
                            span.modal__order-item.modal__order-item_bold 0 грн.
                        .modal__order-item Цена за один экземпляр: 
                            span.modal__order-item.modal__order-item_bold 0 грн./екз
                        .modal__order-item Вес заказа: 
                            span.modal__order-item.modal__order-item_bold 0 кг
                        button#submit-main-form.button-order.__long
                            span оформить заказ

                .modal__right.form
                    form#main-form-modal
                        .form__title ваши данные
                        div#form-input-wrap
                            input#form-input.form__input(type="name", name="name", placeholder="Ваше имя")
                        div#form-input-wrap
                            input#form-input.form__input(type="number", name="tell", placeholder="Телефон")
                        div#form-input-wrap
                            input#form-input.form__input(type="email", name="email", placeholder="E-mail")
                        div#form-input-wrap
                            textarea#form-input.form__input(type="text", name="comment", placeholder="Комментарий")



                        .form__title калькулятор печати
                        div.select__wrap
                            select#formCalc1.form__select.form__select1( required )
                                option(value="" disabled selected data-display='Выберите продукцию') Выберите продукцию
                                option(value='1') 1
                                option(value='2') 2
                                option(value='3') 3
                            select#formCalc2.form__select.form__select2( required )
                                option(value="" disabled selected data-display='Формат готового изделия') Формат готового изделия
                                option(value='1') 1
                                option(value='2') 2
                                option(value='3') 3
                            select#formCalc3.form__select.form__select3( required )
                                option(value="" disabled selected data-display='Вид') Вид
                                option(value='1') 1
                                option(value='2') 2
                                option(value='3') 3
                            select#formCalc4.form__select.form__select4( required )
                                option(value="" disabled selected data-display='Тип скрепления') Тип скрепления
                                option(value='1') 1
                                option(value='2') 2
                                option(value='3') 3
                        //- | Заказать Цветопробу
                        .form__title блок
                        div.select__wrap
                            select#formCalc5.form__select.form__select5( required )
                                option(value="" disabled selected data-display='Количество страниц в блоке') Количество страниц в блоке
                                option(value='1') 1
                                option(value='2') 2
                                option(value='3') 3
                            select#formCalc6.form__select.form__select6( required )
                                option(value="" disabled selected data-display='Цветность') Цветность
                                option(value='1') 1
                                option(value='2') 2
                                option(value='3') 3
                            select#formCalc7.form__select.form__select7( required )
                                option(value="" disabled selected data-display='Бумага') Бумага
                                option(value='1') 1
                                option(value='2') 2
                                option(value='3') 3
                            select#formCalc8.form__select.form__select8( required )
                                option(value="" disabled selected data-display='Покрытие') Покрытие
                                option(value='1') 1
                                option(value='2') 2
                                option(value='3') 3

                        .form__title обложка
                        div.select__wrap
                            select#formCalc9.form__select.form__select9( required )
                                option(value="" disabled selected data-display='Количество страниц в блоке') Количество страниц в блоке
                                option(value='1') 1
                                option(value='2') 2
                                option(value='3') 3
                            select#formCalc10.form__select.form__select10( required )
                                option(value="" disabled selected data-display='Цветность') Цветность
                                option(value='1') 1
                                option(value='2') 2
                                option(value='3') 3
                            select#formCalc11.form__select.form__select11( required )
                                option(value="" disabled selected data-display='Бумага') Бумага
                                option(value='1') 1
                                option(value='2') 2
                                option(value='3') 3
                            select#formCalc12.form__select.form__select12( required )
                                option(value="" disabled selected data-display='Покрытие') Покрытие
                                option(value='1') 1
                                option(value='2') 2
                                option(value='3') 3

                        .form__title количество экземпляров
                        div#form-input-wrap
                            input#form-input.form__input(type="number", name="count")

                        button#form-submit(type="submit" style="display: none")

                    .mobile-order__calc

                        .modal__order Ваш заказ
                        .modal__order-item Стоимость готовой продукции: 
                            span.modal__order-item.modal__order-item_bold 0 грн.
                        .modal__order-item Цена за один экземпляр: 
                            span.modal__order-item.modal__order-item_bold 0 грн./екз
                        .modal__order-item Вес заказа: 
                            span.modal__order-item.modal__order-item_bold 0 кг
                        .centered-button
                            button.button-order.__long 
                                span оформить заказ

        .strip-wrapper__bottom
            .strip.strip__bottom

        .strip-wrapper__top
        .strip.strip__top
